<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - HW AOC</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="aoc.html" class="back-link">← Retour</a>
        <h1 class="main-title">HW AOC - ITEMS</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-2-columns">
            <div class="inventory-section">
                <h2 class="section-title">Équipement</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">

                        <div class="item-wrapper">
                            <img src="../images/AOC/easy.png" 
                            class="item" 
                            id="aoc-f-easy"
                            data-max="226"
                            data-name="0"
                            onclick="toggleItem('aoc-f-easy')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/AOC/medium.png" 
                            class="item" 
                            id="aoc-f-medium"
                            data-max="226"
                            data-name="0"
                            onclick="toggleItem('aoc-f-medium')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/AOC/hard.png" 
                            class="item" 
                            id="aoc-f-hard"
                            data-max="226"
                            data-name="0"
                            onclick="toggleItem('aoc-f-hard')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/AOC/hero.png" 
                            class="item" 
                            id="aoc-f-hero"
                            data-max="226"
                            data-name="0"
                            onclick="toggleItem('aoc-f-hero')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/AOC/catalyste.png" 
                            class="item" 
                            id="aoc-f-catalyste"
                            data-max="226"
                            data-name="0"
                            onclick="toggleItem('aoc-f-catalyste')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/AOC/korok.png" 
                            class="item" 
                            id="aoc-f-korok"
                            data-max="134"
                            data-name="0"
                            onclick="toggleItem('aoc-f-korok')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/AOC/chest.png" 
                            class="item" 
                            id="aoc-f-chest"
                            data-max="206"
                            data-name="0"
                            onclick="toggleItem('aoc-f-chest')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/AOC/all.png" 
                            class="item" 
                            id="aoc-f-all"
                            data-max="132"
                            data-name="0"
                            onclick="toggleItem('aoc-f-all')">
                            <p class="item-name">0</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Ganon</h2>
                <div class="inventory-card dark-card">
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/AOC/ganon.png" class="item boss-item" id="aoc-f-ganon" onclick="toggleItem('aoc-f-ganon')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>