<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HW AOC - Choisir le Menu</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="../index.html" class="back-link">← Retour</a>
        <h1 class="main-title">HYRULE WARRIORS L'ÈRE DU FLÉAU</h1>
    </header>

    <div class="quest-container main-content">
        <a href="aoc-tracker.html" class="quest-card">
            <img src="../images/AOC/tracker.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">Tracker</span>
                <h2>Hyrule Warriors L'Ère du Fléau</h2>
                <p>Le tracker global</p>
            </div>
        </a>

        <a href="aoc-link.html" class="quest-card hw-warriors">
            <img src="../images/AOC/link.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Link</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Link</p>
            </div>
        </a>

        <a href="aoc-impa.html" class="quest-card hw-warriors">
            <img src="../images/AOC/impa.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Impa</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats d'Impa</p>
            </div>
        </a>

        <a href="aoc-zelda.html" class="quest-card hw-warriors">
            <img src="../images/AOC/zelda.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Zelda</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Zelda</p>
            </div>
        </a>

        <a href="aoc-mipha.html" class="quest-card hw-warriors">
            <img src="../images/AOC/mipha.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Mipha</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Mipha</p>
            </div>
        </a>

        <a href="aoc-daruk.html" class="quest-card hw-warriors">
            <img src="../images/AOC/daruk.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Daruk</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Daruk</p>
            </div>
        </a>

        <a href="aoc-revali.html" class="quest-card hw-warriors">
            <img src="../images/AOC/revali.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Revali</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Revali</p>
            </div>
        </a>

        <a href="aoc-urbosa.html" class="quest-card hw-warriors">
            <img src="../images/AOC/urbosa.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Urbosa</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Urbosa</p>
            </div>
        </a>

        <a href="aoc-deku.html" class="quest-card hw-warriors">
            <img src="../images/AOC/deku.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Noïa</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Noïa</p>
            </div>
        </a>

        <a href="aoc-sidon.html" class="quest-card hw-warriors">
            <img src="../images/AOC/sidon.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Sidon</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Sidon</p>
            </div>
        </a>

        <a href="aoc-yunobo.html" class="quest-card hw-warriors">
            <img src="../images/AOC/yunobo.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Yunobo</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Yunobo</p>
            </div>
        </a>

        <a href="aoc-teba.html" class="quest-card hw-warriors">
            <img src="../images/AOC/teba.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Teba</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Teba</p>
            </div>
        </a>

        <a href="aoc-riju.html" class="quest-card hw-warriors">
            <img src="../images/AOC/riju.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Riju</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Riju</p>
            </div>
        </a>

        <a href="aoc-kohga.html" class="quest-card hw-warriors">
            <img src="../images/AOC/kohga.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Kohga</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Kohga</p>
            </div>
        </a>

        <a href="aoc-rhoam.html" class="quest-card hw-warriors">
            <img src="../images/AOC/rhoam.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Rhoam</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Rhoam</p>
            </div>
        </a>

        <a href="aoc-fairy.html" class="quest-card hw-warriors">
            <img src="../images/AOC/fairy.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Les Grandes Fées</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats des Grandes Fées</p>
            </div>
        </a>

        <a href="aoc-koshia.html" class="quest-card hw-warriors">
            <img src="../images/AOC/koshia.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Miz'Kyosia</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Miz'Kyosia</p>
            </div>
        </a>

        <a href="aoc-terrako.html" class="quest-card hw-warriors">
            <img src="../images/AOC/terrako.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Terrako</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Terrako</p>
            </div>
        </a>

        <a href="aoc-ganon.html" class="quest-card hw-warriors">
            <img src="../images/AOC/ganon.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Ganon</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Ganon</p>
            </div>
        </a>

        <a href="aoc-guardian.html" class="quest-card hw-warriors">
            <img src="../images/AOC/guardian.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Gardien</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats du Gardien</p>
            </div>
        </a>

        <a href="aoc-sooga.html" class="quest-card hw-warriors">
            <img src="../images/AOC/sooga.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Suppa</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Suppa</p>
            </div>
        </a>

        <a href="aoc-purah&robbie.html" class="quest-card hw-warriors">
            <img src="../images/AOC/purah&robbie.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Pru'ha et Faras</span>
                <h2 class="hw-warriors">Hyrule Warriors L'Ère du Fléau</h2>
                <p class="hw-warriors">Les stats de Pru'ha et Faras</p>
            </div>
        </a>
    </div>
</body>
</html>