<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HW AOI - Choisir le Menu</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="../index.html" class="back-link">← Retour</a>
        <h1 class="main-title">HYRULE WARRIORS LES CHRONIQUES DU SCEAU</h1>
    </header>

    <div class="quest-container main-content">
        <a href="aoi-tracker.html" class="quest-card">
            <img src="../images/AOI/tracker.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">Tracker</span>
                <h2>Hyrule Warriors Les Chroniques du Sceau</h2>
                <p>Le tracker global</p>
            </div>
        </a>

        <a href="aoi-zelda.html" class="quest-card hw-warriors">
            <img src="../images/AOI/zelda.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Zelda</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Zelda</p>
            </div>
        </a>

        <a href="aoi-rauru.html" class="quest-card hw-warriors">
            <img src="../images/AOI/rauru.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Rauru</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Rauru</p>
            </div>
        </a>

        <a href="aoi-mineru.html" class="quest-card hw-warriors">
            <img src="../images/AOI/mineru.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Mineru</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Mineru</p>
            </div>
        </a>

        <a href="aoi-agraston.html" class="quest-card hw-warriors">
            <img src="../images/AOI/agraston.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Agraston</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats d'Agraston</p>
            </div>
        </a>

        <a href="aoi-qia.html" class="quest-card hw-warriors">
            <img src="../images/AOI/qia.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Qia</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Qia</p>
            </div>
        </a>

        <a href="aoi-raphica.html" class="quest-card hw-warriors">
            <img src="../images/AOI/raphica.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Raphica</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Raphica</p>
            </div>
        </a>

        <a href="aoi-ardi.html" class="quest-card hw-warriors">
            <img src="../images/AOI/ardi.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Ardi</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats d'Ardi</p>
            </div>
        </a>

        <a href="aoi-golem.html" class="quest-card hw-warriors">
            <img src="../images/AOI/golem.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Golem</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats du Golem</p>
            </div>
        </a>

        <a href="aoi-calamo.html" class="quest-card hw-warriors">
            <img src="../images/AOI/calamo.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Calamo</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Calamo</p>
            </div>
        </a>

        <a href="aoi-typhan.html" class="quest-card hw-warriors">
            <img src="../images/AOI/typhan.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Typhan</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Typhan</p>
            </div>
        </a>

        <a href="aoi-quino.html" class="quest-card hw-warriors">
            <img src="../images/AOI/quino.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Quino</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Quino</p>
            </div>
        </a>

        <a href="aoi-cadlan.html" class="quest-card hw-warriors">
            <img src="../images/AOI/cadlan.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Cadlan</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Cadlan</p>
            </div>
        </a>

        <a href="aoi-lago.html" class="quest-card hw-warriors">
            <img src="../images/AOI/lago.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Lago</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Lago</p>
            </div>
        </a>

        <a href="aoi-pastos.html" class="quest-card hw-warriors">
            <img src="../images/AOI/pastos.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Pastos</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Pastos</p>
            </div>
        </a>

        <a href="aoi-braton.html" class="quest-card hw-warriors">
            <img src="../images/AOI/braton.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Braton</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Braton</p>
            </div>
        </a>

        <a href="aoi-vence.html" class="quest-card hw-warriors">
            <img src="../images/AOI/vence.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Vence</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Vence</p>
            </div>
        </a>

        <a href="aoi-masba.html" class="quest-card hw-warriors">
            <img src="../images/AOI/masba.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Masba</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Masba</p>
            </div>
        </a>

        <a href="aoi-sholani.html" class="quest-card hw-warriors">
            <img src="../images/AOI/sholani.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Sholani</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Sholani</p>
            </div>
        </a>

        <a href="aoi-ronza.html" class="quest-card hw-warriors">
            <img src="../images/AOI/ronza.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Ronza</span>
                <h2 class="hw-warriors">Hyrule Warriors Les Chroniques du Sceau</h2>
                <p class="hw-warriors">Les stats de Ronza</p>
            </div>
        </a>
    </div>
</body>
</html>