<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Zelda BOTW - Choisir la Quête</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="../index.html" class="back-link">← Retour</a>
        <h1 class="main-title">THE LEGEND OF ZELDA BREATH OF THE WILD</h1>
    </header>

    <div class="quest-container main-content">
        <a href="botw-tracker-first-quest.html" class="quest-card">
            <img src="../images/ZeldaBOTW/First-quest.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">01</span>
                <h2>First Quest</h2>
                <p>L'aventure originale</p>
            </div>
        </a>

        <a href="botw-tracker-expert-mode.html" class="quest-card">
            <img src="../images/ZeldaBOTW/Expert-mode.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">02</span>
                <h2>Expert Mode</h2>
                <p>Le défi ultime</p>
            </div>
        </a>
    </div>
</body>
</html>