<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda BOTW NS2E</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="botw2.html" class="back-link">← Retour</a>
        <h1 class="main-title">Zelda BOTW NS2E - ITEMS</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-3-columns">
            <div class="inventory-section">
                <h2 class="section-title">Équipement</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/polaris.png" 
                            class="item" 
                            id="zbotw2-f-2-polaris"
                            onclick="toggleItem('zbotw2-f-2-polaris')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/cinetis.png" 
                            class="item" 
                            id="zbotw2-f-2-cinetis"
                            data-levels="../images/ZeldaBOTW/cinetis.png,../images/ZeldaBOTW/cinetis2.png"
                            onclick="toggleItem('zbotw2-f-2-cinetis')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/bomb.png" 
                            class="item" 
                            id="zbotw2-f-2-bomb"
                            data-levels="../images/ZeldaBOTW/bomb.png,../images/ZeldaBOTW/bomb2.png"
                            onclick="toggleItem('zbotw2-f-2-bomb')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/cryonis.png" 
                            class="item" 
                            id="zbotw2-f-2-cryonis"
                            onclick="toggleItem('zbotw2-f-2-cryonis')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/camera.png" 
                            class="item" 
                            id="zbotw2-f-2-camera"
                            data-levels="../images/ZeldaBOTW/camera.png,../images/ZeldaBOTW/camera2.png"
                            onclick="toggleItem('zbotw2-f-2-camera')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/motorcycle.png" 
                            class="item" 
                            id="zbotw2-f-2-motorcycle"
                            onclick="toggleItem('zbotw2-f-2-motorcycle')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/tower.png" 
                            class="item" 
                            id="zbotw2-f-2-tower"
                            data-max="15"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-tower')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/shrine.png" 
                            class="item" 
                            id="zbotw2-f-2-shrine"
                            data-max="124"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-shrine')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/dlc-chest.png" 
                            class="item" 
                            id="zbotw2-f-2-dlc-chest"
                            data-max="3"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-dlc-chest')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/chest.png" 
                            class="item" 
                            id="zbotw2-f-2-chest"
                            data-max="136"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-chest')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/main.png" 
                            class="item" 
                            id="zbotw2-f-2-main"
                            data-max="28"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-main')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/side.png" 
                            class="item" 
                            id="zbotw2-f-2-side"
                            data-max="90"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-side')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/shrineq.png" 
                            class="item" 
                            id="zbotw2-f-2-shrineq"
                            data-max="42"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-shrineq')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/memory.png" 
                            class="item" 
                            id="zbotw2-f-2-memory"
                            data-max="18"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-memory')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/korok.png" 
                            class="item" 
                            id="zbotw2-f-2-korok"
                            data-max="900"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-korok')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/korok2.png" 
                            class="item" 
                            id="zbotw2-f-2-korok2"
                            onclick="toggleItem('zbotw2-f-2-korok2')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/envelope.png" 
                            class="item" 
                            id="zbotw2-f-2-envelope"
                            onclick="toggleItem('zbotw2-f-2-envelope')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/mipha.png" 
                            class="item" 
                            id="zbotw2-f-2-mipha"
                            data-levels="../images/ZeldaBOTW/mipha.png,../images/ZeldaBOTW/mipha2.png"
                            onclick="toggleItem('zbotw2-f-2-mipha')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/daruk.png" 
                            class="item" 
                            id="zbotw2-f-2-daruk"
                            data-levels="../images/ZeldaBOTW/daruk.png,../images/ZeldaBOTW/daruk2.png"
                            onclick="toggleItem('zbotw2-f-2-daruk')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/revali.png" 
                            class="item" 
                            id="zbotw2-f-2-revali"
                            data-levels="../images/ZeldaBOTW/revali.png,../images/ZeldaBOTW/revali2.png"
                            onclick="toggleItem('zbotw2-f-2-revali')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/urbosa.png" 
                            class="item" 
                            id="zbotw2-f-2-urbosa"
                            data-levels="../images/ZeldaBOTW/urbosa.png,../images/ZeldaBOTW/urbosa2.png"
                            onclick="toggleItem('zbotw2-f-2-urbosa')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/hinox.png" 
                            class="item" 
                            id="zbotw2-f-2-hinox"
                            onclick="toggleItem('zbotw2-f-2-hinox')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/talus.png" 
                            class="item" 
                            id="zbotw2-f-2-talus"
                            onclick="toggleItem('zbotw2-f-2-talus')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/molduga.png" 
                            class="item" 
                            id="zbotw2-f-2-molduga"
                            onclick="toggleItem('zbotw2-f-2-molduga')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/picture.png" 
                            class="item" 
                            id="zbotw2-f-2-picture"
                            onclick="toggleItem('zbotw2-f-2-picture')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/epreuve.png" 
                            class="item" 
                            id="zbotw2-f-2-epreuve"
                            data-levels="../images/ZeldaBOTW/epreuve.png,../images/ZeldaBOTW/epreuve2.png,../images/ZeldaBOTW/epreuve3.png"
                            onclick="toggleItem('zbotw2-f-2-epreuve')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/weapon.png" 
                            class="item" 
                            id="zbotw2-f-2-weapon"
                            data-max="128"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-weapon')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/bow.png" 
                            class="item" 
                            id="zbotw2-f-2-bow"
                            data-max="26"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-bow')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/shield.png" 
                            class="item" 
                            id="zbotw2-f-2-shield"
                            data-max="33"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-shield')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/material.png" 
                            class="item" 
                            id="zbotw2-f-2-material"
                            data-max="150"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-material')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/travel.png" 
                            class="item" 
                            id="zbotw2-f-2-travel"
                            onclick="toggleItem('zbotw2-f-2-travel')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/zelda.png" 
                            class="item" 
                            id="zbotw2-f-2-zelda"
                            data-max="125"
                            data-name="0"
                            onclick="toggleItem('zbotw2-f-2-zelda')">
                            <p class="item-name">0</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Selles</h2>
                <div class="inventory-card red-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/stable.png" 
                            class="item" 
                            id="zbotw2-f-2-stable"
                            onclick="toggleItem('zbotw2-f-2-stable')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/stable2.png" 
                            class="item" 
                            id="zbotw2-f-2-stable2"
                            onclick="toggleItem('zbotw2-f-2-stable2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/traveler.png" 
                            class="item" 
                            id="zbotw2-f-2-traveler"
                            onclick="toggleItem('zbotw2-f-2-traveler')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/traveler2.png" 
                            class="item" 
                            id="zbotw2-f-2-traveler2"
                            onclick="toggleItem('zbotw2-f-2-traveler2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/royal.png" 
                            class="item" 
                            id="zbotw2-f-2-royal"
                            onclick="toggleItem('zbotw2-f-2-royal')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/royal2.png" 
                            class="item" 
                            id="zbotw2-f-2-royal2"
                            onclick="toggleItem('zbotw2-f-2-royal2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/monster.png" 
                            class="item" 
                            id="zbotw2-f-2-monster"
                            onclick="toggleItem('zbotw2-f-2-monster')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/monster2.png" 
                            class="item" 
                            id="zbotw2-f-2-monster2"
                            onclick="toggleItem('zbotw2-f-2-monster2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/knight.png" 
                            class="item" 
                            id="zbotw2-f-2-knight"
                            onclick="toggleItem('zbotw2-f-2-knight')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/knight2.png" 
                            class="item" 
                            id="zbotw2-f-2-knight2"
                            onclick="toggleItem('zbotw2-f-2-knight2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/extravagant.png" 
                            class="item" 
                            id="zbotw2-f-2-extravagant"
                            onclick="toggleItem('zbotw2-f-2-extravagant')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/extravagant2.png" 
                            class="item" 
                            id="zbotw2-f-2-extravagant2"
                            onclick="toggleItem('zbotw2-f-2-extravagant2')">
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Ganon</h2>
                <div class="inventory-card dark-card">
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/ganon.png" class="item boss-item" id="zbotw2-f-2-ganon" onclick="toggleItem('zbotw2-f-2-ganon')">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-section">
            <h2 class="section-title">Tenue</h2>
            <div class="inventory-card blue-card"> 
                <div class="tracker-grid">
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t1.png" class="item botw-upgrade" id="zbotw2-f-2-t1" onclick="toggleItem('zbotw2-f-2-t1')">
                        <div id="stars-zbotw2-f-2-t1" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t2.png" class="item botw-upgrade" id="zbotw2-f-2-t2" onclick="toggleItem('zbotw2-f-2-t2')">
                        <div id="stars-zbotw2-f-2-t2" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t3.png" class="item botw-upgrade" id="zbotw2-f-2-t3" onclick="toggleItem('zbotw2-f-2-t3')">
                        <div id="stars-zbotw2-f-2-t3" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t4.png" class="item botw-upgrade" id="zbotw2-f-2-t4" onclick="toggleItem('zbotw2-f-2-t4')">
                        <div id="stars-zbotw2-f-2-t4" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t5.png" class="item botw-upgrade" id="zbotw2-f-2-t5" onclick="toggleItem('zbotw2-f-2-t5')">
                        <div id="stars-zbotw2-f-2-t5" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t6.png" class="item" id="zbotw2-f-2-t6" onclick="toggleItem('zbotw2-f-2-t6')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t7.png" class="item botw-upgrade" id="zbotw2-f-2-t7" onclick="toggleItem('zbotw2-f-2-t7')">
                        <div id="stars-zbotw2-f-2-t7" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t8.png" class="item botw-upgrade" id="zbotw2-f-2-t8" onclick="toggleItem('zbotw2-f-2-t8')">
                        <div id="stars-zbotw2-f-2-t8" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t9.png" class="item botw-upgrade" id="zbotw2-f-2-t9" onclick="toggleItem('zbotw2-f-2-t9')">
                        <div id="stars-zbotw2-f-2-t9" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t10.png" class="item botw-upgrade" id="zbotw2-f-2-t10" onclick="toggleItem('zbotw2-f-2-t10')">
                        <div id="stars-zbotw2-f-2-t10" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t11.png" class="item botw-upgrade" id="zbotw2-f-2-t11" onclick="toggleItem('zbotw2-f-2-t11')">
                        <div id="stars-zbotw2-f-2-t11" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t12.png" class="item botw-upgrade" id="zbotw2-f-2-t12" onclick="toggleItem('zbotw2-f-2-t12')">
                        <div id="stars-zbotw2-f-2-t12" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t13.png" class="item botw-upgrade" id="zbotw2-f-2-t13" onclick="toggleItem('zbotw2-f-2-t13')">
                        <div id="stars-zbotw2-f-2-t13" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t14.png" class="item botw-upgrade" id="zbotw2-f-2-t14" onclick="toggleItem('zbotw2-f-2-t14')">
                        <div id="stars-zbotw2-f-2-t14" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t15.png" class="item" id="zbotw2-f-2-t15" onclick="toggleItem('zbotw2-f-2-t15')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t16.png" class="item botw-upgrade" id="zbotw2-f-2-t16" onclick="toggleItem('zbotw2-f-2-t16')">
                        <div id="stars-zbotw2-f-2-t16" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t17.png" class="item botw-upgrade" id="zbotw2-f-2-t17" onclick="toggleItem('zbotw2-f-2-t17')">
                        <div id="stars-zbotw2-f-2-t17" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t18.png" class="item botw-upgrade" id="zbotw2-f-2-t18" onclick="toggleItem('zbotw2-f-2-t18')">
                        <div id="stars-zbotw2-f-2-t18" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t19.png" class="item botw-upgrade" id="zbotw2-f-2-t19" onclick="toggleItem('zbotw2-f-2-t19')">
                        <div id="stars-zbotw2-f-2-t19" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t20.png" class="item botw-upgrade" id="zbotw2-f-2-t20" onclick="toggleItem('zbotw2-f-2-t20')">
                        <div id="stars-zbotw2-f-2-t20" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t21.png" class="item botw-upgrade" id="zbotw2-f-2-t21" onclick="toggleItem('zbotw2-f-2-t21')">
                        <div id="stars-zbotw2-f-2-t21" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t22.png" class="item" id="zbotw2-f-2-t22" onclick="toggleItem('zbotw2-f-2-t22')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t23.png" class="item" id="zbotw2-f-2-t23" onclick="toggleItem('zbotw2-f-2-t23')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t24.png" class="item" id="zbotw2-f-2-t24" onclick="toggleItem('zbotw2-f-2-t24')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t25.png" class="item" id="zbotw2-f-2-t25" onclick="toggleItem('zbotw2-f-2-t25')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t26.png" class="item" id="zbotw2-f-2-t26" onclick="toggleItem('zbotw2-f-2-t26')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t27.png" class="item" id="zbotw2-f-2-t27" onclick="toggleItem('zbotw2-f-2-t27')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t28.png" class="item" id="zbotw2-f-2-t28" onclick="toggleItem('zbotw2-f-2-t28')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t29.png" class="item" id="zbotw2-f-2-t29" onclick="toggleItem('zbotw2-f-2-t29')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t30.png" class="item" id="zbotw2-f-2-t30" onclick="toggleItem('zbotw2-f-2-t30')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t31.png" class="item" id="zbotw2-f-2-t31" onclick="toggleItem('zbotw2-f-2-t31')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t32.png" class="item" id="zbotw2-f-2-t32" onclick="toggleItem('zbotw2-f-2-t32')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t33.png" class="item" id="zbotw2-f-2-t33" onclick="toggleItem('zbotw2-f-2-t33')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t34.png" class="item" id="zbotw2-f-2-t34" onclick="toggleItem('zbotw2-f-2-t34')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t35.png" class="item" id="zbotw2-f-2-t35" onclick="toggleItem('zbotw2-f-2-t35')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t36.png" class="item" id="zbotw2-f-2-t36" onclick="toggleItem('zbotw2-f-2-t36')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t37.png" class="item" id="zbotw2-f-2-t37" onclick="toggleItem('zbotw2-f-2-t37')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t38.png" class="item" id="zbotw2-f-2-t38" onclick="toggleItem('zbotw2-f-2-t38')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t39.png" class="item botw-upgrade" id="zbotw2-f-2-t39" onclick="toggleItem('zbotw2-f-2-t39')">
                        <div id="stars-zbotw2-f-2-t39" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t40.png" class="item botw-upgrade" id="zbotw2-f-2-t40" onclick="toggleItem('zbotw2-f-2-t40')">
                        <div id="stars-zbotw2-f-2-t40" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t41.png" class="item botw-upgrade" id="zbotw2-f-2-t41" onclick="toggleItem('zbotw2-f-2-t41')">
                        <div id="stars-zbotw2-f-2-t41" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t42.png" class="item botw-upgrade" id="zbotw2-f-2-t42" onclick="toggleItem('zbotw2-f-2-t42')">
                        <div id="stars-zbotw2-f-2-t42" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t43.png" class="item botw-upgrade" id="zbotw2-f-2-t43" onclick="toggleItem('zbotw2-f-2-t43')">
                        <div id="stars-zbotw2-f-2-t43" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t44.png" class="item" id="zbotw2-f-2-t44" onclick="toggleItem('zbotw2-f-2-t44')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t45.png" class="item botw-upgrade" id="zbotw2-f-2-t45" onclick="toggleItem('zbotw2-f-2-t45')">
                        <div id="stars-zbotw2-f-2-t45" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t46.png" class="item botw-upgrade" id="zbotw2-f-2-t46" onclick="toggleItem('zbotw2-f-2-t46')">
                        <div id="stars-zbotw2-f-2-t46" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t47.png" class="item botw-upgrade" id="zbotw2-f-2-t47" onclick="toggleItem('zbotw2-f-2-t47')">
                        <div id="stars-zbotw2-f-2-t47" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t48.png" class="item botw-upgrade" id="zbotw2-f-2-t48" onclick="toggleItem('zbotw2-f-2-t48')">
                        <div id="stars-zbotw2-f-2-t48" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t49.png" class="item botw-upgrade" id="zbotw2-f-2-t49" onclick="toggleItem('zbotw2-f-2-t49')">
                        <div id="stars-zbotw2-f-2-t49" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t50.png" class="item botw-upgrade" id="zbotw2-f-2-t50" onclick="toggleItem('zbotw2-f-2-t50')">
                        <div id="stars-zbotw2-f-2-t50" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t51.png" class="item botw-upgrade" id="zbotw2-f-2-t51" onclick="toggleItem('zbotw2-f-2-t51')">
                        <div id="stars-zbotw2-f-2-t51" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t52.png" class="item botw-upgrade" id="zbotw2-f-2-t52" onclick="toggleItem('zbotw2-f-2-t52')">
                        <div id="stars-zbotw2-f-2-t52" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t53.png" class="item botw-upgrade" id="zbotw2-f-2-t53" onclick="toggleItem('zbotw2-f-2-t53')">
                        <div id="stars-zbotw2-f-2-t53" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t54.png" class="item" id="zbotw2-f-2-t54" onclick="toggleItem('zbotw2-f-2-t54')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t55.png" class="item" id="zbotw2-f-2-t55" onclick="toggleItem('zbotw2-f-2-t55')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t56.png" class="item" id="zbotw2-f-2-t56" onclick="toggleItem('zbotw2-f-2-t56')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t57.png" class="item" id="zbotw2-f-2-t57" onclick="toggleItem('zbotw2-f-2-t57')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t58.png" class="item" id="zbotw2-f-2-t58" onclick="toggleItem('zbotw2-f-2-t58')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t59.png" class="item" id="zbotw2-f-2-t59" onclick="toggleItem('zbotw2-f-2-t59')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t60.png" class="item" id="zbotw2-f-2-t60" onclick="toggleItem('zbotw2-f-2-t60')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t61.png" class="item" id="zbotw2-f-2-t61" onclick="toggleItem('zbotw2-f-2-t61')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t62.png" class="item" id="zbotw2-f-2-t62" onclick="toggleItem('zbotw2-f-2-t62')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t63.png" class="item botw-upgrade" id="zbotw2-f-2-t63" onclick="toggleItem('zbotw2-f-2-t63')">
                        <div id="stars-zbotw2-f-2-t63" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t64.png" class="item botw-upgrade" id="zbotw2-f-2-t64" onclick="toggleItem('zbotw2-f-2-t64')">
                        <div id="stars-zbotw2-f-2-t64" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t65.png" class="item botw-upgrade" id="zbotw2-f-2-t65" onclick="toggleItem('zbotw2-f-2-t65')">
                        <div id="stars-zbotw2-f-2-t65" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t66.png" class="item botw-upgrade" id="zbotw2-f-2-t66" onclick="toggleItem('zbotw2-f-2-t66')">
                        <div id="stars-zbotw2-f-2-t66" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t67.png" class="item botw-upgrade" id="zbotw2-f-2-t67" onclick="toggleItem('zbotw2-f-2-t67')">
                        <div id="stars-zbotw2-f-2-t67" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t68.png" class="item" id="zbotw2-f-2-t68" onclick="toggleItem('zbotw2-f-2-t68')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t69.png" class="item botw-upgrade" id="zbotw2-f-2-t69" onclick="toggleItem('zbotw2-f-2-t69')">
                        <div id="stars-zbotw2-f-2-t69" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t70.png" class="item botw-upgrade" id="zbotw2-f-2-t70" onclick="toggleItem('zbotw2-f-2-t70')">
                        <div id="stars-zbotw2-f-2-t70" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t71.png" class="item botw-upgrade" id="zbotw2-f-2-t71" onclick="toggleItem('zbotw2-f-2-t71')">
                        <div id="stars-zbotw2-f-2-t71" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t72.png" class="item botw-upgrade" id="zbotw2-f-2-t72" onclick="toggleItem('zbotw2-f-2-t72')">
                        <div id="stars-zbotw2-f-2-t72" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t73.png" class="item botw-upgrade" id="zbotw2-f-2-t73" onclick="toggleItem('zbotw2-f-2-t73')">
                        <div id="stars-zbotw2-f-2-t73" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t74.png" class="item botw-upgrade" id="zbotw2-f-2-t74" onclick="toggleItem('zbotw2-f-2-t74')">
                        <div id="stars-zbotw2-f-2-t74" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t75.png" class="item botw-upgrade" id="zbotw2-f-2-t75" onclick="toggleItem('zbotw2-f-2-t75')">
                        <div id="stars-zbotw2-f-2-t75" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t76.png" class="item botw-upgrade" id="zbotw2-f-2-t76" onclick="toggleItem('zbotw2-f-2-t76')">
                        <div id="stars-zbotw2-f-2-t76" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t77.png" class="item botw-upgrade" id="zbotw2-f-2-t77" onclick="toggleItem('zbotw2-f-2-t77')">
                        <div id="stars-zbotw2-f-2-t77" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t78.png" class="item botw-upgrade" id="zbotw2-f-2-t78" onclick="toggleItem('zbotw2-f-2-t78')">
                        <div id="stars-zbotw2-f-2-t78" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t79.png" class="item" id="zbotw2-f-2-t79" onclick="toggleItem('zbotw2-f-2-t79')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t80.png" class="item" id="zbotw2-f-2-t80" onclick="toggleItem('zbotw2-f-2-t80')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t81.png" class="item" id="zbotw2-f-2-t81" onclick="toggleItem('zbotw2-f-2-t81')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t82.png" class="item" id="zbotw2-f-2-t82" onclick="toggleItem('zbotw2-f-2-t82')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t83.png" class="item" id="zbotw2-f-2-t83" onclick="toggleItem('zbotw2-f-2-t83')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t84.png" class="item" id="zbotw2-f-2-t84" onclick="toggleItem('zbotw2-f-2-t84')">
                        
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t85.png" class="item botw-upgrade" id="zbotw2-f-2-t85" onclick="toggleItem('zbotw2-f-2-t85')">
                        <div id="stars-zbotw2-f-2-t85" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t86.png" class="item botw-upgrade" id="zbotw2-f-2-t86" onclick="toggleItem('zbotw2-f-2-t86')">
                        <div id="stars-zbotw2-f-2-t86" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t87.png" class="item botw-upgrade" id="zbotw2-f-2-t87" onclick="toggleItem('zbotw2-f-2-t87')">
                        <div id="stars-zbotw2-f-2-t87" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t88.png" class="item botw-upgrade" id="zbotw2-f-2-t88" onclick="toggleItem('zbotw2-f-2-t88')">
                        <div id="stars-zbotw2-f-2-t88" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t89.png" class="item botw-upgrade" id="zbotw2-f-2-t89" onclick="toggleItem('zbotw2-f-2-t89')">
                        <div id="stars-zbotw2-f-2-t89" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t90.png" class="item botw-upgrade" id="zbotw2-f-2-t90" onclick="toggleItem('zbotw2-f-2-t90')">
                        <div id="stars-zbotw2-f-2-t90" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t91.png" class="item botw-upgrade" id="zbotw2-f-2-t91" onclick="toggleItem('zbotw2-f-2-t91')">
                        <div id="stars-zbotw2-f-2-t91" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t92.png" class="item botw-upgrade" id="zbotw2-f-2-t92" onclick="toggleItem('zbotw2-f-2-t92')">
                        <div id="stars-zbotw2-f-2-t92" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t93.png" class="item botw-upgrade" id="zbotw2-f-2-t93" onclick="toggleItem('zbotw2-f-2-t93')">
                        <div id="stars-zbotw2-f-2-t93" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t94.png" class="item botw-upgrade" id="zbotw2-f-2-t94" onclick="toggleItem('zbotw2-f-2-t94')">
                        <div id="stars-zbotw2-f-2-t94" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t95.png" class="item botw-upgrade" id="zbotw2-f-2-t95" onclick="toggleItem('zbotw2-f-2-t95')">
                        <div id="stars-zbotw2-f-2-t95" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t96.png" class="item botw-upgrade" id="zbotw2-f-2-t96" onclick="toggleItem('zbotw2-f-2-t96')">
                        <div id="stars-zbotw2-f-2-t96" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t97.png" class="item botw-upgrade" id="zbotw2-f-2-t97" onclick="toggleItem('zbotw2-f-2-t97')">
                        <div id="stars-zbotw2-f-2-t97" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t98.png" class="item botw-upgrade" id="zbotw2-f-2-t98" onclick="toggleItem('zbotw2-f-2-t98')">
                        <div id="stars-zbotw2-f-2-t98" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t99.png" class="item botw-upgrade" id="zbotw2-f-2-t99" onclick="toggleItem('zbotw2-f-2-t99')">
                        <div id="stars-zbotw2-f-2-t99" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t100.png" class="item botw-upgrade" id="zbotw2-f-2-t100" onclick="toggleItem('zbotw2-f-2-t100')">
                        <div id="stars-zbotw2-f-2-t100" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t101.png" class="item botw-upgrade" id="zbotw2-f-2-t101" onclick="toggleItem('zbotw2-f-2-t101')">
                        <div id="stars-zbotw2-f-2-t101" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t102.png" class="item botw-upgrade" id="zbotw2-f-2-t102" onclick="toggleItem('zbotw2-f-2-t102')">
                        <div id="stars-zbotw2-f-2-t102" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t103.png" class="item botw-upgrade" id="zbotw2-f-2-t103" onclick="toggleItem('zbotw2-f-2-t103')">
                        <div id="stars-zbotw2-f-2-t103" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t104.png" class="item botw-upgrade" id="zbotw2-f-2-t104" onclick="toggleItem('zbotw2-f-2-t104')">
                        <div id="stars-zbotw2-f-2-t104" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t105.png" class="item botw-upgrade" id="zbotw2-f-2-t105" onclick="toggleItem('zbotw2-f-2-t105')">
                        <div id="stars-zbotw2-f-2-t105" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t106.png" class="item botw-upgrade" id="zbotw2-f-2-t106" onclick="toggleItem('zbotw2-f-2-t106')">
                        <div id="stars-zbotw2-f-2-t106" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t107.png" class="item botw-upgrade" id="zbotw2-f-2-t107" onclick="toggleItem('zbotw2-f-2-t107')">
                        <div id="stars-zbotw2-f-2-t107" class="star-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>