<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda BOTW NS2E - MÉDAILLES</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="botw2.html" class="back-link">← Retour</a>
        <h1 class="main-title">Zelda BOTW NS2E - MÉDAILLES</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-3-columns">
            <div class="inventory-section">
                <h2 class="section-title">Médailles</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/11.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-11"
                            data-levels="../images/ZeldaBOTW/Medaille/11.png,../images/ZeldaBOTW/Medaille/12.png,../images/ZeldaBOTW/Medaille/13.png,../images/ZeldaBOTW/Medaille/14.png"
                            onclick="toggleItem('zbotw2-f-m-11')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/21.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-21"
                            data-levels="../images/ZeldaBOTW/Medaille/21.png,../images/ZeldaBOTW/Medaille/22.png,../images/ZeldaBOTW/Medaille/23.png,../images/ZeldaBOTW/Medaille/24.png"
                            onclick="toggleItem('zbotw2-f-m-21')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/31.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-31"
                            data-levels="../images/ZeldaBOTW/Medaille/31.png,../images/ZeldaBOTW/Medaille/32.png,../images/ZeldaBOTW/Medaille/33.png,../images/ZeldaBOTW/Medaille/34.png"
                            onclick="toggleItem('zbotw2-f-m-31')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/41.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-41"
                            data-levels="../images/ZeldaBOTW/Medaille/41.png,../images/ZeldaBOTW/Medaille/42.png,../images/ZeldaBOTW/Medaille/43.png,../images/ZeldaBOTW/Medaille/44.png"
                            onclick="toggleItem('zbotw2-f-m-41')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/51.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-51"
                            data-levels="../images/ZeldaBOTW/Medaille/51.png,../images/ZeldaBOTW/Medaille/52.png,../images/ZeldaBOTW/Medaille/53.png,../images/ZeldaBOTW/Medaille/54.png"
                            onclick="toggleItem('zbotw2-f-m-51')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/61.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-61"
                            data-levels="../images/ZeldaBOTW/Medaille/61.png,../images/ZeldaBOTW/Medaille/62.png,../images/ZeldaBOTW/Medaille/63.png,../images/ZeldaBOTW/Medaille/64.png"
                            onclick="toggleItem('zbotw2-f-m-61')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/71.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-71"
                            data-levels="../images/ZeldaBOTW/Medaille/71.png,../images/ZeldaBOTW/Medaille/72.png,../images/ZeldaBOTW/Medaille/73.png,../images/ZeldaBOTW/Medaille/74.png"
                            onclick="toggleItem('zbotw2-f-m-71')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/81.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-81"
                            data-levels="../images/ZeldaBOTW/Medaille/81.png,../images/ZeldaBOTW/Medaille/82.png,../images/ZeldaBOTW/Medaille/83.png,../images/ZeldaBOTW/Medaille/84.png"
                            onclick="toggleItem('zbotw2-f-m-81')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/91.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-91"
                            data-levels="../images/ZeldaBOTW/Medaille/91.png,../images/ZeldaBOTW/Medaille/92.png,../images/ZeldaBOTW/Medaille/93.png,../images/ZeldaBOTW/Medaille/94.png"
                            onclick="toggleItem('zbotw2-f-m-91')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/101.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-101"
                            data-levels="../images/ZeldaBOTW/Medaille/101.png,../images/ZeldaBOTW/Medaille/102.png,../images/ZeldaBOTW/Medaille/103.png,../images/ZeldaBOTW/Medaille/104.png"
                            onclick="toggleItem('zbotw2-f-m-101')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/111.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-111"
                            data-levels="../images/ZeldaBOTW/Medaille/111.png,../images/ZeldaBOTW/Medaille/112.png,../images/ZeldaBOTW/Medaille/113.png,../images/ZeldaBOTW/Medaille/114.png"
                            onclick="toggleItem('zbotw2-f-m-111')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/121.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-121"
                            data-levels="../images/ZeldaBOTW/Medaille/121.png,../images/ZeldaBOTW/Medaille/122.png,../images/ZeldaBOTW/Medaille/123.png,../images/ZeldaBOTW/Medaille/124.png"
                            onclick="toggleItem('zbotw2-f-m-121')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/131.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-131"
                            data-levels="../images/ZeldaBOTW/Medaille/131.png,../images/ZeldaBOTW/Medaille/132.png,../images/ZeldaBOTW/Medaille/133.png,../images/ZeldaBOTW/Medaille/134.png"
                            onclick="toggleItem('zbotw2-f-m-131')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/141.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-141"
                            data-levels="../images/ZeldaBOTW/Medaille/141.png,../images/ZeldaBOTW/Medaille/142.png,../images/ZeldaBOTW/Medaille/143.png,../images/ZeldaBOTW/Medaille/144.png"
                            onclick="toggleItem('zbotw2-f-m-141')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/151.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-151"
                            data-levels="../images/ZeldaBOTW/Medaille/151.png,../images/ZeldaBOTW/Medaille/152.png,../images/ZeldaBOTW/Medaille/153.png,../images/ZeldaBOTW/Medaille/154.png"
                            onclick="toggleItem('zbotw2-f-m-151')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/161.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-161"
                            data-levels="../images/ZeldaBOTW/Medaille/161.png,../images/ZeldaBOTW/Medaille/162.png,../images/ZeldaBOTW/Medaille/163.png,../images/ZeldaBOTW/Medaille/164.png"
                            onclick="toggleItem('zbotw2-f-m-161')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/171.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-171"
                            data-levels="../images/ZeldaBOTW/Medaille/171.png,../images/ZeldaBOTW/Medaille/172.png,../images/ZeldaBOTW/Medaille/173.png,../images/ZeldaBOTW/Medaille/174.png"
                            onclick="toggleItem('zbotw2-f-m-171')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/181.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-181"
                            data-levels="../images/ZeldaBOTW/Medaille/181.png,../images/ZeldaBOTW/Medaille/182.png,../images/ZeldaBOTW/Medaille/183.png,../images/ZeldaBOTW/Medaille/184.png"
                            onclick="toggleItem('zbotw2-f-m-181')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/Medaille/191.png" 
                            class="item gros-item" 
                            id="zbotw2-f-m-191"
                            data-levels="../images/ZeldaBOTW/Medaille/191.png,../images/ZeldaBOTW/Medaille/192.png,../images/ZeldaBOTW/Medaille/193.png,../images/ZeldaBOTW/Medaille/194.png"
                            onclick="toggleItem('zbotw2-f-m-191')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>