<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda BOTW</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="botw.html" class="back-link">← Retour</a>
        <h1 class="main-title">Zelda BOTW - ITEMS</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-3-columns">
            <div class="inventory-section">
                <h2 class="section-title">Équipement</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/polaris.png" 
                            class="item" 
                            id="zbotw-f-polaris"
                            onclick="toggleItem('zbotw-f-polaris')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/cinetis.png" 
                            class="item" 
                            id="zbotw-f-cinetis"
                            data-levels="../images/ZeldaBOTW/cinetis.png,../images/ZeldaBOTW/cinetis2.png"
                            onclick="toggleItem('zbotw-f-cinetis')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/bomb.png" 
                            class="item" 
                            id="zbotw-f-bomb"
                            data-levels="../images/ZeldaBOTW/bomb.png,../images/ZeldaBOTW/bomb2.png"
                            onclick="toggleItem('zbotw-f-bomb')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/cryonis.png" 
                            class="item" 
                            id="zbotw-f-cryonis"
                            onclick="toggleItem('zbotw-f-cryonis')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/camera.png" 
                            class="item" 
                            id="zbotw-f-camera"
                            data-levels="../images/ZeldaBOTW/camera.png,../images/ZeldaBOTW/camera2.png"
                            onclick="toggleItem('zbotw-f-camera')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/motorcycle.png" 
                            class="item" 
                            id="zbotw-f-motorcycle"
                            onclick="toggleItem('zbotw-f-motorcycle')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/tower.png" 
                            class="item" 
                            id="zbotw-f-tower"
                            data-max="15"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-tower')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/shrine.png" 
                            class="item" 
                            id="zbotw-f-shrine"
                            data-max="124"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-shrine')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/dlc-chest.png" 
                            class="item" 
                            id="zbotw-f-dlc-chest"
                            data-max="3"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-dlc-chest')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/chest.png" 
                            class="item" 
                            id="zbotw-f-chest"
                            data-max="136"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-chest')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/main.png" 
                            class="item" 
                            id="zbotw-f-main"
                            data-max="28"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-main')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/side.png" 
                            class="item" 
                            id="zbotw-f-side"
                            data-max="90"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-side')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/shrineq.png" 
                            class="item" 
                            id="zbotw-f-shrineq"
                            data-max="42"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-shrineq')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/memory.png" 
                            class="item" 
                            id="zbotw-f-memory"
                            data-max="18"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-memory')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/korok.png" 
                            class="item" 
                            id="zbotw-f-korok"
                            data-max="900"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-korok')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/korok2.png" 
                            class="item" 
                            id="zbotw-f-korok2"
                            onclick="toggleItem('zbotw-f-korok2')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/location.png" 
                            class="item" 
                            id="zbotw-f-location"
                            data-max="226"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-location')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/envelope.png" 
                            class="item" 
                            id="zbotw-f-envelope"
                            onclick="toggleItem('zbotw-f-envelope')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/mipha.png" 
                            class="item" 
                            id="zbotw-f-mipha"
                            data-levels="../images/ZeldaBOTW/mipha.png,../images/ZeldaBOTW/mipha2.png"
                            onclick="toggleItem('zbotw-f-mipha')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/daruk.png" 
                            class="item" 
                            id="zbotw-f-daruk"
                            data-levels="../images/ZeldaBOTW/daruk.png,../images/ZeldaBOTW/daruk2.png"
                            onclick="toggleItem('zbotw-f-daruk')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/revali.png" 
                            class="item" 
                            id="zbotw-f-revali"
                            data-levels="../images/ZeldaBOTW/revali.png,../images/ZeldaBOTW/revali2.png"
                            onclick="toggleItem('zbotw-f-revali')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/urbosa.png" 
                            class="item" 
                            id="zbotw-f-urbosa"
                            data-levels="../images/ZeldaBOTW/urbosa.png,../images/ZeldaBOTW/urbosa2.png"
                            onclick="toggleItem('zbotw-f-urbosa')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/hinox.png" 
                            class="item" 
                            id="zbotw-f-hinox"
                            onclick="toggleItem('zbotw-f-hinox')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/talus.png" 
                            class="item" 
                            id="zbotw-f-talus"
                            onclick="toggleItem('zbotw-f-talus')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/molduga.png" 
                            class="item" 
                            id="zbotw-f-molduga"
                            onclick="toggleItem('zbotw-f-molduga')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/picture.png" 
                            class="item" 
                            id="zbotw-f-picture"
                            onclick="toggleItem('zbotw-f-picture')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/epreuve.png" 
                            class="item" 
                            id="zbotw-f-epreuve"
                            data-levels="../images/ZeldaBOTW/epreuve.png,../images/ZeldaBOTW/epreuve2.png,../images/ZeldaBOTW/epreuve3.png"
                            onclick="toggleItem('zbotw-f-epreuve')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/weapon.png" 
                            class="item" 
                            id="zbotw-f-weapon"
                            data-max="128"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-weapon')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/bow.png" 
                            class="item" 
                            id="zbotw-f-bow"
                            data-max="26"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-bow')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/shield.png" 
                            class="item" 
                            id="zbotw-f-shield"
                            data-max="33"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-shield')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/material.png" 
                            class="item" 
                            id="zbotw-f-material"
                            data-max="150"
                            data-name="0"
                            onclick="toggleItem('zbotw-f-material')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/travel.png" 
                            class="item" 
                            id="zbotw-f-travel"
                            onclick="toggleItem('zbotw-f-travel')">
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Selles</h2>
                <div class="inventory-card blue-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/stable.png" 
                            class="item" 
                            id="zbotw-f-stable"
                            onclick="toggleItem('zbotw-f-stable')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/stable2.png" 
                            class="item" 
                            id="zbotw-f-stable2"
                            onclick="toggleItem('zbotw-f-stable2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/traveler.png" 
                            class="item" 
                            id="zbotw-f-traveler"
                            onclick="toggleItem('zbotw-f-traveler')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/traveler2.png" 
                            class="item" 
                            id="zbotw-f-traveler2"
                            onclick="toggleItem('zbotw-f-traveler2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/royal.png" 
                            class="item" 
                            id="zbotw-f-royal"
                            onclick="toggleItem('zbotw-f-royal')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/royal2.png" 
                            class="item" 
                            id="zbotw-f-royal2"
                            onclick="toggleItem('zbotw-f-royal2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/monster.png" 
                            class="item" 
                            id="zbotw-f-monster"
                            onclick="toggleItem('zbotw-f-monster')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/monster2.png" 
                            class="item" 
                            id="zbotw-f-monster2"
                            onclick="toggleItem('zbotw-f-monster2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/knight.png" 
                            class="item" 
                            id="zbotw-f-knight"
                            onclick="toggleItem('zbotw-f-knight')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/knight2.png" 
                            class="item" 
                            id="zbotw-f-knight2"
                            onclick="toggleItem('zbotw-f-knight2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/extravagant.png" 
                            class="item" 
                            id="zbotw-f-extravagant"
                            onclick="toggleItem('zbotw-f-extravagant')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/extravagant2.png" 
                            class="item" 
                            id="zbotw-f-extravagant2"
                            onclick="toggleItem('zbotw-f-extravagant2')">
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Ganon</h2>
                <div class="inventory-card dark-card">
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/ZeldaBOTW/ganon.png" class="item boss-item" id="zbotw-f-ganon" onclick="toggleItem('zbotw-f-ganon')">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-section">
            <h2 class="section-title">Tenue</h2>
            <div class="inventory-card red-card"> 
                <div class="tracker-grid">
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t1.png" class="item botw-upgrade" id="zbotw-f-t1" onclick="toggleItem('zbotw-f-t1')">
                        <div id="stars-zbotw-f-t1" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t2.png" class="item botw-upgrade" id="zbotw-f-t2" onclick="toggleItem('zbotw-f-t2')">
                        <div id="stars-zbotw-f-t2" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t3.png" class="item botw-upgrade" id="zbotw-f-t3" onclick="toggleItem('zbotw-f-t3')">
                        <div id="stars-zbotw-f-t3" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t4.png" class="item botw-upgrade" id="zbotw-f-t4" onclick="toggleItem('zbotw-f-t4')">
                        <div id="stars-zbotw-f-t4" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t5.png" class="item botw-upgrade" id="zbotw-f-t5" onclick="toggleItem('zbotw-f-t5')">
                        <div id="stars-zbotw-f-t5" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t6.png" class="item" id="zbotw-f-t6" onclick="toggleItem('zbotw-f-t6')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t7.png" class="item botw-upgrade" id="zbotw-f-t7" onclick="toggleItem('zbotw-f-t7')">
                        <div id="stars-zbotw-f-t7" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t8.png" class="item botw-upgrade" id="zbotw-f-t8" onclick="toggleItem('zbotw-f-t8')">
                        <div id="stars-zbotw-f-t8" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t9.png" class="item botw-upgrade" id="zbotw-f-t9" onclick="toggleItem('zbotw-f-t9')">
                        <div id="stars-zbotw-f-t9" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t10.png" class="item botw-upgrade" id="zbotw-f-t10" onclick="toggleItem('zbotw-f-t10')">
                        <div id="stars-zbotw-f-t10" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t11.png" class="item botw-upgrade" id="zbotw-f-t11" onclick="toggleItem('zbotw-f-t11')">
                        <div id="stars-zbotw-f-t11" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t12.png" class="item botw-upgrade" id="zbotw-f-t12" onclick="toggleItem('zbotw-f-t12')">
                        <div id="stars-zbotw-f-t12" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t13.png" class="item botw-upgrade" id="zbotw-f-t13" onclick="toggleItem('zbotw-f-t13')">
                        <div id="stars-zbotw-f-t13" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t14.png" class="item botw-upgrade" id="zbotw-f-t14" onclick="toggleItem('zbotw-f-t14')">
                        <div id="stars-zbotw-f-t14" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t15.png" class="item" id="zbotw-f-t15" onclick="toggleItem('zbotw-f-t15')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t16.png" class="item botw-upgrade" id="zbotw-f-t16" onclick="toggleItem('zbotw-f-t16')">
                        <div id="stars-zbotw-f-t16" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t17.png" class="item botw-upgrade" id="zbotw-f-t17" onclick="toggleItem('zbotw-f-t17')">
                        <div id="stars-zbotw-f-t17" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t18.png" class="item botw-upgrade" id="zbotw-f-t18" onclick="toggleItem('zbotw-f-t18')">
                        <div id="stars-zbotw-f-t18" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t19.png" class="item botw-upgrade" id="zbotw-f-t19" onclick="toggleItem('zbotw-f-t19')">
                        <div id="stars-zbotw-f-t19" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t20.png" class="item botw-upgrade" id="zbotw-f-t20" onclick="toggleItem('zbotw-f-t20')">
                        <div id="stars-zbotw-f-t20" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t21.png" class="item botw-upgrade" id="zbotw-f-t21" onclick="toggleItem('zbotw-f-t21')">
                        <div id="stars-zbotw-f-t21" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t22.png" class="item" id="zbotw-f-t22" onclick="toggleItem('zbotw-f-t22')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t23.png" class="item" id="zbotw-f-t23" onclick="toggleItem('zbotw-f-t23')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t24.png" class="item" id="zbotw-f-t24" onclick="toggleItem('zbotw-f-t24')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t25.png" class="item" id="zbotw-f-t25" onclick="toggleItem('zbotw-f-t25')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t26.png" class="item" id="zbotw-f-t26" onclick="toggleItem('zbotw-f-t26')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t27.png" class="item" id="zbotw-f-t27" onclick="toggleItem('zbotw-f-t27')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t28.png" class="item" id="zbotw-f-t28" onclick="toggleItem('zbotw-f-t28')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t29.png" class="item" id="zbotw-f-t29" onclick="toggleItem('zbotw-f-t29')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t30.png" class="item" id="zbotw-f-t30" onclick="toggleItem('zbotw-f-t30')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t31.png" class="item" id="zbotw-f-t31" onclick="toggleItem('zbotw-f-t31')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t32.png" class="item" id="zbotw-f-t32" onclick="toggleItem('zbotw-f-t32')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t33.png" class="item" id="zbotw-f-t33" onclick="toggleItem('zbotw-f-t33')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t34.png" class="item" id="zbotw-f-t34" onclick="toggleItem('zbotw-f-t34')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t35.png" class="item" id="zbotw-f-t35" onclick="toggleItem('zbotw-f-t35')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t36.png" class="item" id="zbotw-f-t36" onclick="toggleItem('zbotw-f-t36')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t37.png" class="item" id="zbotw-f-t37" onclick="toggleItem('zbotw-f-t37')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t38.png" class="item" id="zbotw-f-t38" onclick="toggleItem('zbotw-f-t38')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t39.png" class="item botw-upgrade" id="zbotw-f-t39" onclick="toggleItem('zbotw-f-t39')">
                        <div id="stars-zbotw-f-t39" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t40.png" class="item botw-upgrade" id="zbotw-f-t40" onclick="toggleItem('zbotw-f-t40')">
                        <div id="stars-zbotw-f-t40" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t41.png" class="item botw-upgrade" id="zbotw-f-t41" onclick="toggleItem('zbotw-f-t41')">
                        <div id="stars-zbotw-f-t41" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t42.png" class="item botw-upgrade" id="zbotw-f-t42" onclick="toggleItem('zbotw-f-t42')">
                        <div id="stars-zbotw-f-t42" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t43.png" class="item botw-upgrade" id="zbotw-f-t43" onclick="toggleItem('zbotw-f-t43')">
                        <div id="stars-zbotw-f-t43" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t44.png" class="item" id="zbotw-f-t44" onclick="toggleItem('zbotw-f-t44')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t45.png" class="item botw-upgrade" id="zbotw-f-t45" onclick="toggleItem('zbotw-f-t45')">
                        <div id="stars-zbotw-f-t45" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t46.png" class="item botw-upgrade" id="zbotw-f-t46" onclick="toggleItem('zbotw-f-t46')">
                        <div id="stars-zbotw-f-t46" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t47.png" class="item botw-upgrade" id="zbotw-f-t47" onclick="toggleItem('zbotw-f-t47')">
                        <div id="stars-zbotw-f-t47" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t48.png" class="item botw-upgrade" id="zbotw-f-t48" onclick="toggleItem('zbotw-f-t48')">
                        <div id="stars-zbotw-f-t48" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t49.png" class="item botw-upgrade" id="zbotw-f-t49" onclick="toggleItem('zbotw-f-t49')">
                        <div id="stars-zbotw-f-t49" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t50.png" class="item botw-upgrade" id="zbotw-f-t50" onclick="toggleItem('zbotw-f-t50')">
                        <div id="stars-zbotw-f-t50" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t51.png" class="item botw-upgrade" id="zbotw-f-t51" onclick="toggleItem('zbotw-f-t51')">
                        <div id="stars-zbotw-f-t51" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t52.png" class="item botw-upgrade" id="zbotw-f-t52" onclick="toggleItem('zbotw-f-t52')">
                        <div id="stars-zbotw-f-t52" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t53.png" class="item botw-upgrade" id="zbotw-f-t53" onclick="toggleItem('zbotw-f-t53')">
                        <div id="stars-zbotw-f-t53" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t54.png" class="item" id="zbotw-f-t54" onclick="toggleItem('zbotw-f-t54')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t55.png" class="item" id="zbotw-f-t55" onclick="toggleItem('zbotw-f-t55')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t56.png" class="item" id="zbotw-f-t56" onclick="toggleItem('zbotw-f-t56')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t57.png" class="item" id="zbotw-f-t57" onclick="toggleItem('zbotw-f-t57')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t58.png" class="item" id="zbotw-f-t58" onclick="toggleItem('zbotw-f-t58')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t59.png" class="item" id="zbotw-f-t59" onclick="toggleItem('zbotw-f-t59')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t60.png" class="item" id="zbotw-f-t60" onclick="toggleItem('zbotw-f-t60')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t61.png" class="item" id="zbotw-f-t61" onclick="toggleItem('zbotw-f-t61')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t62.png" class="item" id="zbotw-f-t62" onclick="toggleItem('zbotw-f-t62')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t63.png" class="item botw-upgrade" id="zbotw-f-t63" onclick="toggleItem('zbotw-f-t63')">
                        <div id="stars-zbotw-f-t63" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t64.png" class="item botw-upgrade" id="zbotw-f-t64" onclick="toggleItem('zbotw-f-t64')">
                        <div id="stars-zbotw-f-t64" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t65.png" class="item botw-upgrade" id="zbotw-f-t65" onclick="toggleItem('zbotw-f-t65')">
                        <div id="stars-zbotw-f-t65" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t66.png" class="item botw-upgrade" id="zbotw-f-t66" onclick="toggleItem('zbotw-f-t66')">
                        <div id="stars-zbotw-f-t66" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t67.png" class="item botw-upgrade" id="zbotw-f-t67" onclick="toggleItem('zbotw-f-t67')">
                        <div id="stars-zbotw-f-t67" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t68.png" class="item" id="zbotw-f-t68" onclick="toggleItem('zbotw-f-t68')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t69.png" class="item botw-upgrade" id="zbotw-f-t69" onclick="toggleItem('zbotw-f-t69')">
                        <div id="stars-zbotw-f-t69" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t70.png" class="item botw-upgrade" id="zbotw-f-t70" onclick="toggleItem('zbotw-f-t70')">
                        <div id="stars-zbotw-f-t70" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t71.png" class="item botw-upgrade" id="zbotw-f-t71" onclick="toggleItem('zbotw-f-t71')">
                        <div id="stars-zbotw-f-t71" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t72.png" class="item botw-upgrade" id="zbotw-f-t72" onclick="toggleItem('zbotw-f-t72')">
                        <div id="stars-zbotw-f-t72" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t73.png" class="item botw-upgrade" id="zbotw-f-t73" onclick="toggleItem('zbotw-f-t73')">
                        <div id="stars-zbotw-f-t73" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t74.png" class="item botw-upgrade" id="zbotw-f-t74" onclick="toggleItem('zbotw-f-t74')">
                        <div id="stars-zbotw-f-t74" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t75.png" class="item botw-upgrade" id="zbotw-f-t75" onclick="toggleItem('zbotw-f-t75')">
                        <div id="stars-zbotw-f-t75" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t76.png" class="item botw-upgrade" id="zbotw-f-t76" onclick="toggleItem('zbotw-f-t76')">
                        <div id="stars-zbotw-f-t76" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t77.png" class="item botw-upgrade" id="zbotw-f-t77" onclick="toggleItem('zbotw-f-t77')">
                        <div id="stars-zbotw-f-t77" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t78.png" class="item botw-upgrade" id="zbotw-f-t78" onclick="toggleItem('zbotw-f-t78')">
                        <div id="stars-zbotw-f-t78" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t79.png" class="item" id="zbotw-f-t79" onclick="toggleItem('zbotw-f-t79')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t80.png" class="item" id="zbotw-f-t80" onclick="toggleItem('zbotw-f-t80')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t81.png" class="item" id="zbotw-f-t81" onclick="toggleItem('zbotw-f-t81')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t82.png" class="item" id="zbotw-f-t82" onclick="toggleItem('zbotw-f-t82')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t83.png" class="item" id="zbotw-f-t83" onclick="toggleItem('zbotw-f-t83')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t84.png" class="item" id="zbotw-f-t84" onclick="toggleItem('zbotw-f-t84')">
                        
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t85.png" class="item botw-upgrade" id="zbotw-f-t85" onclick="toggleItem('zbotw-f-t85')">
                        <div id="stars-zbotw-f-t85" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t86.png" class="item botw-upgrade" id="zbotw-f-t86" onclick="toggleItem('zbotw-f-t86')">
                        <div id="stars-zbotw-f-t86" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t87.png" class="item botw-upgrade" id="zbotw-f-t87" onclick="toggleItem('zbotw-f-t87')">
                        <div id="stars-zbotw-f-t87" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t88.png" class="item botw-upgrade" id="zbotw-f-t88" onclick="toggleItem('zbotw-f-t88')">
                        <div id="stars-zbotw-f-t88" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t89.png" class="item botw-upgrade" id="zbotw-f-t89" onclick="toggleItem('zbotw-f-t89')">
                        <div id="stars-zbotw-f-t89" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t90.png" class="item botw-upgrade" id="zbotw-f-t90" onclick="toggleItem('zbotw-f-t90')">
                        <div id="stars-zbotw-f-t90" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t91.png" class="item botw-upgrade" id="zbotw-f-t91" onclick="toggleItem('zbotw-f-t91')">
                        <div id="stars-zbotw-f-t91" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t92.png" class="item botw-upgrade" id="zbotw-f-t92" onclick="toggleItem('zbotw-f-t92')">
                        <div id="stars-zbotw-f-t92" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t93.png" class="item botw-upgrade" id="zbotw-f-t93" onclick="toggleItem('zbotw-f-t93')">
                        <div id="stars-zbotw-f-t93" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t94.png" class="item botw-upgrade" id="zbotw-f-t94" onclick="toggleItem('zbotw-f-t94')">
                        <div id="stars-zbotw-f-t94" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t95.png" class="item botw-upgrade" id="zbotw-f-t95" onclick="toggleItem('zbotw-f-t95')">
                        <div id="stars-zbotw-f-t95" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t96.png" class="item botw-upgrade" id="zbotw-f-t96" onclick="toggleItem('zbotw-f-t96')">
                        <div id="stars-zbotw-f-t96" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t97.png" class="item botw-upgrade" id="zbotw-f-t97" onclick="toggleItem('zbotw-f-t97')">
                        <div id="stars-zbotw-f-t97" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t98.png" class="item botw-upgrade" id="zbotw-f-t98" onclick="toggleItem('zbotw-f-t98')">
                        <div id="stars-zbotw-f-t98" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t99.png" class="item botw-upgrade" id="zbotw-f-t99" onclick="toggleItem('zbotw-f-t99')">
                        <div id="stars-zbotw-f-t99" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t100.png" class="item botw-upgrade" id="zbotw-f-t100" onclick="toggleItem('zbotw-f-t100')">
                        <div id="stars-zbotw-f-t100" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t101.png" class="item botw-upgrade" id="zbotw-f-t101" onclick="toggleItem('zbotw-f-t101')">
                        <div id="stars-zbotw-f-t101" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t102.png" class="item botw-upgrade" id="zbotw-f-t102" onclick="toggleItem('zbotw-f-t102')">
                        <div id="stars-zbotw-f-t102" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t103.png" class="item botw-upgrade" id="zbotw-f-t103" onclick="toggleItem('zbotw-f-t103')">
                        <div id="stars-zbotw-f-t103" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t104.png" class="item botw-upgrade" id="zbotw-f-t104" onclick="toggleItem('zbotw-f-t104')">
                        <div id="stars-zbotw-f-t104" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t105.png" class="item botw-upgrade" id="zbotw-f-t105" onclick="toggleItem('zbotw-f-t105')">
                        <div id="stars-zbotw-f-t105" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t106.png" class="item botw-upgrade" id="zbotw-f-t106" onclick="toggleItem('zbotw-f-t106')">
                        <div id="stars-zbotw-f-t106" class="star-container"></div>
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/ZeldaBOTW/t107.png" class="item botw-upgrade" id="zbotw-f-t107" onclick="toggleItem('zbotw-f-t107')">
                        <div id="stars-zbotw-f-t107" class="star-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>