<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - COH</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="coh.html" class="back-link">← Retour</a>
        <h1 class="main-title">COH - ITEMS</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-3-columns">
            <div class="inventory-section">
                <h2 class="section-title">Équipement</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/COH/dagger.png" 
                            class="item" 
                            id="coh-f-2-dagger"
                            data-levels="../images/COH/dagger.png,../images/COH/dagger2.png,../images/COH/dagger3.png,../images/COH/dagger4.png,../images/COH/dagger5.png,../images/COH/dagger6.png,../images/COH/dagger7.png"
                            onclick="toggleItem('coh-f-2-dagger')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/sword.png" 
                            class="item" 
                            id="coh-f-2-sword"
                            data-levels="../images/COH/sword.png,../images/COH/sword2.png,../images/COH/sword3.png,../images/COH/sword4.png,../images/COH/sword5.png,../images/COH/sword6.png,../images/COH/sword7.png"
                            onclick="toggleItem('coh-f-2-sword')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/broadsword.png" 
                            class="item" 
                            id="coh-f-2-broadsword"
                            data-levels="../images/COH/broadsword.png,../images/COH/broadsword2.png,../images/COH/broadsword3.png,../images/COH/broadsword4.png,../images/COH/broadsword5.png,../images/COH/broadsword6.png,../images/COH/broadsword7.png"
                            onclick="toggleItem('coh-f-2-broadsword')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/spear.png" 
                            class="item" 
                            id="coh-f-2-spear"
                            data-levels="../images/COH/spear.png,../images/COH/spear2.png,../images/COH/spear3.png,../images/COH/spear4.png,../images/COH/spear5.png,../images/COH/spear6.png,../images/COH/spear7.png"
                            onclick="toggleItem('coh-f-2-spear')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/flail.png" 
                            class="item" 
                            id="coh-f-2-flail"
                            data-levels="../images/COH/flail.png,../images/COH/flail2.png,../images/COH/flail3.png,../images/COH/flail4.png,../images/COH/flail5.png,../images/COH/flail6.png,../images/COH/flail7.png"
                            onclick="toggleItem('coh-f-2-flail')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/greatshovel.png" 
                            class="item" 
                            id="coh-f-2-greatshovel"
                            data-levels="../images/COH/greatshovel.png,../images/COH/greatshovel2.png,../images/COH/greatshovel3.png,../images/COH/greatshovel4.png,../images/COH/greatshovel5.png,../images/COH/greatshovel6.png,../images/COH/greatshovel7.png"
                            onclick="toggleItem('coh-f-2-greatshovel')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/longsword.png" 
                            class="item" 
                            id="coh-f-2-longsword"
                            data-levels="../images/COH/longsword.png,../images/COH/longsword2.png,../images/COH/longsword3.png,../images/COH/longsword4.png,../images/COH/longsword5.png,../images/COH/longsword6.png,../images/COH/longsword7.png"
                            onclick="toggleItem('coh-f-2-longsword')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/rapier.png" 
                            class="item" 
                            id="coh-f-2-rapier"
                            data-levels="../images/COH/rapier.png,../images/COH/rapier2.png,../images/COH/rapier3.png,../images/COH/rapier4.png,../images/COH/rapier5.png,../images/COH/rapier6.png,../images/COH/rapier7.png"
                            onclick="toggleItem('coh-f-2-rapier')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/shovel.png" 
                            class="item" 
                            id="coh-f-2-shovel"
                            data-levels="../images/COH/shovel.png,../images/COH/shovel2.png,../images/COH/shovel3.png,../images/COH/shovel4.png,../images/COH/shovel5.png,../images/COH/shovel6.png,../images/COH/shovel7.png"
                            onclick="toggleItem('coh-f-2-shovel')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/torch.png" 
                            class="item" 
                            id="coh-f-2-torch"
                            data-levels="../images/COH/torch.png,../images/COH/torch2.png,../images/COH/torch3.png,../images/COH/torch4.png,../images/COH/torch5.png,../images/COH/torch6.png,../images/COH/torch7.png"
                            onclick="toggleItem('coh-f-2-torch')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/boot.png" 
                            class="item" 
                            id="coh-f-2-boot"
                            data-levels="../images/COH/boot.png,../images/COH/boot2.png,../images/COH/boot3.png,../images/COH/boot4.png,../images/COH/boot5.png,../images/COH/boot6.png,../images/COH/boot7.png"
                            onclick="toggleItem('coh-f-2-boot')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/deku.png" 
                            class="item" 
                            id="coh-f-2-deku"
                            onclick="toggleItem('coh-f-2-deku')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/skull.png" 
                            class="item" 
                            id="coh-f-2-skull"
                            onclick="toggleItem('coh-f-2-skull')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/zora.png" 
                            class="item" 
                            id="coh-f-2-zora"
                            onclick="toggleItem('coh-f-2-zora')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/goron.png" 
                            class="item" 
                            id="coh-f-2-goron"
                            onclick="toggleItem('coh-f-2-goron')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/darknut.png" 
                            class="item" 
                            id="coh-f-2-darknut"
                            onclick="toggleItem('coh-f-2-darknut')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/truth.png" 
                            class="item" 
                            id="coh-f-2-truth"
                            onclick="toggleItem('coh-f-2-truth')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/bomb.png" 
                            class="item" 
                            id="coh-f-2-bomb"
                            onclick="toggleItem('coh-f-2-bomb')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/bombchu.png" 
                            class="item" 
                            id="coh-f-2-bombchu"
                            onclick="toggleItem('coh-f-2-bombchu')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/boomerang.png" 
                            class="item" 
                            id="coh-f-2-boomerang"
                            data-levels="../images/COH/boomerang.png,../images/COH/boomerang2.png"
                            onclick="toggleItem('coh-f-2-boomerang')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/bow.png" 
                            class="item" 
                            id="coh-f-2-bow"
                            data-levels="../images/COH/bow.png,../images/COH/bow2.png"
                            onclick="toggleItem('coh-f-2-bow')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/cane.png" 
                            class="item" 
                            id="coh-f-2-cane"
                            onclick="toggleItem('coh-f-2-cane')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/leaf.png" 
                            class="item" 
                            id="coh-f-2-leaf"
                            onclick="toggleItem('coh-f-2-leaf')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/fire.png" 
                            class="item" 
                            id="coh-f-2-fire"
                            onclick="toggleItem('coh-f-2-fire')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/goldenlute.png" 
                            class="item" 
                            id="coh-f-2-goldenlute"
                            onclick="toggleItem('coh-f-2-goldenlute')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/hookshot.png" 
                            class="item" 
                            id="coh-f-2-hookshot"
                            data-levels="../images/COH/hookshot.png,../images/COH/hookshot2.png"
                            onclick="toggleItem('coh-f-2-hookshot')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/ice.png" 
                            class="item" 
                            id="coh-f-2-ice"
                            onclick="toggleItem('coh-f-2-ice')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/lute.png" 
                            class="item" 
                            id="coh-f-2-lute"
                            onclick="toggleItem('coh-f-2-lute')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/cap.png" 
                            class="item" 
                            id="coh-f-2-cap"
                            onclick="toggleItem('coh-f-2-cap')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/hammer.png" 
                            class="item" 
                            id="coh-f-2-hammer"
                            onclick="toggleItem('coh-f-2-hammer')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/locket.png" 
                            class="item" 
                            id="coh-f-2-locket"
                            onclick="toggleItem('coh-f-2-locket')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/pegasus.png" 
                            class="item" 
                            id="coh-f-2-pegasus"
                            onclick="toggleItem('coh-f-2-pegasus')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/power.png" 
                            class="item" 
                            id="coh-f-2-power"
                            onclick="toggleItem('coh-f-2-power')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/feather.png" 
                            class="item" 
                            id="coh-f-2-feather"
                            onclick="toggleItem('coh-f-2-feather')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/dowser.png" 
                            class="item" 
                            id="coh-f-2-dowser"
                            onclick="toggleItem('coh-f-2-dowser')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/drum.png" 
                            class="item" 
                            id="coh-f-2-drum"
                            onclick="toggleItem('coh-f-2-drum')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/arrow.png" 
                            class="item" 
                            id="coh-f-2-arrow"
                            onclick="toggleItem('coh-f-2-arrow')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/firearrow.png" 
                            class="item" 
                            id="coh-f-2-firearrow"
                            onclick="toggleItem('coh-f-2-firearrow')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/icearrow.png" 
                            class="item" 
                            id="coh-f-2-icearrow"
                            onclick="toggleItem('coh-f-2-icearrow')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/lightning.png" 
                            class="item" 
                            id="coh-f-2-lightning"
                            onclick="toggleItem('coh-f-2-lightning')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/poison.png" 
                            class="item" 
                            id="coh-f-2-poison"
                            onclick="toggleItem('coh-f-2-poison')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/bottle.png" 
                            class="item" 
                            id="coh-f-2-bottle"
                            data-max="3"
                            data-name="0"
                            onclick="toggleItem('coh-f-2-bottle')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/scroll1.png" 
                            class="item" 
                            id="coh-f-2-scroll1"
                            onclick="toggleItem('coh-f-2-scroll1')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/scroll2.png" 
                            class="item" 
                            id="coh-f-2-scroll2"
                            onclick="toggleItem('coh-f-2-scroll2')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/scroll3.png" 
                            class="item" 
                            id="coh-f-2-scroll3"
                            onclick="toggleItem('coh-f-2-scroll3')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/scroll4.png" 
                            class="item" 
                            id="coh-f-2-scroll4"
                            onclick="toggleItem('coh-f-2-scroll4')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/scroll5.png" 
                            class="item" 
                            id="coh-f-2-scroll5"
                            onclick="toggleItem('coh-f-2-scroll5')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/scroll6.png" 
                            class="item" 
                            id="coh-f-2-scroll6"
                            onclick="toggleItem('coh-f-2-scroll6')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/r1.png" 
                            class="item" 
                            id="coh-f-2-r1"
                            onclick="toggleItem('coh-f-2-r1')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/r2.png" 
                            class="item" 
                            id="coh-f-2-r2"
                            onclick="toggleItem('coh-f-2-r2')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/r3.png" 
                            class="item" 
                            id="coh-f-2-r3"
                            onclick="toggleItem('coh-f-2-r3')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/r4.png" 
                            class="item" 
                            id="coh-f-2-r4"
                            onclick="toggleItem('coh-f-2-r4')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/r5.png" 
                            class="item" 
                            id="coh-f-2-r5"
                            onclick="toggleItem('coh-f-2-r5')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/r6.png" 
                            class="item" 
                            id="coh-f-2-r6"
                            onclick="toggleItem('coh-f-2-r6')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/r7.png" 
                            class="item" 
                            id="coh-f-2-r7"
                            onclick="toggleItem('coh-f-2-r7')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/r8.png" 
                            class="item" 
                            id="coh-f-2-r8"
                            onclick="toggleItem('coh-f-2-r8')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/r9.png" 
                            class="item" 
                            id="coh-f-2-r9"
                            onclick="toggleItem('coh-f-2-r9')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/r10.png" 
                            class="item" 
                            id="coh-f-2-r10"
                            onclick="toggleItem('coh-f-2-r10')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/c1.png" 
                            class="item" 
                            id="coh-f-2-c1"
                            onclick="toggleItem('coh-f-2-c1')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/c2.png" 
                            class="item" 
                            id="coh-f-2-c2"
                            onclick="toggleItem('coh-f-2-c2')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/c3.png" 
                            class="item" 
                            id="coh-f-2-c3"
                            onclick="toggleItem('coh-f-2-c3')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/c4.png" 
                            class="item" 
                            id="coh-f-2-c4"
                            onclick="toggleItem('coh-f-2-c4')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/c5.png" 
                            class="item" 
                            id="coh-f-2-c5"
                            onclick="toggleItem('coh-f-2-c5')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/bomb_bag.png" 
                            class="item" 
                            id="coh-f-2-bomb_bag"
                            onclick="toggleItem('coh-f-2-bomb_bag')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/quiver.png" 
                            class="item" 
                            id="coh-f-2-quiver"
                            onclick="toggleItem('coh-f-2-quiver')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/full_heart.png" 
                            class="item" 
                            id="coh-f-2-full_heart"
                            data-max="6"
                            data-name="0"
                            onclick="toggleItem('coh-f-2-full_heart')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/COH/heart.png" 
                            class="item" 
                            id="coh-f-2-heart"
                            data-max="16"
                            data-name="0"
                            onclick="toggleItem('coh-f-2-heart')">
                            <p class="item-name">0</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-column">
                <div class="inventory-section">
                    <h2 class="section-title">Objet Clé</h2>
                    <div class="inventory-card green-card"> 
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/COH/k1.png" 
                                class="item" 
                                id="coh-f-2-k1"
                                onclick="toggleItem('coh-f-2-k1')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/k2.png" 
                                class="item" 
                                id="coh-f-2-k2"
                                onclick="toggleItem('coh-f-2-k2')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/k3.png" 
                                class="item" 
                                id="coh-f-2-k3"
                                onclick="toggleItem('coh-f-2-k3')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/k4.png" 
                                class="item" 
                                id="coh-f-2-k4"
                                onclick="toggleItem('coh-f-2-k4')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/k5.png" 
                                class="item" 
                                id="coh-f-2-k5"
                                onclick="toggleItem('coh-f-2-k5')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/k6.png" 
                                class="item" 
                                id="coh-f-2-k6"
                                onclick="toggleItem('coh-f-2-k6')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/k7.png" 
                                class="item" 
                                id="coh-f-2-k7"
                                onclick="toggleItem('coh-f-2-k7')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/k8.png" 
                                class="item" 
                                id="coh-f-2-k8"
                                onclick="toggleItem('coh-f-2-k8')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/k9.png" 
                                class="item" 
                                id="coh-f-2-k9"
                                onclick="toggleItem('coh-f-2-k9')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/k10.png" 
                                class="item" 
                                id="coh-f-2-k10"
                                onclick="toggleItem('coh-f-2-k10')">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inventory-section">
                    <h2 class="section-title">Objet de Boss</h2>
                    <div class="inventory-card cyan-card"> 
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/COH/b1.png" 
                                class="item" 
                                id="coh-f-2-b1"
                                onclick="toggleItem('coh-f-2-b1')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/b2.png" 
                                class="item" 
                                id="coh-f-2-b2"
                                onclick="toggleItem('coh-f-2-b2')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/b3.png" 
                                class="item" 
                                id="coh-f-2-b3"
                                onclick="toggleItem('coh-f-2-b3')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/b4.png" 
                                class="item" 
                                id="coh-f-2-b4"
                                onclick="toggleItem('coh-f-2-b4')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/b5.png" 
                                class="item" 
                                id="coh-f-2-b5"
                                onclick="toggleItem('coh-f-2-b5')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/b6.png" 
                                class="item" 
                                id="coh-f-2-b6"
                                data-levels="../images/COH/b6.png,../images/COH/b62.png"
                                onclick="toggleItem('coh-f-2-b6')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-column">
                <div class="inventory-section">
                    <h2 class="section-title">Capacités</h2>
                    <div class="inventory-card blue-card"> 
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/COH/link1.png" 
                                class="item" 
                                id="coh-f-2-link1"
                                onclick="toggleItem('coh-f-2-link1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/link2.png" 
                                class="item" 
                                id="coh-f-2-link2"
                                onclick="toggleItem('coh-f-2-link2')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/link3.png" 
                                class="item" 
                                id="coh-f-2-link3"
                                onclick="toggleItem('coh-f-2-link3')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/link4.png" 
                                class="item" 
                                id="coh-f-2-link4"
                                onclick="toggleItem('coh-f-2-link4')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/slink1.png" 
                                class="item" 
                                id="coh-f-2-slink1"
                                onclick="toggleItem('coh-f-2-slink1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/slink2.png" 
                                class="item" 
                                id="coh-f-2-slink2"
                                onclick="toggleItem('coh-f-2-slink2')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/slink3.png" 
                                class="item" 
                                id="coh-f-2-slink3"
                                onclick="toggleItem('coh-f-2-slink3')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/slink4.png" 
                                class="item" 
                                id="coh-f-2-slink4"
                                onclick="toggleItem('coh-f-2-slink4')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/zelda1.png" 
                                class="item" 
                                id="coh-f-2-zelda1"
                                onclick="toggleItem('coh-f-2-zelda1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/zelda2.png" 
                                class="item" 
                                id="coh-f-2-zelda2"
                                onclick="toggleItem('coh-f-2-zelda2')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/szelda1.png" 
                                class="item" 
                                id="coh-f-2-szelda1"
                                onclick="toggleItem('coh-f-2-szelda1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/szelda2.png" 
                                class="item" 
                                id="coh-f-2-szelda2"
                                onclick="toggleItem('coh-f-2-szelda2')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/octavo1.png" 
                                class="item" 
                                id="coh-f-2-octavo1"
                                onclick="toggleItem('coh-f-2-octavo1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/octavo2.png" 
                                class="item" 
                                id="coh-f-2-octavo2"
                                onclick="toggleItem('coh-f-2-octavo2')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/cadence1.png" 
                                class="item" 
                                id="coh-f-2-cadence1"
                                onclick="toggleItem('coh-f-2-cadence1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/cadence2.png" 
                                class="item" 
                                id="coh-f-2-cadence2"
                                onclick="toggleItem('coh-f-2-cadence2')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/cadence3.png" 
                                class="item" 
                                id="coh-f-2-cadence3"
                                onclick="toggleItem('coh-f-2-cadence3')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/cadence4.png" 
                                class="item" 
                                id="coh-f-2-cadence4"
                                onclick="toggleItem('coh-f-2-cadence4')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/yves1.png" 
                                class="item" 
                                id="coh-f-2-yves1"
                                onclick="toggleItem('coh-f-2-yves1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/yves2.png" 
                                class="item" 
                                id="coh-f-2-yves2"
                                onclick="toggleItem('coh-f-2-yves2')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/sk1.png" 
                                class="item" 
                                id="coh-f-2-sk1"
                                onclick="toggleItem('coh-f-2-sk1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/sk2.png" 
                                class="item" 
                                id="coh-f-2-sk2"
                                onclick="toggleItem('coh-f-2-sk2')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/sk3.png" 
                                class="item" 
                                id="coh-f-2-sk3"
                                onclick="toggleItem('coh-f-2-sk3')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/sk4.png" 
                                class="item" 
                                id="coh-f-2-sk4"
                                onclick="toggleItem('coh-f-2-sk4')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/sk5.png" 
                                class="item" 
                                id="coh-f-2-sk5"
                                onclick="toggleItem('coh-f-2-sk5')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/sk6.png" 
                                class="item" 
                                id="coh-f-2-sk6"
                                onclick="toggleItem('coh-f-2-sk6')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/sk7.png" 
                                class="item" 
                                id="coh-f-2-sk7"
                                onclick="toggleItem('coh-f-2-sk7')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/sk8.png" 
                                class="item" 
                                id="coh-f-2-sk8"
                                onclick="toggleItem('coh-f-2-sk8')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/frederick1.png" 
                                class="item" 
                                id="coh-f-2-frederick1"
                                onclick="toggleItem('coh-f-2-frederick1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/frederick2.png" 
                                class="item" 
                                id="coh-f-2-frederick2"
                                onclick="toggleItem('coh-f-2-frederick2')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/COH/impa1.png" 
                                class="item" 
                                id="coh-f-2-impa1"
                                onclick="toggleItem('coh-f-2-impa1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/COH/impa2.png" 
                                class="item" 
                                id="coh-f-2-impa2"
                                onclick="toggleItem('coh-f-2-impa2')">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inventory-section">
                    <h2 class="section-title">Ganon</h2>
                    <div class="inventory-card dark-card">
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/COH/ganon.png" class="item boss-item" id="coh-f-2-ganon" onclick="toggleItem('coh-f-2-ganon')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-section">
            <h2 class="section-title">Progression Map</h2>
            <div class="inventory-card red-card"> 
                <div class="tracker-grid">

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D1</h3>
                        <div class="item-wrapper">
                            <img src="../images/COH/map.png" class="item" id="coh-f-2-map1" onclick="toggleItem('coh-f-2-map1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/compass.png" class="item" id="coh-f-2-compass1" onclick="toggleItem('coh-f-2-compass1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/boss.png" class="item" id="coh-f-2-boss1" onclick="toggleItem('coh-f-2-boss1')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D2</h3>
                        <div class="item-wrapper">
                            <img src="../images/COH/map.png" class="item" id="coh-f-2-map2" onclick="toggleItem('coh-f-2-map2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/compass.png" class="item" id="coh-f-2-compass2" onclick="toggleItem('coh-f-2-compass2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/boss.png" class="item" id="coh-f-2-boss2" onclick="toggleItem('coh-f-2-boss2')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D3</h3>
                        <div class="item-wrapper">
                            <img src="../images/COH/map.png" class="item" id="coh-f-2-map3" onclick="toggleItem('coh-f-2-map3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/compass.png" class="item" id="coh-f-2-compass3" onclick="toggleItem('coh-f-2-compass3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/boss.png" class="item" id="coh-f-2-boss3" onclick="toggleItem('coh-f-2-boss3')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D4</h3>
                        <div class="item-wrapper">
                            <img src="../images/COH/map.png" class="item" id="coh-f-2-map4" onclick="toggleItem('coh-f-2-map4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/compass.png" class="item" id="coh-f-2-compass4" onclick="toggleItem('coh-f-2-compass4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/boss.png" class="item" id="coh-f-2-boss4" onclick="toggleItem('coh-f-2-boss4')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D5</h3>
                        <div class="item-wrapper">
                            <img src="../images/COH/map.png" class="item" id="coh-f-2-map5" onclick="toggleItem('coh-f-2-map5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/compass.png" class="item" id="coh-f-2-compass5" onclick="toggleItem('coh-f-2-compass5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/boss.png" class="item" id="coh-f-2-boss5" onclick="toggleItem('coh-f-2-boss5')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D6</h3>
                        <div class="item-wrapper">
                            <img src="../images/COH/map.png" class="item" id="coh-f-2-map6" onclick="toggleItem('coh-f-2-map6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/compass.png" class="item" id="coh-f-2-compass6" onclick="toggleItem('coh-f-2-compass6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/boss.png" class="item" id="coh-f-2-boss6" onclick="toggleItem('coh-f-2-boss6')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D7</h3>
                        <div class="item-wrapper">
                            <img src="../images/COH/map.png" class="item" id="coh-f-2-map7" onclick="toggleItem('coh-f-2-map7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/compass.png" class="item" id="coh-f-2-compass7" onclick="toggleItem('coh-f-2-compass7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/COH/boss.png" class="item" id="coh-f-2-boss7" onclick="toggleItem('coh-f-2-boss7')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>