<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda FSAE</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="../index.html" class="back-link">← Retour</a>
        <h1 class="main-title">Zelda FSAE - ITEMS</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-2-columns">

            <div class="inventory-section">
                <h2 class="section-title">Progression Zone</h2>
                <div class="inventory-card blue-card"> 
                    <div class="tracker-grid">

                        <div class="dungeon-column">
                            <h3 class="dungeon-title">Z1</h3>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/argent1.png" class="item" id="zfsae-f-argent1" onclick="toggleItem('zfsae-f-argent1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/or1.png" class="item" id="zfsae-f-or1" onclick="toggleItem('zfsae-f-or1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/hero1.png" class="item" id="zfsae-f-hero1" onclick="toggleItem('zfsae-f-hero1')">
                            </div>
                        </div>

                        <div class="dungeon-column">
                            <h3 class="dungeon-title">Z2</h3>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/argent2.png" class="item" id="zfsae-f-argent2" onclick="toggleItem('zfsae-f-argent2')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/or2.png" class="item" id="zfsae-f-or2" onclick="toggleItem('zfsae-f-or2')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/hero2.png" class="item" id="zfsae-f-hero2" onclick="toggleItem('zfsae-f-hero2')">
                            </div>
                        </div>

                        <div class="dungeon-column">
                            <h3 class="dungeon-title">Z3</h3>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/argent3.png" class="item" id="zfsae-f-argent3" onclick="toggleItem('zfsae-f-argent3')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/or3.png" class="item" id="zfsae-f-or3" onclick="toggleItem('zfsae-f-or3')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/hero3.png" class="item" id="zfsae-f-hero3" onclick="toggleItem('zfsae-f-hero3')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-column">
                <div class="inventory-section">
                    <h2 class="section-title">Équipement</h2>
                    <div class="inventory-card base-card"> 
                        <div class="tracker-grid">

                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/sword.png" 
                                class="item" 
                                id="zfsae-f-sword"
                                onclick="toggleItem('zfsae-f-sword')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/master.png" 
                                class="item" 
                                id="zfsae-f-master"
                                onclick="toggleItem('zfsae-f-master')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/spin.png" 
                                class="item" 
                                id="zfsae-f-spin"
                                onclick="toggleItem('zfsae-f-spin')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/fairy.png" 
                                class="item" 
                                id="zfsae-f-fairy"
                                onclick="toggleItem('zfsae-f-fairy')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/fairy2.png" 
                                class="item" 
                                id="zfsae-f-fairy2"
                                onclick="toggleItem('zfsae-f-fairy2')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/fairy3.png" 
                                class="item" 
                                id="zfsae-f-fairy3"
                                onclick="toggleItem('zfsae-f-fairy3')">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inventory-section">
                    <h2 class="section-title">Vaati</h2>
                    <div class="inventory-card dark-card">
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/ZeldaFS/vaati.png" class="item boss-item" id="zfsae-f-vaati" onclick="toggleItem('zfsae-f-vaati')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>