<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Hyrule Warriors - Poule</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="hw.html" class="back-link">← Retour</a>
        <h1 class="main-title">Hyrule Warriors - Poule</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-section">
            <h2 class="section-title">Global</h2>
            <div class="inventory-card base-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper">
                        <img src="../images/HW/heart.png" 
                        class="item" 
                        id="hw-f-cucco-heart"
                        data-max="16"
                        data-name="0"
                        onclick="toggleItem('hw-f-cucco-heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/full_heart.png" 
                        class="item" 
                        id="hw-f-cucco-full_heart"
                        data-max="16"
                        data-name="0"
                        onclick="toggleItem('hw-f-cucco-full_heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/lvl255.png" 
                        class="item" 
                        id="hw-f-cucco-lvl255"
                        onclick="toggleItem('hw-f-cucco-lvl255')">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-row split-2-columns row-full">
            <div class="inventory-section">
                <h2 class="section-title">Costumes</h2>
                <div class="inventory-card red-card"> 
                    <div class="tracker-grid">
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cucco1.png" 
                                    class="item gros-item" 
                                    id="hw-f-cucco-costume1"
                                    onclick="toggleItem('hw-f-cucco-costume1')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>