<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Hyrule Warriors - Cia</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="hw.html" class="back-link">← Retour</a>
        <h1 class="main-title">Hyrule Warriors - Cia</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-section">
            <h2 class="section-title">Global</h2>
            <div class="inventory-card base-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper">
                        <img src="../images/HW/heart.png" 
                        class="item" 
                        id="hw-f-cia-heart"
                        data-max="16"
                        data-name="0"
                        onclick="toggleItem('hw-f-cia-heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/full_heart.png" 
                        class="item" 
                        id="hw-f-cia-full_heart"
                        data-max="31"
                        data-name="0"
                        onclick="toggleItem('hw-f-cia-full_heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/lvl255.png" 
                        class="item" 
                        id="hw-f-cia-lvl255"
                        onclick="toggleItem('hw-f-cia-lvl255')">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-row split-2-columns row-full">
            <div class="inventory-section">
                <h2 class="section-title">Costumes</h2>
                <div class="inventory-card red-card"> 
                    <div class="tracker-grid">
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia11.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume11"
                                    onclick="toggleItem('hw-f-cia-costume11')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia12.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume12"
                                    onclick="toggleItem('hw-f-cia-costume12')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia13.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume13"
                                    onclick="toggleItem('hw-f-cia-costume13')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia20.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume20"
                                    onclick="toggleItem('hw-f-cia-costume20')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia31.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume31"
                                    onclick="toggleItem('hw-f-cia-costume31')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia32.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume32"
                                    onclick="toggleItem('hw-f-cia-costume32')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia33.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume33"
                                    onclick="toggleItem('hw-f-cia-costume33')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia41.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume41"
                                    onclick="toggleItem('hw-f-cia-costume41')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia42.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume42"
                                    onclick="toggleItem('hw-f-cia-costume42')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia43.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume43"
                                    onclick="toggleItem('hw-f-cia-costume43')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia50.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume50"
                                    onclick="toggleItem('hw-f-cia-costume50')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia61.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume61"
                                    onclick="toggleItem('hw-f-cia-costume61')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia62.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume62"
                                    onclick="toggleItem('hw-f-cia-costume62')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/cia63.png" 
                                    class="item gros-item" 
                                    id="hw-f-cia-costume63"
                                    onclick="toggleItem('hw-f-cia-costume63')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Armes</h2>
                <div class="inventory-card blue-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/cia1-1.png" class="item gros-item" id="hw-f-cia-arme11" data-stars="-1" onclick="toggleItem('hw-f-cia-arme11')">
                                    <img src="" class="star-badge" id="star-hw-f-cia-arme11">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/cia1-2.png" class="item gros-item" id="hw-f-cia-arme12" data-stars="-1" onclick="toggleItem('hw-f-cia-arme12')">
                                    <img src="" class="star-badge" id="star-hw-f-cia-arme12">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/cia1-3.png" class="item gros-item" id="hw-f-cia-arme13" data-stars="-1" onclick="toggleItem('hw-f-cia-arme13')">
                                    <img src="" class="star-badge" id="star-hw-f-cia-arme13">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Badges</h2>
                <div class="inventory-card green-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a1.png" 
                                    class="item" 
                                    id="hw-f-cia-a1"
                                    onclick="toggleItem('hw-f-cia-a1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a2.png" 
                                    class="item" 
                                    id="hw-f-cia-a2"
                                    onclick="toggleItem('hw-f-cia-a2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a3.png" 
                                    class="item" 
                                    id="hw-f-cia-a3"
                                    onclick="toggleItem('hw-f-cia-a3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a4.png" class="item" id="hw-f-cia-a4" onclick="toggleItem('hw-f-cia-a4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a5.png" class="item" id="hw-f-cia-a5" onclick="toggleItem('hw-f-cia-a5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a6.png" class="item" id="hw-f-cia-a6" onclick="toggleItem('hw-f-cia-a6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a7.png" class="item" id="hw-f-cia-a7" onclick="toggleItem('hw-f-cia-a7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a8.png" class="item" id="hw-f-cia-a8" onclick="toggleItem('hw-f-cia-a8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a9.png" class="item" id="hw-f-cia-a9" onclick="toggleItem('hw-f-cia-a9')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a10.png" class="item" id="hw-f-cia-a10" onclick="toggleItem('hw-f-cia-a10')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a11.png" class="item" id="hw-f-cia-a11" onclick="toggleItem('hw-f-cia-a11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a12.png" class="item" id="hw-f-cia-a12" onclick="toggleItem('hw-f-cia-a12')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a13.png" class="item" id="hw-f-cia-a13" onclick="toggleItem('hw-f-cia-a13')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a14.png" class="item" id="hw-f-cia-a14" onclick="toggleItem('hw-f-cia-a14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a15.png" class="item" id="hw-f-cia-a15" onclick="toggleItem('hw-f-cia-a15')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a16.png" class="item" id="hw-f-cia-a16" onclick="toggleItem('hw-f-cia-a16')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a17.png" class="item" id="hw-f-cia-a17" onclick="toggleItem('hw-f-cia-a17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a18.png" class="item" id="hw-f-cia-a18" onclick="toggleItem('hw-f-cia-a18')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d1.png" class="item" id="hw-f-cia-d1" onclick="toggleItem('hw-f-cia-d1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d2.png" class="item" id="hw-f-cia-d2" onclick="toggleItem('hw-f-cia-d2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d3.png" class="item" id="hw-f-cia-d3" onclick="toggleItem('hw-f-cia-d3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d4.png" class="item" id="hw-f-cia-d4" onclick="toggleItem('hw-f-cia-d4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d5.png" class="item" id="hw-f-cia-d5" onclick="toggleItem('hw-f-cia-d5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d6.png" class="item" id="hw-f-cia-d6" onclick="toggleItem('hw-f-cia-d6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d7.png" class="item" id="hw-f-cia-d7" onclick="toggleItem('hw-f-cia-d7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d8.png" class="item" id="hw-f-cia-d8" onclick="toggleItem('hw-f-cia-d8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d9.png" class="item" id="hw-f-cia-d9" onclick="toggleItem('hw-f-cia-d9')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d10.png" class="item" id="hw-f-cia-d10" onclick="toggleItem('hw-f-cia-d10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d11.png" class="item" id="hw-f-cia-d11" onclick="toggleItem('hw-f-cia-d11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d12.png" class="item" id="hw-f-cia-d12" onclick="toggleItem('hw-f-cia-d12')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d13.png" class="item" id="hw-f-cia-d13" onclick="toggleItem('hw-f-cia-d13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d14.png" class="item" id="hw-f-cia-d14" onclick="toggleItem('hw-f-cia-d14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d15.png" class="item" id="hw-f-cia-d15" onclick="toggleItem('hw-f-cia-d15')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d16.png" class="item" id="hw-f-cia-d16" onclick="toggleItem('hw-f-cia-d16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d17.png" class="item" id="hw-f-cia-d17" onclick="toggleItem('hw-f-cia-d17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d18.png" class="item" id="hw-f-cia-d18" onclick="toggleItem('hw-f-cia-d18')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d19.png" class="item" id="hw-f-cia-d19" onclick="toggleItem('hw-f-cia-d19')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d20.png" class="item" id="hw-f-cia-d20" onclick="toggleItem('hw-f-cia-d20')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d21.png" class="item" id="hw-f-cia-d21" onclick="toggleItem('hw-f-cia-d21')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d22.png" class="item" id="hw-f-cia-d22" onclick="toggleItem('hw-f-cia-d22')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d23.png" class="item" id="hw-f-cia-d23" onclick="toggleItem('hw-f-cia-d23')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d24.png" class="item" id="hw-f-cia-d24" onclick="toggleItem('hw-f-cia-d24')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s1.png" class="item" id="hw-f-cia-s1" onclick="toggleItem('hw-f-cia-s1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s2.png" class="item" id="hw-f-cia-s2" onclick="toggleItem('hw-f-cia-s2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s3.png" class="item" id="hw-f-cia-s3" onclick="toggleItem('hw-f-cia-s3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s4.png" class="item" id="hw-f-cia-s4" onclick="toggleItem('hw-f-cia-s4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s6.png" class="item" id="hw-f-cia-s6" onclick="toggleItem('hw-f-cia-s6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s7.png" class="item" id="hw-f-cia-s7" onclick="toggleItem('hw-f-cia-s7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s9.png" class="item" id="hw-f-cia-s9" onclick="toggleItem('hw-f-cia-s9')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s10.png" class="item" id="hw-f-cia-s10" onclick="toggleItem('hw-f-cia-s10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s12.png" class="item" id="hw-f-cia-s12" onclick="toggleItem('hw-f-cia-s12')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s13.png" class="item" id="hw-f-cia-s13" onclick="toggleItem('hw-f-cia-s13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s15.png" class="item" id="hw-f-cia-s15" onclick="toggleItem('hw-f-cia-s15')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>