<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Hyrule Warriors - Iscerro</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="hw.html" class="back-link">← Retour</a>
        <h1 class="main-title">Hyrule Warriors - Iscerro</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-section">
            <h2 class="section-title">Global</h2>
            <div class="inventory-card base-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper">
                        <img src="../images/HW/heart.png" 
                        class="item" 
                        id="hw-f-icero-heart"
                        data-max="16"
                        data-name="0"
                        onclick="toggleItem('hw-f-icero-heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/full_heart.png" 
                        class="item" 
                        id="hw-f-icero-full_heart"
                        data-max="31"
                        data-name="0"
                        onclick="toggleItem('hw-f-icero-full_heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/lvl255.png" 
                        class="item" 
                        id="hw-f-icero-lvl255"
                        onclick="toggleItem('hw-f-icero-lvl255')">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-row split-2-columns row-full">
            <div class="inventory-section">
                <h2 class="section-title">Costumes</h2>
                <div class="inventory-card red-card"> 
                    <div class="tracker-grid">
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/icero1.png" 
                                    class="item gros-item" 
                                    id="hw-f-icero-costume1"
                                    onclick="toggleItem('hw-f-icero-costume1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/icero2.png" 
                                    class="item gros-item"
                                    id="hw-f-icero-costume2"
                                    onclick="toggleItem('hw-f-icero-costume2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/icero3.png" 
                                    class="item gros-item" 
                                    id="hw-f-icero-costume3"
                                    onclick="toggleItem('hw-f-icero-costume3')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/icero4.png" 
                                    class="item gros-item" 
                                    id="hw-f-icero-costume4"
                                    onclick="toggleItem('hw-f-icero-costume4')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Armes</h2>
                <div class="inventory-card blue-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/icero1-1.png" class="item gros-item" id="hw-f-icero-arme11" data-stars="-1" onclick="toggleItem('hw-f-icero-arme11')">
                                    <img src="" class="star-badge" id="star-hw-f-icero-arme11">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/icero1-2.png" class="item gros-item" id="hw-f-icero-arme12" data-stars="-1" onclick="toggleItem('hw-f-icero-arme12')">
                                    <img src="" class="star-badge" id="star-hw-f-icero-arme12">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/icero1-3.png" class="item gros-item" id="hw-f-icero-arme13" data-stars="-1" onclick="toggleItem('hw-f-icero-arme13')">
                                    <img src="" class="star-badge" id="star-hw-f-icero-arme13">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Badges</h2>
                <div class="inventory-card green-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a1.png" 
                                    class="item" 
                                    id="hw-f-icero-a1"
                                    onclick="toggleItem('hw-f-icero-a1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a2.png" 
                                    class="item" 
                                    id="hw-f-icero-a2"
                                    onclick="toggleItem('hw-f-icero-a2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a3.png" 
                                    class="item" 
                                    id="hw-f-icero-a3"
                                    onclick="toggleItem('hw-f-icero-a3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a4.png" class="item" id="hw-f-icero-a4" onclick="toggleItem('hw-f-icero-a4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a5.png" class="item" id="hw-f-icero-a5" onclick="toggleItem('hw-f-icero-a5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a6.png" class="item" id="hw-f-icero-a6" onclick="toggleItem('hw-f-icero-a6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a7.png" class="item" id="hw-f-icero-a7" onclick="toggleItem('hw-f-icero-a7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a8.png" class="item" id="hw-f-icero-a8" onclick="toggleItem('hw-f-icero-a8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a9.png" class="item" id="hw-f-icero-a9" onclick="toggleItem('hw-f-icero-a9')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a10.png" class="item" id="hw-f-icero-a10" onclick="toggleItem('hw-f-icero-a10')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a11.png" class="item" id="hw-f-icero-a11" onclick="toggleItem('hw-f-icero-a11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a12.png" class="item" id="hw-f-icero-a12" onclick="toggleItem('hw-f-icero-a12')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a13.png" class="item" id="hw-f-icero-a13" onclick="toggleItem('hw-f-icero-a13')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a14.png" class="item" id="hw-f-icero-a14" onclick="toggleItem('hw-f-icero-a14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a15.png" class="item" id="hw-f-icero-a15" onclick="toggleItem('hw-f-icero-a15')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a16.png" class="item" id="hw-f-icero-a16" onclick="toggleItem('hw-f-icero-a16')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a17.png" class="item" id="hw-f-icero-a17" onclick="toggleItem('hw-f-icero-a17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a18.png" class="item" id="hw-f-icero-a18" onclick="toggleItem('hw-f-icero-a18')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d1.png" class="item" id="hw-f-icero-d1" onclick="toggleItem('hw-f-icero-d1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d2.png" class="item" id="hw-f-icero-d2" onclick="toggleItem('hw-f-icero-d2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d3.png" class="item" id="hw-f-icero-d3" onclick="toggleItem('hw-f-icero-d3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d4.png" class="item" id="hw-f-icero-d4" onclick="toggleItem('hw-f-icero-d4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d5.png" class="item" id="hw-f-icero-d5" onclick="toggleItem('hw-f-icero-d5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d6.png" class="item" id="hw-f-icero-d6" onclick="toggleItem('hw-f-icero-d6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d7.png" class="item" id="hw-f-icero-d7" onclick="toggleItem('hw-f-icero-d7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d8.png" class="item" id="hw-f-icero-d8" onclick="toggleItem('hw-f-icero-d8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d9.png" class="item" id="hw-f-icero-d9" onclick="toggleItem('hw-f-icero-d9')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d10.png" class="item" id="hw-f-icero-d10" onclick="toggleItem('hw-f-icero-d10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d11.png" class="item" id="hw-f-icero-d11" onclick="toggleItem('hw-f-icero-d11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d12.png" class="item" id="hw-f-icero-d12" onclick="toggleItem('hw-f-icero-d12')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d13.png" class="item" id="hw-f-icero-d13" onclick="toggleItem('hw-f-icero-d13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d14.png" class="item" id="hw-f-icero-d14" onclick="toggleItem('hw-f-icero-d14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d15.png" class="item" id="hw-f-icero-d15" onclick="toggleItem('hw-f-icero-d15')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d16.png" class="item" id="hw-f-icero-d16" onclick="toggleItem('hw-f-icero-d16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d17.png" class="item" id="hw-f-icero-d17" onclick="toggleItem('hw-f-icero-d17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d18.png" class="item" id="hw-f-icero-d18" onclick="toggleItem('hw-f-icero-d18')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d19.png" class="item" id="hw-f-icero-d19" onclick="toggleItem('hw-f-icero-d19')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d20.png" class="item" id="hw-f-icero-d20" onclick="toggleItem('hw-f-icero-d20')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d21.png" class="item" id="hw-f-icero-d21" onclick="toggleItem('hw-f-icero-d21')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d22.png" class="item" id="hw-f-icero-d22" onclick="toggleItem('hw-f-icero-d22')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d23.png" class="item" id="hw-f-icero-d23" onclick="toggleItem('hw-f-icero-d23')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d24.png" class="item" id="hw-f-icero-d24" onclick="toggleItem('hw-f-icero-d24')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s1.png" class="item" id="hw-f-icero-s1" onclick="toggleItem('hw-f-icero-s1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s2.png" class="item" id="hw-f-icero-s2" onclick="toggleItem('hw-f-icero-s2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s3.png" class="item" id="hw-f-icero-s3" onclick="toggleItem('hw-f-icero-s3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s4.png" class="item" id="hw-f-icero-s4" onclick="toggleItem('hw-f-icero-s4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s6.png" class="item" id="hw-f-icero-s6" onclick="toggleItem('hw-f-icero-s6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s7.png" class="item" id="hw-f-icero-s7" onclick="toggleItem('hw-f-icero-s7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s9.png" class="item" id="hw-f-icero-s9" onclick="toggleItem('hw-f-icero-s9')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s10.png" class="item" id="hw-f-icero-s10" onclick="toggleItem('hw-f-icero-s10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s12.png" class="item" id="hw-f-icero-s12" onclick="toggleItem('hw-f-icero-s12')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s13.png" class="item" id="hw-f-icero-s13" onclick="toggleItem('hw-f-icero-s13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s15.png" class="item" id="hw-f-icero-s15" onclick="toggleItem('hw-f-icero-s15')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>