<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Hyrule Warriors - Link</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="hw.html" class="back-link">← Retour</a>
        <h1 class="main-title">Hyrule Warriors - Link</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-section">
            <h2 class="section-title">Global</h2>
            <div class="inventory-card base-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper">
                        <img src="../images/HW/heart.png" 
                        class="item" 
                        id="hw-f-link-heart"
                        data-max="16"
                        data-name="0"
                        onclick="toggleItem('hw-f-link-heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/full_heart.png" 
                        class="item" 
                        id="hw-f-link-full_heart"
                        data-max="16"
                        data-name="0"
                        onclick="toggleItem('hw-f-link-full_heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/lvl255.png" 
                        class="item" 
                        id="hw-f-link-lvl255"
                        onclick="toggleItem('hw-f-link-lvl255')">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-section">
            <h2 class="section-title">Costumes</h2>
            <div class="inventory-card red-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link1.png" 
                        class="item" 
                        id="hw-f-link-costume1"
                        onclick="toggleItem('hw-f-link-costume1')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link2.png" 
                        class="item" 
                        id="hw-f-link-costume2"
                        onclick="toggleItem('hw-f-link-costume2')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link3.png" 
                        class="item" 
                        id="hw-f-link-costume3"
                        onclick="toggleItem('hw-f-link-costume3')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link4.png" 
                        class="item" 
                        id="hw-f-link-costume4"
                        onclick="toggleItem('hw-f-link-costume4')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link5.png" 
                        class="item" 
                        id="hw-f-link-costume5"
                        onclick="toggleItem('hw-f-link-costume5')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link6.png" 
                        class="item" 
                        id="hw-f-link-costume6"
                        onclick="toggleItem('hw-f-link-costume6')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link7.png" 
                        class="item" 
                        id="hw-f-link-costume7"
                        onclick="toggleItem('hw-f-link-costume7')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link8.png" 
                        class="item" 
                        id="hw-f-link-costume8"
                        onclick="toggleItem('hw-f-link-costume8')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link9.png" 
                        class="item" 
                        id="hw-f-link-costume9"
                        onclick="toggleItem('hw-f-link-costume9')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link10.png" 
                        class="item" 
                        id="hw-f-link-costume10"
                        onclick="toggleItem('hw-f-link-costume10')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link11.png" 
                        class="item" 
                        id="hw-f-link-costume11"
                        onclick="toggleItem('hw-f-link-costume11')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link12.png" 
                        class="item" 
                        id="hw-f-link-costume12"
                        onclick="toggleItem('hw-f-link-costume12')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link13.png" 
                        class="item" 
                        id="hw-f-link-costume13"
                        onclick="toggleItem('hw-f-link-costume13')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Costume/link14.png" 
                        class="item" 
                        id="hw-f-link-costume14"
                        onclick="toggleItem('hw-f-link-costume14')">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-section">
            <h2 class="section-title">Armes</h2>
            <div class="inventory-card blue-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link1-1.png" class="item" id="hw-f-link-arme11" data-stars="-1" onclick="toggleItem('hw-f-link-arme11')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme11">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link1-2.png" class="item" id="hw-f-link-arme12" data-stars="-1" onclick="toggleItem('hw-f-link-arme12')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme12">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link1-3.png" class="item" id="hw-f-link-arme13" data-stars="-1" onclick="toggleItem('hw-f-link-arme13')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme13">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link1-6.png" class="item" id="hw-f-link-arme16" data-stars="-1" onclick="toggleItem('hw-f-link-arme16')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme16">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link2-1.png" class="item" id="hw-f-link-arme21" data-stars="-1" onclick="toggleItem('hw-f-link-arme21')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme21">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link2-2.png" class="item" id="hw-f-link-arme22" data-stars="-1" onclick="toggleItem('hw-f-link-arme22')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme22">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link2-3.png" class="item" id="hw-f-link-arme23" data-stars="-1" onclick="toggleItem('hw-f-link-arme23')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme23">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link2-6.png" class="item" id="hw-f-link-arme26" data-stars="-1" onclick="toggleItem('hw-f-link-arme26')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme26">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link3-1.png" class="item" id="hw-f-link-arme31" data-stars="-1" onclick="toggleItem('hw-f-link-arme31')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme31">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link3-2.png" class="item" id="hw-f-link-arme32" data-stars="-1" onclick="toggleItem('hw-f-link-arme32')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme32">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link3-3.png" class="item" id="hw-f-link-arme33" data-stars="-1" onclick="toggleItem('hw-f-link-arme33')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme33">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link3-6.png" class="item" id="hw-f-link-arme36" data-stars="-1" onclick="toggleItem('hw-f-link-arme36')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme36">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link4-1.png" class="item" id="hw-f-link-arme41" data-stars="-1" onclick="toggleItem('hw-f-link-arme41')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme41">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link4-2.png" class="item" id="hw-f-link-arme42" data-stars="-1" onclick="toggleItem('hw-f-link-arme42')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme42">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link4-3.png" class="item" id="hw-f-link-arme43" data-stars="-1" onclick="toggleItem('hw-f-link-arme43')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme43">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link4-6.png" class="item" id="hw-f-link-arme46" data-stars="-1" onclick="toggleItem('hw-f-link-arme46')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme46">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link5.png" class="item" id="hw-f-link-arme5" data-stars="-1" onclick="toggleItem('hw-f-link-arme5')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme5">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link6-1.png" class="item" id="hw-f-link-arme61" data-stars="-1" onclick="toggleItem('hw-f-link-arme61')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme61">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link6-2.png" class="item" id="hw-f-link-arme62" data-stars="-1" onclick="toggleItem('hw-f-link-arme62')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme62">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link6-3.png" class="item" id="hw-f-link-arme63" data-stars="-1" onclick="toggleItem('hw-f-link-arme63')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme63">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link7-1.png" class="item" id="hw-f-link-arme71" data-stars="-1" onclick="toggleItem('hw-f-link-arme71')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme71">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link7-2.png" class="item" id="hw-f-link-arme72" data-stars="-1" onclick="toggleItem('hw-f-link-arme72')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme72">
                    </div>

                    <div class="item-wrapper item-star">
                        <img src="../images/HW/Weapons/link7-3.png" class="item" id="hw-f-link-arme73" data-stars="-1" onclick="toggleItem('hw-f-link-arme73')">
                        <img src="" class="star-badge" id="star-hw-f-link-arme73">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-section">
            <h2 class="section-title">Badges</h2>
            <div class="inventory-card green-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a1.png" 
                        class="item" 
                        id="hw-f-link-a1"
                        onclick="toggleItem('hw-f-link-a1')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a2.png" 
                        class="item" 
                        id="hw-f-link-a2"
                        onclick="toggleItem('hw-f-link-a2')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a3.png" 
                        class="item" 
                        id="hw-f-link-a3"
                        onclick="toggleItem('hw-f-link-a3')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a4.png" class="item" id="hw-f-link-a4" onclick="toggleItem('hw-f-link-a4')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a5.png" class="item" id="hw-f-link-a5" onclick="toggleItem('hw-f-link-a5')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a6.png" class="item" id="hw-f-link-a6" onclick="toggleItem('hw-f-link-a6')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a7.png" class="item" id="hw-f-link-a7" onclick="toggleItem('hw-f-link-a7')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a8.png" class="item" id="hw-f-link-a8" onclick="toggleItem('hw-f-link-a8')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a9.png" class="item" id="hw-f-link-a9" onclick="toggleItem('hw-f-link-a9')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a10.png" class="item" id="hw-f-link-a10" onclick="toggleItem('hw-f-link-a10')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a11.png" class="item" id="hw-f-link-a11" onclick="toggleItem('hw-f-link-a11')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a12.png" class="item" id="hw-f-link-a12" onclick="toggleItem('hw-f-link-a12')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a13.png" class="item" id="hw-f-link-a13" onclick="toggleItem('hw-f-link-a13')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a14.png" class="item" id="hw-f-link-a14" onclick="toggleItem('hw-f-link-a14')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a15.png" class="item" id="hw-f-link-a15" onclick="toggleItem('hw-f-link-a15')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a16.png" class="item" id="hw-f-link-a16" onclick="toggleItem('hw-f-link-a16')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a17.png" class="item" id="hw-f-link-a17" onclick="toggleItem('hw-f-link-a17')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a18.png" class="item" id="hw-f-link-a18" onclick="toggleItem('hw-f-link-a18')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a19.png" class="item" id="hw-f-link-a19" onclick="toggleItem('hw-f-link-a19')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a20.png" class="item" id="hw-f-link-a20" onclick="toggleItem('hw-f-link-a20')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a21.png" class="item" id="hw-f-link-a21" onclick="toggleItem('hw-f-link-a21')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a22.png" class="item" id="hw-f-link-a22" onclick="toggleItem('hw-f-link-a22')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a23.png" class="item" id="hw-f-link-a23" onclick="toggleItem('hw-f-link-a23')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a24.png" class="item" id="hw-f-link-a24" onclick="toggleItem('hw-f-link-a24')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a25.png" class="item" id="hw-f-link-a25" onclick="toggleItem('hw-f-link-a25')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a26.png" class="item" id="hw-f-link-a26" onclick="toggleItem('hw-f-link-a26')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a27.png" class="item" id="hw-f-link-a27" onclick="toggleItem('hw-f-link-a27')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a28.png" class="item" id="hw-f-link-a28" onclick="toggleItem('hw-f-link-a28')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a29.png" class="item" id="hw-f-link-a29" onclick="toggleItem('hw-f-link-a29')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a30.png" class="item" id="hw-f-link-a30" onclick="toggleItem('hw-f-link-a30')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a31.png" class="item" id="hw-f-link-a31" onclick="toggleItem('hw-f-link-a31')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a32.png" class="item" id="hw-f-link-a32" onclick="toggleItem('hw-f-link-a32')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a33.png" class="item" id="hw-f-link-a33" onclick="toggleItem('hw-f-link-a33')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a34.png" class="item" id="hw-f-link-a34" onclick="toggleItem('hw-f-link-a34')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a35.png" class="item" id="hw-f-link-a35" onclick="toggleItem('hw-f-link-a35')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a36.png" class="item" id="hw-f-link-a36" onclick="toggleItem('hw-f-link-a36')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a37.png" class="item" id="hw-f-link-a37" onclick="toggleItem('hw-f-link-a37')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/a38.png" class="item" id="hw-f-link-a38" onclick="toggleItem('hw-f-link-a38')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d1.png" class="item" id="hw-f-link-d1" onclick="toggleItem('hw-f-link-d1')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d2.png" class="item" id="hw-f-link-d2" onclick="toggleItem('hw-f-link-d2')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d3.png" class="item" id="hw-f-link-d3" onclick="toggleItem('hw-f-link-d3')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d4.png" class="item" id="hw-f-link-d4" onclick="toggleItem('hw-f-link-d4')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d5.png" class="item" id="hw-f-link-d5" onclick="toggleItem('hw-f-link-d5')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d6.png" class="item" id="hw-f-link-d6" onclick="toggleItem('hw-f-link-d6')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d7.png" class="item" id="hw-f-link-d7" onclick="toggleItem('hw-f-link-d7')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d8.png" class="item" id="hw-f-link-d8" onclick="toggleItem('hw-f-link-d8')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d9.png" class="item" id="hw-f-link-d9" onclick="toggleItem('hw-f-link-d9')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d10.png" class="item" id="hw-f-link-d10" onclick="toggleItem('hw-f-link-d10')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d11.png" class="item" id="hw-f-link-d11" onclick="toggleItem('hw-f-link-d11')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d12.png" class="item" id="hw-f-link-d12" onclick="toggleItem('hw-f-link-d12')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d13.png" class="item" id="hw-f-link-d13" onclick="toggleItem('hw-f-link-d13')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d14.png" class="item" id="hw-f-link-d14" onclick="toggleItem('hw-f-link-d14')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d15.png" class="item" id="hw-f-link-d15" onclick="toggleItem('hw-f-link-d15')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d16.png" class="item" id="hw-f-link-d16" onclick="toggleItem('hw-f-link-d16')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d17.png" class="item" id="hw-f-link-d17" onclick="toggleItem('hw-f-link-d17')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d18.png" class="item" id="hw-f-link-d18" onclick="toggleItem('hw-f-link-d18')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d19.png" class="item" id="hw-f-link-d19" onclick="toggleItem('hw-f-link-d19')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d20.png" class="item" id="hw-f-link-d20" onclick="toggleItem('hw-f-link-d20')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d21.png" class="item" id="hw-f-link-d21" onclick="toggleItem('hw-f-link-d21')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d22.png" class="item" id="hw-f-link-d22" onclick="toggleItem('hw-f-link-d22')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d23.png" class="item" id="hw-f-link-d23" onclick="toggleItem('hw-f-link-d23')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/d24.png" class="item" id="hw-f-link-d24" onclick="toggleItem('hw-f-link-d24')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/s1.png" class="item" id="hw-f-link-s1" onclick="toggleItem('hw-f-link-s1')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/s2.png" class="item" id="hw-f-link-s2" onclick="toggleItem('hw-f-link-s2')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/s3.png" class="item" id="hw-f-link-s3" onclick="toggleItem('hw-f-link-s3')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/s4.png" class="item" id="hw-f-link-s4" onclick="toggleItem('hw-f-link-s4')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/s6.png" class="item" id="hw-f-link-s6" onclick="toggleItem('hw-f-link-s6')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/s7.png" class="item" id="hw-f-link-s7" onclick="toggleItem('hw-f-link-s7')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/s9.png" class="item" id="hw-f-link-s9" onclick="toggleItem('hw-f-link-s9')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/s10.png" class="item" id="hw-f-link-s10" onclick="toggleItem('hw-f-link-s10')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/s12.png" class="item" id="hw-f-link-s12" onclick="toggleItem('hw-f-link-s12')">
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/s13.png" class="item" id="hw-f-link-s13" onclick="toggleItem('hw-f-link-s13')">
                    </div>
                    <div class="item-wrapper">
                        <img src="../images/HW/Badges/s15.png" class="item" id="hw-f-link-s15" onclick="toggleItem('hw-f-link-s15')">
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>