<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Hyrule Warriors</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="hw.html" class="back-link">← Retour</a>
        <h1 class="main-title">Hyrule Warriors - ITEMS</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-2-columns">
            <div class="inventory-section">
                <h2 class="section-title">Équipement</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">

                        <div class="item-wrapper">
                            <img src="../images/HW/A.png" 
                            class="item" 
                            id="hw-f-A"
                            data-max="467"
                            data-name="0"
                            onclick="toggleItem('hw-f-A')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/bronze.png" 
                            class="item" 
                            id="hw-f-bronze"
                            data-max="10"
                            data-name="0"
                            onclick="toggleItem('hw-f-bronze')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/silver.png" 
                            class="item" 
                            id="hw-f-silver"
                            data-max="15"
                            data-name="0"
                            onclick="toggleItem('hw-f-silver')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/gold.png" 
                            class="item" 
                            id="hw-f-gold"
                            data-max="15"
                            data-name="0"
                            onclick="toggleItem('hw-f-gold')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/heart.png" 
                            class="item" 
                            id="hw-f-heart"
                            data-max="253"
                            data-name="0"
                            onclick="toggleItem('hw-f-heart')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/full_heart.png" 
                            class="item" 
                            id="hw-f-full_heart"
                            data-max="253"
                            data-name="0"
                            onclick="toggleItem('hw-f-full_heart')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/skultula.png" 
                            class="item" 
                            id="hw-f-skultula"
                            data-max="160"
                            data-name="0"
                            onclick="toggleItem('hw-f-skultula')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/weapon.png" 
                            class="item" 
                            id="hw-f-weapon"
                            data-max="147"
                            data-name="0"
                            onclick="toggleItem('hw-f-weapon')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/costume.png" 
                            class="item" 
                            id="hw-f-costume"
                            data-max="105"
                            data-name="0"
                            onclick="toggleItem('hw-f-costume')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/star5.png" 
                            class="item" 
                            id="hw-f-star5"
                            data-max="147"
                            data-name="0"
                            onclick="toggleItem('hw-f-star5')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/lvl255.png" 
                            class="item" 
                            id="hw-f-lvl255"
                            data-max="31"
                            data-name="0"
                            onclick="toggleItem('hw-f-lvl255')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/easy.png" 
                            class="item" 
                            id="hw-f-easy"
                            data-max="23"
                            data-name="0"
                            onclick="toggleItem('hw-f-easy')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/medium.png" 
                            class="item" 
                            id="hw-f-medium"
                            data-max="23"
                            data-name="0"
                            onclick="toggleItem('hw-f-medium')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/hard.png" 
                            class="item" 
                            id="hw-f-hard"
                            data-max="23"
                            data-name="0"
                            onclick="toggleItem('hw-f-hard')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/HW/hero.png" 
                            class="item" 
                            id="hw-f-hero"
                            data-max="23"
                            data-name="0"
                            onclick="toggleItem('hw-f-hero')">
                            <p class="item-name">0</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Ganon</h2>
                <div class="inventory-card dark-card">
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/HW/ganon.png" class="item boss-item" id="hw-f-ganon" onclick="toggleItem('hw-f-ganon')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>