<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HW - Choisir le Menu</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="../index.html" class="back-link">← Retour</a>
        <h1 class="main-title">HYRULE WARRIORS</h1>
    </header>

    <div class="quest-container main-content">
        <a href="hw-tracker.html" class="quest-card">
            <img src="../images/HW/tracker.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">Tracker</span>
                <h2>Hyrule Warriors</h2>
                <p>Le tracker global</p>
            </div>
        </a>

        <a href="hw-link.html" class="quest-card">
            <img src="../images/HW/Link.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">Link</span>
                <h2>Hyrule Warriors</h2>
                <p>Les stats de Link</p>
            </div>
        </a>
    </div>
</body>
</html>