<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HW - Choisir le Menu</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="../index.html" class="back-link">← Retour</a>
        <h1 class="main-title">HYRULE WARRIORS</h1>
    </header>

    <div class="quest-container main-content">
        <a href="hw-tracker.html" class="quest-card">
            <img src="../images/HW/tracker.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">Tracker</span>
                <h2>Hyrule Warriors</h2>
                <p>Le tracker global</p>
            </div>
        </a>

        <a href="hw-illustration.html" class="quest-card">
            <img src="../images/HW/illustration.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">Illustration</span>
                <h2>Hyrule Warriors</h2>
                <p>Les Illustrations</p>
            </div>
        </a>

        <a href="hw-link.html" class="quest-card hw-warriors">
            <img src="../images/HW/link.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Link</span>
                <h2 class="hw-warriors">Hyrule Warriors</h2>
                <p class="hw-warriors">Les stats de Link</p>
            </div>
        </a>

        <a href="hw-impa.html" class="quest-card hw-warriors">
            <img src="../images/HW/impa.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Impa</span>
                <h2 class="hw-warriors">Hyrule Warriors</h2>
                <p class="hw-warriors">Les stats d'Impa</p>
            </div>
        </a>

        <a href="hw-sheik.html" class="quest-card hw-warriors">
            <img src="../images/HW/sheik.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Sheik</span>
                <h2 class="hw-warriors">Hyrule Warriors</h2>
                <p class="hw-warriors">Les stats de Sheik</p>
            </div>
        </a>

        <a href="hw-lana.html" class="quest-card hw-warriors">
            <img src="../images/HW/lana.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Lana</span>
                <h2 class="hw-warriors">Hyrule Warriors</h2>
                <p class="hw-warriors">Les stats de Lana</p>
            </div>
        </a>

        <a href="hw-zelda.html" class="quest-card hw-warriors">
            <img src="../images/HW/zelda.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Zelda</span>
                <h2 class="hw-warriors">Hyrule Warriors</h2>
                <p class="hw-warriors">Les stats de Zelda</p>
            </div>
        </a>

        <a href="hw-ganondorf.html" class="quest-card hw-warriors">
            <img src="../images/HW/ganondorf.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Ganondorf</span>
                <h2 class="hw-warriors">Hyrule Warriors</h2>
                <p class="hw-warriors">Les stats de Ganondorf</p>
            </div>
        </a>

        <a href="hw-daruk.html" class="quest-card hw-warriors">
            <img src="../images/HW/daruk.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Darunia</span>
                <h2 class="hw-warriors">Hyrule Warriors</h2>
                <p class="hw-warriors">Les stats de Darunia</p>
            </div>
        </a>
    </div>
</body>
</html>