<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - HYRULE WARRIORS DEFINITIVE EDITION - Toon Link</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="hwde.html" class="back-link">← Retour</a>
        <h1 class="main-title">HYRULE WARRIORS DEFINITIVE EDITION - Toon Link</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-section">
            <h2 class="section-title">Global</h2>
            <div class="inventory-card base-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper">
                        <img src="../images/HW/heart.png" 
                        class="item" 
                        id="hwde-f-toon-heart"
                        data-max="4"
                        data-name="0"
                        onclick="toggleItem('hwde-f-toon-heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/full_heart.png" 
                        class="item" 
                        id="hwde-f-toon-full_heart"
                        data-max="49"
                        data-name="0"
                        onclick="toggleItem('hwde-f-toon-full_heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/lvl255.png" 
                        class="item" 
                        id="hwde-f-toon-lvl255"
                        onclick="toggleItem('hwde-f-toon-lvl255')">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-row split-2-columns row-full">
            <div class="inventory-section">
                <h2 class="section-title">Costumes</h2>
                <div class="inventory-card red-card"> 
                    <div class="tracker-grid">
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/toon1.png" 
                                    class="item gros-item" 
                                    id="hwde-f-toon-costume1"
                                    onclick="toggleItem('hwde-f-toon-costume1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/toon2.png" 
                                    class="item gros-item" 
                                    id="hwde-f-toon-costume2"
                                    onclick="toggleItem('hwde-f-toon-costume2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/toon3.png" 
                                    class="item gros-item" 
                                    id="hwde-f-toon-costume3"
                                    onclick="toggleItem('hwde-f-toon-costume3')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/toon4.png" 
                                    class="item gros-item" 
                                    id="hwde-f-toon-costume4"
                                    onclick="toggleItem('hwde-f-toon-costume4')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/toon5.png" 
                                    class="item gros-item" 
                                    id="hwde-f-toon-costume5"
                                    onclick="toggleItem('hwde-f-toon-costume5')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Armes</h2>
                <div class="inventory-card blue-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/toon1-1.png" class="item gros-item" id="hwde-f-toon-arme11" data-stars="-1" onclick="toggleItem('hwde-f-toon-arme11')">
                                    <img src="" class="star-badge" id="star-hwde-f-toon-arme11">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/toon1-2.png" class="item gros-item" id="hwde-f-toon-arme12" data-stars="-1" onclick="toggleItem('hwde-f-toon-arme12')">
                                    <img src="" class="star-badge" id="star-hwde-f-toon-arme12">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/toon1-3.png" class="item gros-item" id="hwde-f-toon-arme13" data-stars="-1" onclick="toggleItem('hwde-f-toon-arme13')">
                                    <img src="" class="star-badge" id="star-hwde-f-toon-arme13">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/toon1-3.png" class="item gros-item" id="hwde-f-toon-arme14" data-stars="-1" onclick="toggleItem('hwde-f-toon-arme14')">
                                    <img src="" class="star-badge" id="star-hwde-f-toon-arme14">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/toon1-3.png" class="item gros-item" id="hwde-f-toon-arme15" data-stars="-1" onclick="toggleItem('hwde-f-toon-arme15')">
                                    <img src="" class="star-badge" id="star-hwde-f-toon-arme15">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/toon2-1.png" class="item gros-item" id="hwde-f-toon-arme21" data-stars="-1" onclick="toggleItem('hwde-f-toon-arme21')">
                                    <img src="" class="star-badge" id="star-hwde-f-toon-arme21">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/toon2-2.png" class="item gros-item" id="hwde-f-toon-arme22" data-stars="-1" onclick="toggleItem('hwde-f-toon-arme22')">
                                    <img src="" class="star-badge" id="star-hwde-f-toon-arme22">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/toon2-3.png" class="item gros-item" id="hwde-f-toon-arme23" data-stars="-1" onclick="toggleItem('hwde-f-toon-arme23')">
                                    <img src="" class="star-badge" id="star-hwde-f-toon-arme23">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/toon2-3.png" class="item gros-item" id="hwde-f-toon-arme24" data-stars="-1" onclick="toggleItem('hwde-f-toon-arme24')">
                                    <img src="" class="star-badge" id="star-hwde-f-toon-arme24">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/toon2-3.png" class="item gros-item" id="hwde-f-toon-arme25" data-stars="-1" onclick="toggleItem('hwde-f-toon-arme25')">
                                    <img src="" class="star-badge" id="star-hwde-f-toon-arme25">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Badges</h2>
                <div class="inventory-card green-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a1.png" 
                                    class="item" 
                                    id="hwde-f-toon-a1"
                                    onclick="toggleItem('hwde-f-toon-a1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a2.png" 
                                    class="item" 
                                    id="hwde-f-toon-a2"
                                    onclick="toggleItem('hwde-f-toon-a2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a3.png" 
                                    class="item" 
                                    id="hwde-f-toon-a3"
                                    onclick="toggleItem('hwde-f-toon-a3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a4.png" class="item" id="hwde-f-toon-a4" onclick="toggleItem('hwde-f-toon-a4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a5.png" class="item" id="hwde-f-toon-a5" onclick="toggleItem('hwde-f-toon-a5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a6.png" class="item" id="hwde-f-toon-a6" onclick="toggleItem('hwde-f-toon-a6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a7.png" class="item" id="hwde-f-toon-a7" onclick="toggleItem('hwde-f-toon-a7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a8.png" class="item" id="hwde-f-toon-a8" onclick="toggleItem('hwde-f-toon-a8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a9.png" class="item" id="hwde-f-toon-a9" onclick="toggleItem('hwde-f-toon-a9')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a10.png" class="item" id="hwde-f-toon-a10" onclick="toggleItem('hwde-f-toon-a10')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a11.png" class="item" id="hwde-f-toon-a11" onclick="toggleItem('hwde-f-toon-a11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a12.png" class="item" id="hwde-f-toon-a12" onclick="toggleItem('hwde-f-toon-a12')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a13.png" class="item" id="hwde-f-toon-a13" onclick="toggleItem('hwde-f-toon-a13')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a14.png" class="item" id="hwde-f-toon-a14" onclick="toggleItem('hwde-f-toon-a14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a15.png" class="item" id="hwde-f-toon-a15" onclick="toggleItem('hwde-f-toon-a15')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a16.png" class="item" id="hwde-f-toon-a16" onclick="toggleItem('hwde-f-toon-a16')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a17.png" class="item" id="hwde-f-toon-a17" onclick="toggleItem('hwde-f-toon-a17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a18.png" class="item" id="hwde-f-toon-a18" onclick="toggleItem('hwde-f-toon-a18')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a19.png" class="item" id="hwde-f-toon-a19" onclick="toggleItem('hwde-f-toon-a19')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a20.png" class="item" id="hwde-f-toon-a20" onclick="toggleItem('hwde-f-toon-a20')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a21.png" class="item" id="hwde-f-toon-a21" onclick="toggleItem('hwde-f-toon-a21')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a22.png" class="item" id="hwde-f-toon-a22" onclick="toggleItem('hwde-f-toon-a22')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d1.png" class="item" id="hwde-f-toon-d1" onclick="toggleItem('hwde-f-toon-d1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d2.png" class="item" id="hwde-f-toon-d2" onclick="toggleItem('hwde-f-toon-d2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d3.png" class="item" id="hwde-f-toon-d3" onclick="toggleItem('hwde-f-toon-d3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d4.png" class="item" id="hwde-f-toon-d4" onclick="toggleItem('hwde-f-toon-d4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d5.png" class="item" id="hwde-f-toon-d5" onclick="toggleItem('hwde-f-toon-d5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d6.png" class="item" id="hwde-f-toon-d6" onclick="toggleItem('hwde-f-toon-d6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d7.png" class="item" id="hwde-f-toon-d7" onclick="toggleItem('hwde-f-toon-d7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d8.png" class="item" id="hwde-f-toon-d8" onclick="toggleItem('hwde-f-toon-d8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d9.png" class="item" id="hwde-f-toon-d9" onclick="toggleItem('hwde-f-toon-d9')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d10.png" class="item" id="hwde-f-toon-d10" onclick="toggleItem('hwde-f-toon-d10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d11.png" class="item" id="hwde-f-toon-d11" onclick="toggleItem('hwde-f-toon-d11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d12.png" class="item" id="hwde-f-toon-d12" onclick="toggleItem('hwde-f-toon-d12')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d13.png" class="item" id="hwde-f-toon-d13" onclick="toggleItem('hwde-f-toon-d13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d14.png" class="item" id="hwde-f-toon-d14" onclick="toggleItem('hwde-f-toon-d14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d15.png" class="item" id="hwde-f-toon-d15" onclick="toggleItem('hwde-f-toon-d15')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d16.png" class="item" id="hwde-f-toon-d16" onclick="toggleItem('hwde-f-toon-d16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d17.png" class="item" id="hwde-f-toon-d17" onclick="toggleItem('hwde-f-toon-d17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d18.png" class="item" id="hwde-f-toon-d18" onclick="toggleItem('hwde-f-toon-d18')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d19.png" class="item" id="hwde-f-toon-d19" onclick="toggleItem('hwde-f-toon-d19')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d20.png" class="item" id="hwde-f-toon-d20" onclick="toggleItem('hwde-f-toon-d20')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d21.png" class="item" id="hwde-f-toon-d21" onclick="toggleItem('hwde-f-toon-d21')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d22.png" class="item" id="hwde-f-toon-d22" onclick="toggleItem('hwde-f-toon-d22')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d23.png" class="item" id="hwde-f-toon-d23" onclick="toggleItem('hwde-f-toon-d23')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d24.png" class="item" id="hwde-f-toon-d24" onclick="toggleItem('hwde-f-toon-d24')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s1.png" class="item" id="hwde-f-toon-s1" onclick="toggleItem('hwde-f-toon-s1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s2.png" class="item" id="hwde-f-toon-s2" onclick="toggleItem('hwde-f-toon-s2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s3.png" class="item" id="hwde-f-toon-s3" onclick="toggleItem('hwde-f-toon-s3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s4.png" class="item" id="hwde-f-toon-s4" onclick="toggleItem('hwde-f-toon-s4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s5.png" class="item" id="hwde-f-toon-s5" onclick="toggleItem('hwde-f-toon-s5')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s7.png" class="item" id="hwde-f-toon-s7" onclick="toggleItem('hwde-f-toon-s7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s8.png" class="item" id="hwde-f-toon-s8" onclick="toggleItem('hwde-f-toon-s8')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s10.png" class="item" id="hwde-f-toon-s10" onclick="toggleItem('hwde-f-toon-s10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s11.png" class="item" id="hwde-f-toon-s11" onclick="toggleItem('hwde-f-toon-s11')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s13.png" class="item" id="hwde-f-toon-s13" onclick="toggleItem('hwde-f-toon-s13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s14.png" class="item" id="hwde-f-toon-s14" onclick="toggleItem('hwde-f-toon-s14')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s16.png" class="item" id="hwde-f-toon-s16" onclick="toggleItem('hwde-f-toon-s16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s17.png" class="item" id="hwde-f-toon-s17" onclick="toggleItem('hwde-f-toon-s17')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>