<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - HYRULE WARRIORS DEFINITIVE EDITION - Marine</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="hwde.html" class="back-link">← Retour</a>
        <h1 class="main-title">HYRULE WARRIORS DEFINITIVE EDITION - Marine</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-section">
            <h2 class="section-title">Global</h2>
            <div class="inventory-card base-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper">
                        <img src="../images/HW/full_heart.png" 
                        class="item" 
                        id="hwde-f-marine-full_heart"
                        data-max="50"
                        data-name="0"
                        onclick="toggleItem('hwde-f-marine-full_heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/lvl255.png" 
                        class="item" 
                        id="hwde-f-marine-lvl255"
                        onclick="toggleItem('hwde-f-marine-lvl255')">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-row split-2-columns row-full">
            <div class="inventory-section">
                <h2 class="section-title">Costumes</h2>
                <div class="inventory-card red-card"> 
                    <div class="tracker-grid">
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/marine1.png" 
                                    class="item gros-item" 
                                    id="hwde-f-marine-costume1"
                                    onclick="toggleItem('hwde-f-marine-costume1')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Armes</h2>
                <div class="inventory-card blue-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/marine1-1.png" class="item gros-item" id="hwde-f-marine-arme11" data-stars="-1" onclick="toggleItem('hwde-f-marine-arme11')">
                                    <img src="" class="star-badge" id="star-hwde-f-marine-arme11">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/marine1-2.png" class="item gros-item" id="hwde-f-marine-arme12" data-stars="-1" onclick="toggleItem('hwde-f-marine-arme12')">
                                    <img src="" class="star-badge" id="star-hwde-f-marine-arme12">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/marine1-3.png" class="item gros-item" id="hwde-f-marine-arme13" data-stars="-1" onclick="toggleItem('hwde-f-marine-arme13')">
                                    <img src="" class="star-badge" id="star-hwde-f-marine-arme13">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/marine1-3.png" class="item gros-item" id="hwde-f-marine-arme14" data-stars="-1" onclick="toggleItem('hwde-f-marine-arme14')">
                                    <img src="" class="star-badge" id="star-hwde-f-marine-arme14">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/marine1-3.png" class="item gros-item" id="hwde-f-marine-arme15" data-stars="-1" onclick="toggleItem('hwde-f-marine-arme15')">
                                    <img src="" class="star-badge" id="star-hwde-f-marine-arme15">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Badges</h2>
                <div class="inventory-card green-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a1.png" 
                                    class="item" 
                                    id="hwde-f-marine-a1"
                                    onclick="toggleItem('hwde-f-marine-a1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a2.png" 
                                    class="item" 
                                    id="hwde-f-marine-a2"
                                    onclick="toggleItem('hwde-f-marine-a2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a3.png" 
                                    class="item" 
                                    id="hwde-f-marine-a3"
                                    onclick="toggleItem('hwde-f-marine-a3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a4.png" class="item" id="hwde-f-marine-a4" onclick="toggleItem('hwde-f-marine-a4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a5.png" class="item" id="hwde-f-marine-a5" onclick="toggleItem('hwde-f-marine-a5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a6.png" class="item" id="hwde-f-marine-a6" onclick="toggleItem('hwde-f-marine-a6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a7.png" class="item" id="hwde-f-marine-a7" onclick="toggleItem('hwde-f-marine-a7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a8.png" class="item" id="hwde-f-marine-a8" onclick="toggleItem('hwde-f-marine-a8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a9.png" class="item" id="hwde-f-marine-a9" onclick="toggleItem('hwde-f-marine-a9')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a10.png" class="item" id="hwde-f-marine-a10" onclick="toggleItem('hwde-f-marine-a10')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a11.png" class="item" id="hwde-f-marine-a11" onclick="toggleItem('hwde-f-marine-a11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a12.png" class="item" id="hwde-f-marine-a12" onclick="toggleItem('hwde-f-marine-a12')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a13.png" class="item" id="hwde-f-marine-a13" onclick="toggleItem('hwde-f-marine-a13')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a14.png" class="item" id="hwde-f-marine-a14" onclick="toggleItem('hwde-f-marine-a14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a15.png" class="item" id="hwde-f-marine-a15" onclick="toggleItem('hwde-f-marine-a15')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a16.png" class="item" id="hwde-f-marine-a16" onclick="toggleItem('hwde-f-marine-a16')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a17.png" class="item" id="hwde-f-marine-a17" onclick="toggleItem('hwde-f-marine-a17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a18.png" class="item" id="hwde-f-marine-a18" onclick="toggleItem('hwde-f-marine-a18')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d1.png" class="item" id="hwde-f-marine-d1" onclick="toggleItem('hwde-f-marine-d1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d2.png" class="item" id="hwde-f-marine-d2" onclick="toggleItem('hwde-f-marine-d2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d3.png" class="item" id="hwde-f-marine-d3" onclick="toggleItem('hwde-f-marine-d3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d4.png" class="item" id="hwde-f-marine-d4" onclick="toggleItem('hwde-f-marine-d4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d5.png" class="item" id="hwde-f-marine-d5" onclick="toggleItem('hwde-f-marine-d5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d6.png" class="item" id="hwde-f-marine-d6" onclick="toggleItem('hwde-f-marine-d6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d7.png" class="item" id="hwde-f-marine-d7" onclick="toggleItem('hwde-f-marine-d7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d8.png" class="item" id="hwde-f-marine-d8" onclick="toggleItem('hwde-f-marine-d8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d9.png" class="item" id="hwde-f-marine-d9" onclick="toggleItem('hwde-f-marine-d9')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d10.png" class="item" id="hwde-f-marine-d10" onclick="toggleItem('hwde-f-marine-d10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d11.png" class="item" id="hwde-f-marine-d11" onclick="toggleItem('hwde-f-marine-d11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d12.png" class="item" id="hwde-f-marine-d12" onclick="toggleItem('hwde-f-marine-d12')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d13.png" class="item" id="hwde-f-marine-d13" onclick="toggleItem('hwde-f-marine-d13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d14.png" class="item" id="hwde-f-marine-d14" onclick="toggleItem('hwde-f-marine-d14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d15.png" class="item" id="hwde-f-marine-d15" onclick="toggleItem('hwde-f-marine-d15')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d16.png" class="item" id="hwde-f-marine-d16" onclick="toggleItem('hwde-f-marine-d16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d17.png" class="item" id="hwde-f-marine-d17" onclick="toggleItem('hwde-f-marine-d17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d18.png" class="item" id="hwde-f-marine-d18" onclick="toggleItem('hwde-f-marine-d18')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d19.png" class="item" id="hwde-f-marine-d19" onclick="toggleItem('hwde-f-marine-d19')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d20.png" class="item" id="hwde-f-marine-d20" onclick="toggleItem('hwde-f-marine-d20')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d21.png" class="item" id="hwde-f-marine-d21" onclick="toggleItem('hwde-f-marine-d21')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d22.png" class="item" id="hwde-f-marine-d22" onclick="toggleItem('hwde-f-marine-d22')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d23.png" class="item" id="hwde-f-marine-d23" onclick="toggleItem('hwde-f-marine-d23')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d24.png" class="item" id="hwde-f-marine-d24" onclick="toggleItem('hwde-f-marine-d24')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s1.png" class="item" id="hwde-f-marine-s1" onclick="toggleItem('hwde-f-marine-s1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s2.png" class="item" id="hwde-f-marine-s2" onclick="toggleItem('hwde-f-marine-s2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s3.png" class="item" id="hwde-f-marine-s3" onclick="toggleItem('hwde-f-marine-s3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s4.png" class="item" id="hwde-f-marine-s4" onclick="toggleItem('hwde-f-marine-s4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s5.png" class="item" id="hwde-f-marine-s5" onclick="toggleItem('hwde-f-marine-s5')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s7.png" class="item" id="hwde-f-marine-s7" onclick="toggleItem('hwde-f-marine-s7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s8.png" class="item" id="hwde-f-marine-s8" onclick="toggleItem('hwde-f-marine-s8')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s10.png" class="item" id="hwde-f-marine-s10" onclick="toggleItem('hwde-f-marine-s10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s11.png" class="item" id="hwde-f-marine-s11" onclick="toggleItem('hwde-f-marine-s11')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s13.png" class="item" id="hwde-f-marine-s13" onclick="toggleItem('hwde-f-marine-s13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s14.png" class="item" id="hwde-f-marine-s14" onclick="toggleItem('hwde-f-marine-s14')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s16.png" class="item" id="hwde-f-marine-s16" onclick="toggleItem('hwde-f-marine-s16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s17.png" class="item" id="hwde-f-marine-s17" onclick="toggleItem('hwde-f-marine-s17')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>