<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - HYRULE WARRIORS DEFINITIVE EDITION - Sheik</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="hwde.html" class="back-link">← Retour</a>
        <h1 class="main-title">HYRULE WARRIORS DEFINITIVE EDITION - Sheik</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-section">
            <h2 class="section-title">Global</h2>
            <div class="inventory-card base-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper">
                        <img src="../images/HW/heart.png" 
                        class="item" 
                        id="hwde-f-sheik-heart"
                        data-max="4"
                        data-name="0"
                        onclick="toggleItem('hwde-f-sheik-heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/full_heart.png" 
                        class="item" 
                        id="hwde-f-sheik-full_heart"
                        data-max="49"
                        data-name="0"
                        onclick="toggleItem('hwde-f-sheik-full_heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/lvl255.png" 
                        class="item" 
                        id="hwde-f-sheik-lvl255"
                        onclick="toggleItem('hwde-f-sheik-lvl255')">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-row split-2-columns row-full">
            <div class="inventory-section">
                <h2 class="section-title">Costumes</h2>
                <div class="inventory-card red-card"> 
                    <div class="tracker-grid">
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/sheik1.png" 
                                    class="item gros-item" 
                                    id="hwde-f-sheik-costume1"
                                    onclick="toggleItem('hwde-f-sheik-costume1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/sheik2.png" 
                                    class="item gros-item"
                                    id="hwde-f-sheik-costume2"
                                    onclick="toggleItem('hwde-f-sheik-costume2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/sheik3.png" 
                                    class="item gros-item" 
                                    id="hwde-f-sheik-costume3"
                                    onclick="toggleItem('hwde-f-sheik-costume3')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/sheik4.png" 
                                    class="item gros-item" 
                                    id="hwde-f-sheik-costume4"
                                    onclick="toggleItem('hwde-f-sheik-costume4')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/sheik5.png" 
                                    class="item gros-item" 
                                    id="hwde-f-sheik-costume5"
                                    onclick="toggleItem('hwde-f-sheik-costume5')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/sheik6.png" 
                                    class="item gros-item"
                                    id="hwde-f-sheik-costume6"
                                    onclick="toggleItem('hwde-f-sheik-costume6')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/sheik7.png" 
                                    class="item gros-item" 
                                    id="hwde-f-sheik-costume7"
                                    onclick="toggleItem('hwde-f-sheik-costume7')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/sheik8.png" 
                                    class="item gros-item" 
                                    id="hwde-f-sheik-costume8"
                                    onclick="toggleItem('hwde-f-sheik-costume8')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Armes</h2>
                <div class="inventory-card blue-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/sheik1-1.png" class="item gros-item" id="hwde-f-sheik-arme11" data-stars="-1" onclick="toggleItem('hwde-f-sheik-arme11')">
                                    <img src="" class="star-badge" id="star-hwde-f-sheik-arme11">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/sheik1-2.png" class="item gros-item" id="hwde-f-sheik-arme12" data-stars="-1" onclick="toggleItem('hwde-f-sheik-arme12')">
                                    <img src="" class="star-badge" id="star-hwde-f-sheik-arme12">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/sheik1-3.png" class="item gros-item" id="hwde-f-sheik-arme13" data-stars="-1" onclick="toggleItem('hwde-f-sheik-arme13')">
                                    <img src="" class="star-badge" id="star-hwde-f-sheik-arme13">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/sheik1-3.png" class="item gros-item" id="hwde-f-sheik-arme14" data-stars="-1" onclick="toggleItem('hwde-f-sheik-arme14')">
                                    <img src="" class="star-badge" id="star-hwde-f-sheik-arme14">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/sheik1-3.png" class="item gros-item" id="hwde-f-sheik-arme15" data-stars="-1" onclick="toggleItem('hwde-f-sheik-arme15')">
                                    <img src="" class="star-badge" id="star-hwde-f-sheik-arme15">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/sheik1-6.png" class="item gros-item" id="hwde-f-sheik-arme16" data-stars="-1" onclick="toggleItem('hwde-f-sheik-arme16')">
                                    <img src="" class="star-badge" id="star-hwde-f-sheik-arme16">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Badges</h2>
                <div class="inventory-card green-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a1.png" 
                                    class="item" 
                                    id="hwde-f-sheik-a1"
                                    onclick="toggleItem('hwde-f-sheik-a1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a2.png" 
                                    class="item" 
                                    id="hwde-f-sheik-a2"
                                    onclick="toggleItem('hwde-f-sheik-a2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a3.png" 
                                    class="item" 
                                    id="hwde-f-sheik-a3"
                                    onclick="toggleItem('hwde-f-sheik-a3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a4.png" class="item" id="hwde-f-sheik-a4" onclick="toggleItem('hwde-f-sheik-a4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a5.png" class="item" id="hwde-f-sheik-a5" onclick="toggleItem('hwde-f-sheik-a5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a6.png" class="item" id="hwde-f-sheik-a6" onclick="toggleItem('hwde-f-sheik-a6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a7.png" class="item" id="hwde-f-sheik-a7" onclick="toggleItem('hwde-f-sheik-a7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a8.png" class="item" id="hwde-f-sheik-a8" onclick="toggleItem('hwde-f-sheik-a8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a9.png" class="item" id="hwde-f-sheik-a9" onclick="toggleItem('hwde-f-sheik-a9')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a10.png" class="item" id="hwde-f-sheik-a10" onclick="toggleItem('hwde-f-sheik-a10')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a11.png" class="item" id="hwde-f-sheik-a11" onclick="toggleItem('hwde-f-sheik-a11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a12.png" class="item" id="hwde-f-sheik-a12" onclick="toggleItem('hwde-f-sheik-a12')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a13.png" class="item" id="hwde-f-sheik-a13" onclick="toggleItem('hwde-f-sheik-a13')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a14.png" class="item" id="hwde-f-sheik-a14" onclick="toggleItem('hwde-f-sheik-a14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a15.png" class="item" id="hwde-f-sheik-a15" onclick="toggleItem('hwde-f-sheik-a15')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a16.png" class="item" id="hwde-f-sheik-a16" onclick="toggleItem('hwde-f-sheik-a16')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a17.png" class="item" id="hwde-f-sheik-a17" onclick="toggleItem('hwde-f-sheik-a17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a18.png" class="item" id="hwde-f-sheik-a18" onclick="toggleItem('hwde-f-sheik-a18')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d1.png" class="item" id="hwde-f-sheik-d1" onclick="toggleItem('hwde-f-sheik-d1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d2.png" class="item" id="hwde-f-sheik-d2" onclick="toggleItem('hwde-f-sheik-d2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d3.png" class="item" id="hwde-f-sheik-d3" onclick="toggleItem('hwde-f-sheik-d3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d4.png" class="item" id="hwde-f-sheik-d4" onclick="toggleItem('hwde-f-sheik-d4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d5.png" class="item" id="hwde-f-sheik-d5" onclick="toggleItem('hwde-f-sheik-d5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d6.png" class="item" id="hwde-f-sheik-d6" onclick="toggleItem('hwde-f-sheik-d6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d7.png" class="item" id="hwde-f-sheik-d7" onclick="toggleItem('hwde-f-sheik-d7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d8.png" class="item" id="hwde-f-sheik-d8" onclick="toggleItem('hwde-f-sheik-d8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d9.png" class="item" id="hwde-f-sheik-d9" onclick="toggleItem('hwde-f-sheik-d9')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d10.png" class="item" id="hwde-f-sheik-d10" onclick="toggleItem('hwde-f-sheik-d10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d11.png" class="item" id="hwde-f-sheik-d11" onclick="toggleItem('hwde-f-sheik-d11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d12.png" class="item" id="hwde-f-sheik-d12" onclick="toggleItem('hwde-f-sheik-d12')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d13.png" class="item" id="hwde-f-sheik-d13" onclick="toggleItem('hwde-f-sheik-d13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d14.png" class="item" id="hwde-f-sheik-d14" onclick="toggleItem('hwde-f-sheik-d14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d15.png" class="item" id="hwde-f-sheik-d15" onclick="toggleItem('hwde-f-sheik-d15')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d16.png" class="item" id="hwde-f-sheik-d16" onclick="toggleItem('hwde-f-sheik-d16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d17.png" class="item" id="hwde-f-sheik-d17" onclick="toggleItem('hwde-f-sheik-d17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d18.png" class="item" id="hwde-f-sheik-d18" onclick="toggleItem('hwde-f-sheik-d18')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d19.png" class="item" id="hwde-f-sheik-d19" onclick="toggleItem('hwde-f-sheik-d19')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d20.png" class="item" id="hwde-f-sheik-d20" onclick="toggleItem('hwde-f-sheik-d20')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d21.png" class="item" id="hwde-f-sheik-d21" onclick="toggleItem('hwde-f-sheik-d21')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d22.png" class="item" id="hwde-f-sheik-d22" onclick="toggleItem('hwde-f-sheik-d22')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d23.png" class="item" id="hwde-f-sheik-d23" onclick="toggleItem('hwde-f-sheik-d23')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d24.png" class="item" id="hwde-f-sheik-d24" onclick="toggleItem('hwde-f-sheik-d24')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s1.png" class="item" id="hwde-f-sheik-s1" onclick="toggleItem('hwde-f-sheik-s1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s2.png" class="item" id="hwde-f-sheik-s2" onclick="toggleItem('hwde-f-sheik-s2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s3.png" class="item" id="hwde-f-sheik-s3" onclick="toggleItem('hwde-f-sheik-s3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s4.png" class="item" id="hwde-f-sheik-s4" onclick="toggleItem('hwde-f-sheik-s4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s5.png" class="item" id="hwde-f-sheik-s5" onclick="toggleItem('hwde-f-sheik-s5')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s7.png" class="item" id="hwde-f-sheik-s7" onclick="toggleItem('hwde-f-sheik-s7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s8.png" class="item" id="hwde-f-sheik-s8" onclick="toggleItem('hwde-f-sheik-s8')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s10.png" class="item" id="hwde-f-sheik-s10" onclick="toggleItem('hwde-f-sheik-s10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s11.png" class="item" id="hwde-f-sheik-s11" onclick="toggleItem('hwde-f-sheik-s11')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s13.png" class="item" id="hwde-f-sheik-s13" onclick="toggleItem('hwde-f-sheik-s13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s14.png" class="item" id="hwde-f-sheik-s14" onclick="toggleItem('hwde-f-sheik-s14')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s16.png" class="item" id="hwde-f-sheik-s16" onclick="toggleItem('hwde-f-sheik-s16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s17.png" class="item" id="hwde-f-sheik-s17" onclick="toggleItem('hwde-f-sheik-s17')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>