<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HW DE - Choisir le Menu</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="../index.html" class="back-link">← Retour</a>
        <h1 class="main-title">HYRULE WARRIORS DEFINITIVE EDITION</h1>
    </header>

    <div class="quest-container main-content">
        <a href="hwde-tracker.html" class="quest-card">
            <img src="../images/HW/tracker.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">Tracker</span>
                <h2>HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p>Le tracker global</p>
            </div>
        </a>

        <a href="hwde-illustration.html" class="quest-card">
            <img src="../images/HW/illustration.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">Illustration</span>
                <h2>HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p>Les Illustrations</p>
            </div>
        </a>

        <a href="hwde-link.html" class="quest-card hw-warriors">
            <img src="../images/HW/link.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Link</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Link</p>
            </div>
        </a>

        <a href="hwde-impa.html" class="quest-card hw-warriors">
            <img src="../images/HW/impa.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Impa</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats d'Impa</p>
            </div>
        </a>

        <a href="hwde-sheik.html" class="quest-card hw-warriors">
            <img src="../images/HW/sheik.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Sheik</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Sheik</p>
            </div>
        </a>

        <a href="hwde-lana.html" class="quest-card hw-warriors">
            <img src="../images/HW/lana.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Lana</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Lana</p>
            </div>
        </a>

        <a href="hwde-zelda.html" class="quest-card hw-warriors">
            <img src="../images/HW/zelda.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Zelda</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Zelda</p>
            </div>
        </a>

        <a href="hwde-ganondorf.html" class="quest-card hw-warriors">
            <img src="../images/HW/ganondorf.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Ganondorf</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Ganondorf</p>
            </div>
        </a>

        <a href="hwde-daruk.html" class="quest-card hw-warriors">
            <img src="../images/HW/daruk.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Darunia</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Darunia</p>
            </div>
        </a>

        <a href="hwde-ruto.html" class="quest-card hw-warriors">
            <img src="../images/HW/ruto.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Ruto</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Ruto</p>
            </div>
        </a>

        <a href="hwde-machaon.html" class="quest-card hw-warriors">
            <img src="../images/HW/machaon.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Machaon</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Machaon</p>
            </div>
        </a>

        <a href="hwde-midna.html" class="quest-card hw-warriors">
            <img src="../images/HW/midna.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Midona</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Midona</p>
            </div>
        </a>

        <a href="hwde-zant.html" class="quest-card hw-warriors">
            <img src="../images/HW/zant.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Xanto</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Xanto</p>
            </div>
        </a>

        <a href="hwde-fay.html" class="quest-card hw-warriors">
            <img src="../images/HW/fay.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Fay</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Fay</p>
            </div>
        </a>

        <a href="hwde-ghirahim.html" class="quest-card hw-warriors">
            <img src="../images/HW/ghirahim.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Ghirahim</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Ghirahim</p>
            </div>
        </a>

        <a href="hwde-cia.html" class="quest-card hw-warriors">
            <img src="../images/HW/cia.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Cia</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Cia</p>
            </div>
        </a>

        <a href="hwde-volga.html" class="quest-card hw-warriors">
            <img src="../images/HW/volga.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Volga</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Volga</p>
            </div>
        </a>

        <a href="hwde-icero.html" class="quest-card hw-warriors">
            <img src="../images/HW/icero.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Iscerro</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats d'Iscerro</p>
            </div>
        </a>

        <a href="hwde-midona.html" class="quest-card hw-warriors">
            <img src="../images/HW/midona.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Midona</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Midona</p>
            </div>
        </a>

        <a href="hwde-young.html" class="quest-card hw-warriors">
            <img src="../images/HW/young.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Young Link</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Young Link</p>
            </div>
        </a>

        <a href="hwde-tingle.html" class="quest-card hw-warriors">
            <img src="../images/HW/tingle.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Tingle</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Tingle</p>
            </div>
        </a>

        <a href="hwde-ganon.html" class="quest-card hw-warriors">
            <img src="../images/HW/ganon.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Ganon</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Ganon</p>
            </div>
        </a>

        <a href="hwde-cucco.html" class="quest-card hw-warriors">
            <img src="../images/HW/cucco.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Poule</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de la Poule</p>
            </div>
        </a>

        <a href="hwde-linkle.html" class="quest-card hw-warriors">
            <img src="../images/HW/linkle.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Linkle</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Linkle</p>
            </div>
        </a>

        <a href="hwde-skullkid.html" class="quest-card hw-warriors">
            <img src="../images/HW/skullkid.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Skull Kid</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Skull Kid</p>
            </div>
        </a>

        <a href="hwde-toon.html" class="quest-card hw-warriors">
            <img src="../images/HW/toon.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Toon Link</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Toon Link</p>
            </div>
        </a>

        <a href="hwde-tetra.html" class="quest-card hw-warriors">
            <img src="../images/HW/tetra.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Tetra</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Tetra</p>
            </div>
        </a>

        <a href="hwde-king.html" class="quest-card hw-warriors">
            <img src="../images/HW/king.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Le Roi</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats du Roi</p>
            </div>
        </a>

        <a href="hwde-medoli.html" class="quest-card hw-warriors">
            <img src="../images/HW/medoli.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Médolie</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Médolie</p>
            </div>
        </a>

        <a href="hwde-marine.html" class="quest-card hw-warriors">
            <img src="../images/HW/marine.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Marine</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Marine</p>
            </div>
        </a>

        <a href="hwde-cartoon.html" class="quest-card hw-warriors">
            <img src="../images/HW/cartoon.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Toon Zelda</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Toon Zelda</p>
            </div>
        </a>

        <a href="hwde-lavio.html" class="quest-card hw-warriors">
            <img src="../images/HW/lavio.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Lavio</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Lavio</p>
            </div>
        </a>

        <a href="hwde-yuga.html" class="quest-card hw-warriors">
            <img src="../images/HW/yuga.png" class="cover-img hw-image">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number hw-warriors">Yuga</span>
                <h2 class="hw-warriors">HYRULE WARRIORS DEFINITIVE EDITION</h2>
                <p class="hw-warriors">Les stats de Yuga</p>
            </div>
        </a>
    </div>
</body>
</html>