<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - HYRULE WARRIORS DEFINITIVE EDITION - Linkle</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="hwde.html" class="back-link">← Retour</a>
        <h1 class="main-title">HYRULE WARRIORS DEFINITIVE EDITION - Linkle</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-section">
            <h2 class="section-title">Global</h2>
            <div class="inventory-card base-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper">
                        <img src="../images/HW/heart.png" 
                        class="item" 
                        id="hwde-f-linkle-heart"
                        data-max="8"
                        data-name="0"
                        onclick="toggleItem('hwde-f-linkle-heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/full_heart.png" 
                        class="item" 
                        id="hwde-f-linkle-full_heart"
                        data-max="48"
                        data-name="0"
                        onclick="toggleItem('hwde-f-linkle-full_heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/lvl255.png" 
                        class="item" 
                        id="hwde-f-linkle-lvl255"
                        onclick="toggleItem('hwde-f-linkle-lvl255')">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-row split-2-columns row-full">
            <div class="inventory-section">
                <h2 class="section-title">Costumes</h2>
                <div class="inventory-card red-card"> 
                    <div class="tracker-grid">
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/linkle1.png" 
                                    class="item gros-item" 
                                    id="hwde-f-linkle-costume1"
                                    onclick="toggleItem('hwde-f-linkle-costume1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/linkle2.png" 
                                    class="item gros-item" 
                                    id="hwde-f-linkle-costume2"
                                    onclick="toggleItem('hwde-f-linkle-costume2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/linkle3.png" 
                                    class="item gros-item" 
                                    id="hwde-f-linkle-costume3"
                                    onclick="toggleItem('hwde-f-linkle-costume3')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/linkle4.png" 
                                    class="item gros-item" 
                                    id="hwde-f-linkle-costume4"
                                    onclick="toggleItem('hwde-f-linkle-costume4')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/linkle5.png" 
                                    class="item gros-item" 
                                    id="hwde-f-linkle-costume5"
                                    onclick="toggleItem('hwde-f-linkle-costume5')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Armes</h2>
                <div class="inventory-card blue-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/linkle1-1.png" class="item gros-item" id="hwde-f-linkle-arme11" data-stars="-1" onclick="toggleItem('hwde-f-linkle-arme11')">
                                    <img src="" class="star-badge" id="star-hwde-f-linkle-arme11">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/linkle1-2.png" class="item gros-item" id="hwde-f-linkle-arme12" data-stars="-1" onclick="toggleItem('hwde-f-linkle-arme12')">
                                    <img src="" class="star-badge" id="star-hwde-f-linkle-arme12">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/linkle1-3.png" class="item gros-item" id="hwde-f-linkle-arme13" data-stars="-1" onclick="toggleItem('hwde-f-linkle-arme13')">
                                    <img src="" class="star-badge" id="star-hwde-f-linkle-arme13">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/linkle1-3.png" class="item gros-item" id="hwde-f-linkle-arme14" data-stars="-1" onclick="toggleItem('hwde-f-linkle-arme14')">
                                    <img src="" class="star-badge" id="star-hwde-f-linkle-arme14">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/linkle1-3.png" class="item gros-item" id="hwde-f-linkle-arme15" data-stars="-1" onclick="toggleItem('hwde-f-linkle-arme15')">
                                    <img src="" class="star-badge" id="star-hwde-f-linkle-arme15">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/linkle2-1.png" class="item gros-item" id="hwde-f-linkle-arme21" data-stars="-1" onclick="toggleItem('hwde-f-linkle-arme21')">
                                    <img src="" class="star-badge" id="star-hwde-f-linkle-arme21">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/linkle2-2.png" class="item gros-item" id="hwde-f-linkle-arme22" data-stars="-1" onclick="toggleItem('hwde-f-linkle-arme22')">
                                    <img src="" class="star-badge" id="star-hwde-f-linkle-arme22">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/linkle2-3.png" class="item gros-item" id="hwde-f-linkle-arme23" data-stars="-1" onclick="toggleItem('hwde-f-linkle-arme23')">
                                    <img src="" class="star-badge" id="star-hwde-f-linkle-arme23">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/linkle2-3.png" class="item gros-item" id="hwde-f-linkle-arme24" data-stars="-1" onclick="toggleItem('hwde-f-linkle-arme24')">
                                    <img src="" class="star-badge" id="star-hwde-f-linkle-arme24">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/linkle2-3.png" class="item gros-item" id="hwde-f-linkle-arme25" data-stars="-1" onclick="toggleItem('hwde-f-linkle-arme25')">
                                    <img src="" class="star-badge" id="star-hwde-f-linkle-arme25">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Badges</h2>
                <div class="inventory-card green-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a1.png" 
                                    class="item" 
                                    id="hwde-f-linkle-a1"
                                    onclick="toggleItem('hwde-f-linkle-a1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a2.png" 
                                    class="item" 
                                    id="hwde-f-linkle-a2"
                                    onclick="toggleItem('hwde-f-linkle-a2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a3.png" 
                                    class="item" 
                                    id="hwde-f-linkle-a3"
                                    onclick="toggleItem('hwde-f-linkle-a3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a4.png" class="item" id="hwde-f-linkle-a4" onclick="toggleItem('hwde-f-linkle-a4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a5.png" class="item" id="hwde-f-linkle-a5" onclick="toggleItem('hwde-f-linkle-a5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a6.png" class="item" id="hwde-f-linkle-a6" onclick="toggleItem('hwde-f-linkle-a6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a7.png" class="item" id="hwde-f-linkle-a7" onclick="toggleItem('hwde-f-linkle-a7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a8.png" class="item" id="hwde-f-linkle-a8" onclick="toggleItem('hwde-f-linkle-a8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a9.png" class="item" id="hwde-f-linkle-a9" onclick="toggleItem('hwde-f-linkle-a9')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a10.png" class="item" id="hwde-f-linkle-a10" onclick="toggleItem('hwde-f-linkle-a10')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a11.png" class="item" id="hwde-f-linkle-a11" onclick="toggleItem('hwde-f-linkle-a11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a12.png" class="item" id="hwde-f-linkle-a12" onclick="toggleItem('hwde-f-linkle-a12')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a13.png" class="item" id="hwde-f-linkle-a13" onclick="toggleItem('hwde-f-linkle-a13')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a14.png" class="item" id="hwde-f-linkle-a14" onclick="toggleItem('hwde-f-linkle-a14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a15.png" class="item" id="hwde-f-linkle-a15" onclick="toggleItem('hwde-f-linkle-a15')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a16.png" class="item" id="hwde-f-linkle-a16" onclick="toggleItem('hwde-f-linkle-a16')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a17.png" class="item" id="hwde-f-linkle-a17" onclick="toggleItem('hwde-f-linkle-a17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a18.png" class="item" id="hwde-f-linkle-a18" onclick="toggleItem('hwde-f-linkle-a18')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a19.png" class="item" id="hwde-f-linkle-a19" onclick="toggleItem('hwde-f-linkle-a19')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a20.png" class="item" id="hwde-f-linkle-a20" onclick="toggleItem('hwde-f-linkle-a20')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a21.png" class="item" id="hwde-f-linkle-a21" onclick="toggleItem('hwde-f-linkle-a21')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a22.png" class="item" id="hwde-f-linkle-a22" onclick="toggleItem('hwde-f-linkle-a22')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d1.png" class="item" id="hwde-f-linkle-d1" onclick="toggleItem('hwde-f-linkle-d1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d2.png" class="item" id="hwde-f-linkle-d2" onclick="toggleItem('hwde-f-linkle-d2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d3.png" class="item" id="hwde-f-linkle-d3" onclick="toggleItem('hwde-f-linkle-d3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d4.png" class="item" id="hwde-f-linkle-d4" onclick="toggleItem('hwde-f-linkle-d4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d5.png" class="item" id="hwde-f-linkle-d5" onclick="toggleItem('hwde-f-linkle-d5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d6.png" class="item" id="hwde-f-linkle-d6" onclick="toggleItem('hwde-f-linkle-d6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d7.png" class="item" id="hwde-f-linkle-d7" onclick="toggleItem('hwde-f-linkle-d7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d8.png" class="item" id="hwde-f-linkle-d8" onclick="toggleItem('hwde-f-linkle-d8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d9.png" class="item" id="hwde-f-linkle-d9" onclick="toggleItem('hwde-f-linkle-d9')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d10.png" class="item" id="hwde-f-linkle-d10" onclick="toggleItem('hwde-f-linkle-d10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d11.png" class="item" id="hwde-f-linkle-d11" onclick="toggleItem('hwde-f-linkle-d11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d12.png" class="item" id="hwde-f-linkle-d12" onclick="toggleItem('hwde-f-linkle-d12')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d13.png" class="item" id="hwde-f-linkle-d13" onclick="toggleItem('hwde-f-linkle-d13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d14.png" class="item" id="hwde-f-linkle-d14" onclick="toggleItem('hwde-f-linkle-d14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d15.png" class="item" id="hwde-f-linkle-d15" onclick="toggleItem('hwde-f-linkle-d15')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d16.png" class="item" id="hwde-f-linkle-d16" onclick="toggleItem('hwde-f-linkle-d16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d17.png" class="item" id="hwde-f-linkle-d17" onclick="toggleItem('hwde-f-linkle-d17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d18.png" class="item" id="hwde-f-linkle-d18" onclick="toggleItem('hwde-f-linkle-d18')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d19.png" class="item" id="hwde-f-linkle-d19" onclick="toggleItem('hwde-f-linkle-d19')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d20.png" class="item" id="hwde-f-linkle-d20" onclick="toggleItem('hwde-f-linkle-d20')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d21.png" class="item" id="hwde-f-linkle-d21" onclick="toggleItem('hwde-f-linkle-d21')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d22.png" class="item" id="hwde-f-linkle-d22" onclick="toggleItem('hwde-f-linkle-d22')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d23.png" class="item" id="hwde-f-linkle-d23" onclick="toggleItem('hwde-f-linkle-d23')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d24.png" class="item" id="hwde-f-linkle-d24" onclick="toggleItem('hwde-f-linkle-d24')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s1.png" class="item" id="hwde-f-linkle-s1" onclick="toggleItem('hwde-f-linkle-s1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s2.png" class="item" id="hwde-f-linkle-s2" onclick="toggleItem('hwde-f-linkle-s2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s3.png" class="item" id="hwde-f-linkle-s3" onclick="toggleItem('hwde-f-linkle-s3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s4.png" class="item" id="hwde-f-linkle-s4" onclick="toggleItem('hwde-f-linkle-s4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s5.png" class="item" id="hwde-f-linkle-s5" onclick="toggleItem('hwde-f-linkle-s5')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s7.png" class="item" id="hwde-f-linkle-s7" onclick="toggleItem('hwde-f-linkle-s7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s8.png" class="item" id="hwde-f-linkle-s8" onclick="toggleItem('hwde-f-linkle-s8')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s10.png" class="item" id="hwde-f-linkle-s10" onclick="toggleItem('hwde-f-linkle-s10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s11.png" class="item" id="hwde-f-linkle-s11" onclick="toggleItem('hwde-f-linkle-s11')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s13.png" class="item" id="hwde-f-linkle-s13" onclick="toggleItem('hwde-f-linkle-s13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s14.png" class="item" id="hwde-f-linkle-s14" onclick="toggleItem('hwde-f-linkle-s14')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s16.png" class="item" id="hwde-f-linkle-s16" onclick="toggleItem('hwde-f-linkle-s16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s17.png" class="item" id="hwde-f-linkle-s17" onclick="toggleItem('hwde-f-linkle-s17')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>