<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - HYRULE WARRIORS DEFINITIVE EDITION - Ghirahim</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="hwde.html" class="back-link">← Retour</a>
        <h1 class="main-title">HYRULE WARRIORS DEFINITIVE EDITION - Ghirahim</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-section">
            <h2 class="section-title">Global</h2>
            <div class="inventory-card base-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper">
                        <img src="../images/HW/heart.png" 
                        class="item" 
                        id="hwde-f-ghirahim-heart"
                        data-max="4"
                        data-name="0"
                        onclick="toggleItem('hwde-f-ghirahim-heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/full_heart.png" 
                        class="item" 
                        id="hwde-f-ghirahim-full_heart"
                        data-max="49"
                        data-name="0"
                        onclick="toggleItem('hwde-f-ghirahim-full_heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/lvl255.png" 
                        class="item" 
                        id="hwde-f-ghirahim-lvl255"
                        onclick="toggleItem('hwde-f-ghirahim-lvl255')">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-row split-2-columns row-full">
            <div class="inventory-section">
                <h2 class="section-title">Costumes</h2>
                <div class="inventory-card red-card"> 
                    <div class="tracker-grid">
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/ghirahim1.png" 
                                    class="item gros-item" 
                                    id="hwde-f-ghirahim-costume1"
                                    onclick="toggleItem('hwde-f-ghirahim-costume1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/ghirahim2.png" 
                                    class="item gros-item"
                                    id="hwde-f-ghirahim-costume2"
                                    onclick="toggleItem('hwde-f-ghirahim-costume2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/ghirahim3.png" 
                                    class="item gros-item" 
                                    id="hwde-f-ghirahim-costume3"
                                    onclick="toggleItem('hwde-f-ghirahim-costume3')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/ghirahim4.png" 
                                    class="item gros-item" 
                                    id="hwde-f-ghirahim-costume4"
                                    onclick="toggleItem('hwde-f-ghirahim-costume4')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/ghirahim5.png" 
                                    class="item gros-item" 
                                    id="hwde-f-ghirahim-costume5"
                                    onclick="toggleItem('hwde-f-ghirahim-costume5')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/ghirahim6.png" 
                                    class="item gros-item"
                                    id="hwde-f-ghirahim-costume6"
                                    onclick="toggleItem('hwde-f-ghirahim-costume6')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/ghirahim7.png" 
                                    class="item gros-item" 
                                    id="hwde-f-ghirahim-costume7"
                                    onclick="toggleItem('hwde-f-ghirahim-costume7')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/ghirahim8.png" 
                                    class="item gros-item" 
                                    id="hwde-f-ghirahim-costume8"
                                    onclick="toggleItem('hwde-f-ghirahim-costume8')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Armes</h2>
                <div class="inventory-card blue-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/ghirahim1-1.png" class="item gros-item" id="hwde-f-ghirahim-arme11" data-stars="-1" onclick="toggleItem('hwde-f-ghirahim-arme11')">
                                    <img src="" class="star-badge" id="star-hwde-f-ghirahim-arme11">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/ghirahim1-2.png" class="item gros-item" id="hwde-f-ghirahim-arme12" data-stars="-1" onclick="toggleItem('hwde-f-ghirahim-arme12')">
                                    <img src="" class="star-badge" id="star-hwde-f-ghirahim-arme12">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/ghirahim1-3.png" class="item gros-item" id="hwde-f-ghirahim-arme13" data-stars="-1" onclick="toggleItem('hwde-f-ghirahim-arme13')">
                                    <img src="" class="star-badge" id="star-hwde-f-ghirahim-arme13">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/ghirahim1-3.png" class="item gros-item" id="hwde-f-ghirahim-arme14" data-stars="-1" onclick="toggleItem('hwde-f-ghirahim-arme14')">
                                    <img src="" class="star-badge" id="star-hwde-f-ghirahim-arme14">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/ghirahim1-3.png" class="item gros-item" id="hwde-f-ghirahim-arme15" data-stars="-1" onclick="toggleItem('hwde-f-ghirahim-arme15')">
                                    <img src="" class="star-badge" id="star-hwde-f-ghirahim-arme15">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/ghirahim1-6.png" class="item gros-item" id="hwde-f-ghirahim-arme16" data-stars="-1" onclick="toggleItem('hwde-f-ghirahim-arme16')">
                                    <img src="" class="star-badge" id="star-hwde-f-ghirahim-arme16">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Badges</h2>
                <div class="inventory-card green-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a1.png" 
                                    class="item" 
                                    id="hwde-f-ghirahim-a1"
                                    onclick="toggleItem('hwde-f-ghirahim-a1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a2.png" 
                                    class="item" 
                                    id="hwde-f-ghirahim-a2"
                                    onclick="toggleItem('hwde-f-ghirahim-a2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a3.png" 
                                    class="item" 
                                    id="hwde-f-ghirahim-a3"
                                    onclick="toggleItem('hwde-f-ghirahim-a3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a4.png" class="item" id="hwde-f-ghirahim-a4" onclick="toggleItem('hwde-f-ghirahim-a4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a5.png" class="item" id="hwde-f-ghirahim-a5" onclick="toggleItem('hwde-f-ghirahim-a5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a6.png" class="item" id="hwde-f-ghirahim-a6" onclick="toggleItem('hwde-f-ghirahim-a6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a7.png" class="item" id="hwde-f-ghirahim-a7" onclick="toggleItem('hwde-f-ghirahim-a7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a8.png" class="item" id="hwde-f-ghirahim-a8" onclick="toggleItem('hwde-f-ghirahim-a8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a9.png" class="item" id="hwde-f-ghirahim-a9" onclick="toggleItem('hwde-f-ghirahim-a9')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a10.png" class="item" id="hwde-f-ghirahim-a10" onclick="toggleItem('hwde-f-ghirahim-a10')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a11.png" class="item" id="hwde-f-ghirahim-a11" onclick="toggleItem('hwde-f-ghirahim-a11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a12.png" class="item" id="hwde-f-ghirahim-a12" onclick="toggleItem('hwde-f-ghirahim-a12')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a13.png" class="item" id="hwde-f-ghirahim-a13" onclick="toggleItem('hwde-f-ghirahim-a13')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a14.png" class="item" id="hwde-f-ghirahim-a14" onclick="toggleItem('hwde-f-ghirahim-a14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a15.png" class="item" id="hwde-f-ghirahim-a15" onclick="toggleItem('hwde-f-ghirahim-a15')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a16.png" class="item" id="hwde-f-ghirahim-a16" onclick="toggleItem('hwde-f-ghirahim-a16')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a17.png" class="item" id="hwde-f-ghirahim-a17" onclick="toggleItem('hwde-f-ghirahim-a17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a18.png" class="item" id="hwde-f-ghirahim-a18" onclick="toggleItem('hwde-f-ghirahim-a18')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d1.png" class="item" id="hwde-f-ghirahim-d1" onclick="toggleItem('hwde-f-ghirahim-d1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d2.png" class="item" id="hwde-f-ghirahim-d2" onclick="toggleItem('hwde-f-ghirahim-d2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d3.png" class="item" id="hwde-f-ghirahim-d3" onclick="toggleItem('hwde-f-ghirahim-d3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d4.png" class="item" id="hwde-f-ghirahim-d4" onclick="toggleItem('hwde-f-ghirahim-d4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d5.png" class="item" id="hwde-f-ghirahim-d5" onclick="toggleItem('hwde-f-ghirahim-d5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d6.png" class="item" id="hwde-f-ghirahim-d6" onclick="toggleItem('hwde-f-ghirahim-d6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d7.png" class="item" id="hwde-f-ghirahim-d7" onclick="toggleItem('hwde-f-ghirahim-d7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d8.png" class="item" id="hwde-f-ghirahim-d8" onclick="toggleItem('hwde-f-ghirahim-d8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d9.png" class="item" id="hwde-f-ghirahim-d9" onclick="toggleItem('hwde-f-ghirahim-d9')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d10.png" class="item" id="hwde-f-ghirahim-d10" onclick="toggleItem('hwde-f-ghirahim-d10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d11.png" class="item" id="hwde-f-ghirahim-d11" onclick="toggleItem('hwde-f-ghirahim-d11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d12.png" class="item" id="hwde-f-ghirahim-d12" onclick="toggleItem('hwde-f-ghirahim-d12')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d13.png" class="item" id="hwde-f-ghirahim-d13" onclick="toggleItem('hwde-f-ghirahim-d13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d14.png" class="item" id="hwde-f-ghirahim-d14" onclick="toggleItem('hwde-f-ghirahim-d14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d15.png" class="item" id="hwde-f-ghirahim-d15" onclick="toggleItem('hwde-f-ghirahim-d15')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d16.png" class="item" id="hwde-f-ghirahim-d16" onclick="toggleItem('hwde-f-ghirahim-d16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d17.png" class="item" id="hwde-f-ghirahim-d17" onclick="toggleItem('hwde-f-ghirahim-d17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d18.png" class="item" id="hwde-f-ghirahim-d18" onclick="toggleItem('hwde-f-ghirahim-d18')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d19.png" class="item" id="hwde-f-ghirahim-d19" onclick="toggleItem('hwde-f-ghirahim-d19')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d20.png" class="item" id="hwde-f-ghirahim-d20" onclick="toggleItem('hwde-f-ghirahim-d20')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d21.png" class="item" id="hwde-f-ghirahim-d21" onclick="toggleItem('hwde-f-ghirahim-d21')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d22.png" class="item" id="hwde-f-ghirahim-d22" onclick="toggleItem('hwde-f-ghirahim-d22')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d23.png" class="item" id="hwde-f-ghirahim-d23" onclick="toggleItem('hwde-f-ghirahim-d23')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d24.png" class="item" id="hwde-f-ghirahim-d24" onclick="toggleItem('hwde-f-ghirahim-d24')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s1.png" class="item" id="hwde-f-ghirahim-s1" onclick="toggleItem('hwde-f-ghirahim-s1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s2.png" class="item" id="hwde-f-ghirahim-s2" onclick="toggleItem('hwde-f-ghirahim-s2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s3.png" class="item" id="hwde-f-ghirahim-s3" onclick="toggleItem('hwde-f-ghirahim-s3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s4.png" class="item" id="hwde-f-ghirahim-s4" onclick="toggleItem('hwde-f-ghirahim-s4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s5.png" class="item" id="hwde-f-ghirahim-s5" onclick="toggleItem('hwde-f-ghirahim-s5')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s7.png" class="item" id="hwde-f-ghirahim-s7" onclick="toggleItem('hwde-f-ghirahim-s7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s8.png" class="item" id="hwde-f-ghirahim-s8" onclick="toggleItem('hwde-f-ghirahim-s8')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s10.png" class="item" id="hwde-f-ghirahim-s10" onclick="toggleItem('hwde-f-ghirahim-s10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s11.png" class="item" id="hwde-f-ghirahim-s11" onclick="toggleItem('hwde-f-ghirahim-s11')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s13.png" class="item" id="hwde-f-ghirahim-s13" onclick="toggleItem('hwde-f-ghirahim-s13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s14.png" class="item" id="hwde-f-ghirahim-s14" onclick="toggleItem('hwde-f-ghirahim-s14')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s16.png" class="item" id="hwde-f-ghirahim-s16" onclick="toggleItem('hwde-f-ghirahim-s16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s17.png" class="item" id="hwde-f-ghirahim-s17" onclick="toggleItem('hwde-f-ghirahim-s17')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>