<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - HYRULE WARRIORS LEGENDS - Fay</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="hwl.html" class="back-link">← Retour</a>
        <h1 class="main-title">HYRULE WARRIORS LEGENDS - Fay</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-section">
            <h2 class="section-title">Global</h2>
            <div class="inventory-card base-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper">
                        <img src="../images/HW/heart.png" 
                        class="item" 
                        id="hwl-f-fay-heart"
                        data-max="4"
                        data-name="0"
                        onclick="toggleItem('hwl-f-fay-heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/full_heart.png" 
                        class="item" 
                        id="hwl-f-fay-full_heart"
                        data-max="49"
                        data-name="0"
                        onclick="toggleItem('hwl-f-fay-full_heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/lvl255.png" 
                        class="item" 
                        id="hwl-f-fay-lvl255"
                        onclick="toggleItem('hwl-f-fay-lvl255')">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-row split-2-columns row-full">
            <div class="inventory-section">
                <h2 class="section-title">Costumes</h2>
                <div class="inventory-card red-card"> 
                    <div class="tracker-grid">
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/fay1.png" 
                                    class="item gros-item" 
                                    id="hwl-f-fay-costume1"
                                    onclick="toggleItem('hwl-f-fay-costume1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/fay2.png" 
                                    class="item gros-item"
                                    id="hwl-f-fay-costume2"
                                    onclick="toggleItem('hwl-f-fay-costume2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/fay3.png" 
                                    class="item gros-item" 
                                    id="hwl-f-fay-costume3"
                                    onclick="toggleItem('hwl-f-fay-costume3')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/fay4.png" 
                                    class="item gros-item" 
                                    id="hwl-f-fay-costume4"
                                    onclick="toggleItem('hwl-f-fay-costume4')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/fay5.png" 
                                    class="item gros-item" 
                                    id="hwl-f-fay-costume5"
                                    onclick="toggleItem('hwl-f-fay-costume5')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/fay6.png" 
                                    class="item gros-item"
                                    id="hwl-f-fay-costume6"
                                    onclick="toggleItem('hwl-f-fay-costume6')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/fay7.png" 
                                    class="item gros-item" 
                                    id="hwl-f-fay-costume7"
                                    onclick="toggleItem('hwl-f-fay-costume7')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/fay8.png" 
                                    class="item gros-item" 
                                    id="hwl-f-fay-costume8"
                                    onclick="toggleItem('hwl-f-fay-costume8')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Armes</h2>
                <div class="inventory-card blue-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/fay1-1.png" class="item gros-item" id="hwl-f-fay-arme11" data-stars="-1" onclick="toggleItem('hwl-f-fay-arme11')">
                                    <img src="" class="star-badge" id="star-hwl-f-fay-arme11">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/fay1-2.png" class="item gros-item" id="hwl-f-fay-arme12" data-stars="-1" onclick="toggleItem('hwl-f-fay-arme12')">
                                    <img src="" class="star-badge" id="star-hwl-f-fay-arme12">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/fay1-3.png" class="item gros-item" id="hwl-f-fay-arme13" data-stars="-1" onclick="toggleItem('hwl-f-fay-arme13')">
                                    <img src="" class="star-badge" id="star-hwl-f-fay-arme13">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/fay1-3.png" class="item gros-item" id="hwl-f-fay-arme14" data-stars="-1" onclick="toggleItem('hwl-f-fay-arme14')">
                                    <img src="" class="star-badge" id="star-hwl-f-fay-arme14">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/fay1-3.png" class="item gros-item" id="hwl-f-fay-arme15" data-stars="-1" onclick="toggleItem('hwl-f-fay-arme15')">
                                    <img src="" class="star-badge" id="star-hwl-f-fay-arme15">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Badges</h2>
                <div class="inventory-card green-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a1.png" 
                                    class="item" 
                                    id="hwl-f-fay-a1"
                                    onclick="toggleItem('hwl-f-fay-a1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a2.png" 
                                    class="item" 
                                    id="hwl-f-fay-a2"
                                    onclick="toggleItem('hwl-f-fay-a2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a3.png" 
                                    class="item" 
                                    id="hwl-f-fay-a3"
                                    onclick="toggleItem('hwl-f-fay-a3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a4.png" class="item" id="hwl-f-fay-a4" onclick="toggleItem('hwl-f-fay-a4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a5.png" class="item" id="hwl-f-fay-a5" onclick="toggleItem('hwl-f-fay-a5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a6.png" class="item" id="hwl-f-fay-a6" onclick="toggleItem('hwl-f-fay-a6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a7.png" class="item" id="hwl-f-fay-a7" onclick="toggleItem('hwl-f-fay-a7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a8.png" class="item" id="hwl-f-fay-a8" onclick="toggleItem('hwl-f-fay-a8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a9.png" class="item" id="hwl-f-fay-a9" onclick="toggleItem('hwl-f-fay-a9')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a10.png" class="item" id="hwl-f-fay-a10" onclick="toggleItem('hwl-f-fay-a10')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a11.png" class="item" id="hwl-f-fay-a11" onclick="toggleItem('hwl-f-fay-a11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a12.png" class="item" id="hwl-f-fay-a12" onclick="toggleItem('hwl-f-fay-a12')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a13.png" class="item" id="hwl-f-fay-a13" onclick="toggleItem('hwl-f-fay-a13')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a14.png" class="item" id="hwl-f-fay-a14" onclick="toggleItem('hwl-f-fay-a14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a15.png" class="item" id="hwl-f-fay-a15" onclick="toggleItem('hwl-f-fay-a15')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a16.png" class="item" id="hwl-f-fay-a16" onclick="toggleItem('hwl-f-fay-a16')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a17.png" class="item" id="hwl-f-fay-a17" onclick="toggleItem('hwl-f-fay-a17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a18.png" class="item" id="hwl-f-fay-a18" onclick="toggleItem('hwl-f-fay-a18')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d1.png" class="item" id="hwl-f-fay-d1" onclick="toggleItem('hwl-f-fay-d1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d2.png" class="item" id="hwl-f-fay-d2" onclick="toggleItem('hwl-f-fay-d2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d3.png" class="item" id="hwl-f-fay-d3" onclick="toggleItem('hwl-f-fay-d3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d4.png" class="item" id="hwl-f-fay-d4" onclick="toggleItem('hwl-f-fay-d4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d5.png" class="item" id="hwl-f-fay-d5" onclick="toggleItem('hwl-f-fay-d5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d6.png" class="item" id="hwl-f-fay-d6" onclick="toggleItem('hwl-f-fay-d6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d7.png" class="item" id="hwl-f-fay-d7" onclick="toggleItem('hwl-f-fay-d7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d8.png" class="item" id="hwl-f-fay-d8" onclick="toggleItem('hwl-f-fay-d8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d9.png" class="item" id="hwl-f-fay-d9" onclick="toggleItem('hwl-f-fay-d9')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d10.png" class="item" id="hwl-f-fay-d10" onclick="toggleItem('hwl-f-fay-d10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d11.png" class="item" id="hwl-f-fay-d11" onclick="toggleItem('hwl-f-fay-d11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d12.png" class="item" id="hwl-f-fay-d12" onclick="toggleItem('hwl-f-fay-d12')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d13.png" class="item" id="hwl-f-fay-d13" onclick="toggleItem('hwl-f-fay-d13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d14.png" class="item" id="hwl-f-fay-d14" onclick="toggleItem('hwl-f-fay-d14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d15.png" class="item" id="hwl-f-fay-d15" onclick="toggleItem('hwl-f-fay-d15')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d16.png" class="item" id="hwl-f-fay-d16" onclick="toggleItem('hwl-f-fay-d16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d17.png" class="item" id="hwl-f-fay-d17" onclick="toggleItem('hwl-f-fay-d17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d18.png" class="item" id="hwl-f-fay-d18" onclick="toggleItem('hwl-f-fay-d18')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d19.png" class="item" id="hwl-f-fay-d19" onclick="toggleItem('hwl-f-fay-d19')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d20.png" class="item" id="hwl-f-fay-d20" onclick="toggleItem('hwl-f-fay-d20')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d21.png" class="item" id="hwl-f-fay-d21" onclick="toggleItem('hwl-f-fay-d21')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d22.png" class="item" id="hwl-f-fay-d22" onclick="toggleItem('hwl-f-fay-d22')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d23.png" class="item" id="hwl-f-fay-d23" onclick="toggleItem('hwl-f-fay-d23')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d24.png" class="item" id="hwl-f-fay-d24" onclick="toggleItem('hwl-f-fay-d24')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s1.png" class="item" id="hwl-f-fay-s1" onclick="toggleItem('hwl-f-fay-s1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s2.png" class="item" id="hwl-f-fay-s2" onclick="toggleItem('hwl-f-fay-s2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s3.png" class="item" id="hwl-f-fay-s3" onclick="toggleItem('hwl-f-fay-s3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s4.png" class="item" id="hwl-f-fay-s4" onclick="toggleItem('hwl-f-fay-s4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s5.png" class="item" id="hwl-f-fay-s5" onclick="toggleItem('hwl-f-fay-s5')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s7.png" class="item" id="hwl-f-fay-s7" onclick="toggleItem('hwl-f-fay-s7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s8.png" class="item" id="hwl-f-fay-s8" onclick="toggleItem('hwl-f-fay-s8')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s10.png" class="item" id="hwl-f-fay-s10" onclick="toggleItem('hwl-f-fay-s10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s11.png" class="item" id="hwl-f-fay-s11" onclick="toggleItem('hwl-f-fay-s11')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s13.png" class="item" id="hwl-f-fay-s13" onclick="toggleItem('hwl-f-fay-s13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s14.png" class="item" id="hwl-f-fay-s14" onclick="toggleItem('hwl-f-fay-s14')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s16.png" class="item" id="hwl-f-fay-s16" onclick="toggleItem('hwl-f-fay-s16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s17.png" class="item" id="hwl-f-fay-s17" onclick="toggleItem('hwl-f-fay-s17')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>