<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - HYRULE WARRIORS LEGENDS - Tingle</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="hwl.html" class="back-link">← Retour</a>
        <h1 class="main-title">HYRULE WARRIORS LEGENDS - Tingle</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-section">
            <h2 class="section-title">Global</h2>
            <div class="inventory-card base-card"> 
                <div class="tracker-grid">

                    <div class="item-wrapper">
                        <img src="../images/HW/heart.png" 
                        class="item" 
                        id="hwl-f-tingle-heart"
                        data-max="4"
                        data-name="0"
                        onclick="toggleItem('hwl-f-tingle-heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/full_heart.png" 
                        class="item" 
                        id="hwl-f-tingle-full_heart"
                        data-max="49"
                        data-name="0"
                        onclick="toggleItem('hwl-f-tingle-full_heart')">
                        <p class="item-name">0</p>
                    </div>

                    <div class="item-wrapper">
                        <img src="../images/HW/lvl255.png" 
                        class="item" 
                        id="hwl-f-tingle-lvl255"
                        onclick="toggleItem('hwl-f-tingle-lvl255')">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-row split-2-columns row-full">
            <div class="inventory-section">
                <h2 class="section-title">Costumes</h2>
                <div class="inventory-card red-card"> 
                    <div class="tracker-grid">
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/tingle1.png" 
                                    class="item gros-item" 
                                    id="hwl-f-tingle-costume1"
                                    onclick="toggleItem('hwl-f-tingle-costume1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/tingle2.png" 
                                    class="item gros-item" 
                                    id="hwl-f-tingle-costume2"
                                    onclick="toggleItem('hwl-f-tingle-costume2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/tingle3.png" 
                                    class="item gros-item" 
                                    id="hwl-f-tingle-costume3"
                                    onclick="toggleItem('hwl-f-tingle-costume3')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/tingle4.png" 
                                    class="item gros-item" 
                                    id="hwl-f-tingle-costume4"
                                    onclick="toggleItem('hwl-f-tingle-costume4')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Costume/tingle5.png" 
                                    class="item gros-item" 
                                    id="hwl-f-tingle-costume5"
                                    onclick="toggleItem('hwl-f-tingle-costume5')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Armes</h2>
                <div class="inventory-card blue-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/tingle1-1.png" class="item gros-item" id="hwl-f-tingle-arme11" data-stars="-1" onclick="toggleItem('hwl-f-tingle-arme11')">
                                    <img src="" class="star-badge" id="star-hwl-f-tingle-arme11">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/tingle1-2.png" class="item gros-item" id="hwl-f-tingle-arme12" data-stars="-1" onclick="toggleItem('hwl-f-tingle-arme12')">
                                    <img src="" class="star-badge" id="star-hwl-f-tingle-arme12">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/tingle1-3.png" class="item gros-item" id="hwl-f-tingle-arme13" data-stars="-1" onclick="toggleItem('hwl-f-tingle-arme13')">
                                    <img src="" class="star-badge" id="star-hwl-f-tingle-arme13">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/tingle1-3.png" class="item gros-item" id="hwl-f-tingle-arme14" data-stars="-1" onclick="toggleItem('hwl-f-tingle-arme14')">
                                    <img src="" class="star-badge" id="star-hwl-f-tingle-arme14">
                                </div>

                                <div class="item-wrapper item-star">
                                    <img src="../images/HW/Weapons/tingle1-3.png" class="item gros-item" id="hwl-f-tingle-arme15" data-stars="-1" onclick="toggleItem('hwl-f-tingle-arme15')">
                                    <img src="" class="star-badge" id="star-hwl-f-tingle-arme15">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Badges</h2>
                <div class="inventory-card green-card"> 
                    <div class="tracker-grid">

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a1.png" 
                                    class="item" 
                                    id="hwl-f-tingle-a1"
                                    onclick="toggleItem('hwl-f-tingle-a1')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a2.png" 
                                    class="item" 
                                    id="hwl-f-tingle-a2"
                                    onclick="toggleItem('hwl-f-tingle-a2')">
                                </div>

                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a3.png" 
                                    class="item" 
                                    id="hwl-f-tingle-a3"
                                    onclick="toggleItem('hwl-f-tingle-a3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a4.png" class="item" id="hwl-f-tingle-a4" onclick="toggleItem('hwl-f-tingle-a4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a5.png" class="item" id="hwl-f-tingle-a5" onclick="toggleItem('hwl-f-tingle-a5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a6.png" class="item" id="hwl-f-tingle-a6" onclick="toggleItem('hwl-f-tingle-a6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a7.png" class="item" id="hwl-f-tingle-a7" onclick="toggleItem('hwl-f-tingle-a7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a8.png" class="item" id="hwl-f-tingle-a8" onclick="toggleItem('hwl-f-tingle-a8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a9.png" class="item" id="hwl-f-tingle-a9" onclick="toggleItem('hwl-f-tingle-a9')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a10.png" class="item" id="hwl-f-tingle-a10" onclick="toggleItem('hwl-f-tingle-a10')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a11.png" class="item" id="hwl-f-tingle-a11" onclick="toggleItem('hwl-f-tingle-a11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a12.png" class="item" id="hwl-f-tingle-a12" onclick="toggleItem('hwl-f-tingle-a12')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a13.png" class="item" id="hwl-f-tingle-a13" onclick="toggleItem('hwl-f-tingle-a13')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a14.png" class="item" id="hwl-f-tingle-a14" onclick="toggleItem('hwl-f-tingle-a14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a15.png" class="item" id="hwl-f-tingle-a15" onclick="toggleItem('hwl-f-tingle-a15')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a16.png" class="item" id="hwl-f-tingle-a16" onclick="toggleItem('hwl-f-tingle-a16')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a17.png" class="item" id="hwl-f-tingle-a17" onclick="toggleItem('hwl-f-tingle-a17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/a18.png" class="item" id="hwl-f-tingle-a18" onclick="toggleItem('hwl-f-tingle-a18')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d1.png" class="item" id="hwl-f-tingle-d1" onclick="toggleItem('hwl-f-tingle-d1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d2.png" class="item" id="hwl-f-tingle-d2" onclick="toggleItem('hwl-f-tingle-d2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d3.png" class="item" id="hwl-f-tingle-d3" onclick="toggleItem('hwl-f-tingle-d3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d4.png" class="item" id="hwl-f-tingle-d4" onclick="toggleItem('hwl-f-tingle-d4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d5.png" class="item" id="hwl-f-tingle-d5" onclick="toggleItem('hwl-f-tingle-d5')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d6.png" class="item" id="hwl-f-tingle-d6" onclick="toggleItem('hwl-f-tingle-d6')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d7.png" class="item" id="hwl-f-tingle-d7" onclick="toggleItem('hwl-f-tingle-d7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d8.png" class="item" id="hwl-f-tingle-d8" onclick="toggleItem('hwl-f-tingle-d8')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d9.png" class="item" id="hwl-f-tingle-d9" onclick="toggleItem('hwl-f-tingle-d9')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d10.png" class="item" id="hwl-f-tingle-d10" onclick="toggleItem('hwl-f-tingle-d10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d11.png" class="item" id="hwl-f-tingle-d11" onclick="toggleItem('hwl-f-tingle-d11')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d12.png" class="item" id="hwl-f-tingle-d12" onclick="toggleItem('hwl-f-tingle-d12')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d13.png" class="item" id="hwl-f-tingle-d13" onclick="toggleItem('hwl-f-tingle-d13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d14.png" class="item" id="hwl-f-tingle-d14" onclick="toggleItem('hwl-f-tingle-d14')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d15.png" class="item" id="hwl-f-tingle-d15" onclick="toggleItem('hwl-f-tingle-d15')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d16.png" class="item" id="hwl-f-tingle-d16" onclick="toggleItem('hwl-f-tingle-d16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d17.png" class="item" id="hwl-f-tingle-d17" onclick="toggleItem('hwl-f-tingle-d17')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d18.png" class="item" id="hwl-f-tingle-d18" onclick="toggleItem('hwl-f-tingle-d18')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d19.png" class="item" id="hwl-f-tingle-d19" onclick="toggleItem('hwl-f-tingle-d19')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d20.png" class="item" id="hwl-f-tingle-d20" onclick="toggleItem('hwl-f-tingle-d20')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d21.png" class="item" id="hwl-f-tingle-d21" onclick="toggleItem('hwl-f-tingle-d21')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d22.png" class="item" id="hwl-f-tingle-d22" onclick="toggleItem('hwl-f-tingle-d22')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d23.png" class="item" id="hwl-f-tingle-d23" onclick="toggleItem('hwl-f-tingle-d23')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/d24.png" class="item" id="hwl-f-tingle-d24" onclick="toggleItem('hwl-f-tingle-d24')">
                                </div>
                            </div>
                        </div>

                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s1.png" class="item" id="hwl-f-tingle-s1" onclick="toggleItem('hwl-f-tingle-s1')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s2.png" class="item" id="hwl-f-tingle-s2" onclick="toggleItem('hwl-f-tingle-s2')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s3.png" class="item" id="hwl-f-tingle-s3" onclick="toggleItem('hwl-f-tingle-s3')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s4.png" class="item" id="hwl-f-tingle-s4" onclick="toggleItem('hwl-f-tingle-s4')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s5.png" class="item" id="hwl-f-tingle-s5" onclick="toggleItem('hwl-f-tingle-s5')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s7.png" class="item" id="hwl-f-tingle-s7" onclick="toggleItem('hwl-f-tingle-s7')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s8.png" class="item" id="hwl-f-tingle-s8" onclick="toggleItem('hwl-f-tingle-s8')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s10.png" class="item" id="hwl-f-tingle-s10" onclick="toggleItem('hwl-f-tingle-s10')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s11.png" class="item" id="hwl-f-tingle-s11" onclick="toggleItem('hwl-f-tingle-s11')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s13.png" class="item" id="hwl-f-tingle-s13" onclick="toggleItem('hwl-f-tingle-s13')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s14.png" class="item" id="hwl-f-tingle-s14" onclick="toggleItem('hwl-f-tingle-s14')">
                                </div>
                            </div>

                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s16.png" class="item" id="hwl-f-tingle-s16" onclick="toggleItem('hwl-f-tingle-s16')">
                                </div>
                                <div class="item-wrapper">
                                    <img src="../images/HW/Badges/s17.png" class="item" id="hwl-f-tingle-s17" onclick="toggleItem('hwl-f-tingle-s17')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>