<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - HYRULE WARRIORS LEGENDS - Fairy</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="hwl.html" class="back-link">← Retour</a>
        <h1 class="main-title">HYRULE WARRIORS LEGENDS - Fairy</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row row-full">
            <div class="inventory-section">
                <h2 class="section-title">Fairy</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/fire.png" 
                                    class="item" 
                                    id="hwl-f-fire"
                                    onclick="toggleItem('hwl-f-fire')">
                                </div>
                            </div>
                            <div class="split-column">
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-fire-1" onclick="toggleItem('hwl-f-fire-1')">Extreme Crush+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-fire-2" onclick="toggleItem('hwl-f-fire-2')">Glass Cannon</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-fire-3" onclick="toggleItem('hwl-f-fire-3')">XP Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-fire-4" onclick="toggleItem('hwl-f-fire-4')">Total Focus</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-fire-5" onclick="toggleItem('hwl-f-fire-5')">Weapon Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-fire-6" onclick="toggleItem('hwl-f-fire-6')">Magic Fountain+</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-fire-7" onclick="toggleItem('hwl-f-fire-7')">Food Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-fire-8" onclick="toggleItem('hwl-f-fire-8')">Special Fountain+</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-fire-9" onclick="toggleItem('hwl-f-fire-9')">Wall of water+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-fire-10" onclick="toggleItem('hwl-f-fire-10')">Material Master+</p></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/water.png" 
                                    class="item" 
                                    id="hwl-f-water"
                                    onclick="toggleItem('hwl-f-water')">
                                </div>
                            </div>
                            <div class="split-column">
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-water-1" onclick="toggleItem('hwl-f-water-1')">Extreme Crush+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-water-2" onclick="toggleItem('hwl-f-water-2')">Glass Cannon</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-water-3" onclick="toggleItem('hwl-f-water-3')">XP Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-water-4" onclick="toggleItem('hwl-f-water-4')">Total Focus</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-water-5" onclick="toggleItem('hwl-f-water-5')">Weapon Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-water-6" onclick="toggleItem('hwl-f-water-6')">Magic Fountain+</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-water-7" onclick="toggleItem('hwl-f-water-7')">Food Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-water-8" onclick="toggleItem('hwl-f-water-8')">Special Fountain+</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-water-9" onclick="toggleItem('hwl-f-water-9')">Wall of water+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-water-10" onclick="toggleItem('hwl-f-water-10')">Material Master+</p></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/quake.png" 
                                    class="item" 
                                    id="hwl-f-quake"
                                    onclick="toggleItem('hwl-f-quake')">
                                </div>
                            </div>
                            <div class="split-column">
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-quake-1" onclick="toggleItem('hwl-f-quake-1')">Extreme Crush+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-quake-2" onclick="toggleItem('hwl-f-quake-2')">Glass Cannon</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-quake-3" onclick="toggleItem('hwl-f-quake-3')">XP Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-quake-4" onclick="toggleItem('hwl-f-quake-4')">Total Focus</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-quake-5" onclick="toggleItem('hwl-f-quake-5')">Weapon Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-quake-6" onclick="toggleItem('hwl-f-quake-6')">Magic Fountain+</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-quake-7" onclick="toggleItem('hwl-f-quake-7')">Food Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-quake-8" onclick="toggleItem('hwl-f-quake-8')">Special Fountain+</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-quake-9" onclick="toggleItem('hwl-f-quake-9')">Wall of water+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-quake-10" onclick="toggleItem('hwl-f-quake-10')">Material Master+</p></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/shine.png" 
                                    class="item" 
                                    id="hwl-f-shine"
                                    onclick="toggleItem('hwl-f-shine')">
                                </div>
                            </div>
                            <div class="split-column">
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-shine-1" onclick="toggleItem('hwl-f-shine-1')">Extreme Crush+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-shine-2" onclick="toggleItem('hwl-f-shine-2')">Glass Cannon</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-shine-3" onclick="toggleItem('hwl-f-shine-3')">XP Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-shine-4" onclick="toggleItem('hwl-f-shine-4')">Total Focus</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-shine-5" onclick="toggleItem('hwl-f-shine-5')">Weapon Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-shine-6" onclick="toggleItem('hwl-f-shine-6')">Magic Fountain+</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-shine-7" onclick="toggleItem('hwl-f-shine-7')">Food Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-shine-8" onclick="toggleItem('hwl-f-shine-8')">Special Fountain+</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-shine-9" onclick="toggleItem('hwl-f-shine-9')">Wall of water+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-shine-10" onclick="toggleItem('hwl-f-shine-10')">Material Master+</p></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="split-column">
                            <div class="split-row">
                                <div class="item-wrapper">
                                    <img src="../images/HW/tenebre.png" 
                                    class="item" 
                                    id="hwl-f-tenebre"
                                    onclick="toggleItem('hwl-f-tenebre')">
                                </div>
                            </div>
                            <div class="split-column">
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-tenebre-1" onclick="toggleItem('hwl-f-tenebre-1')">Extreme Crush+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-tenebre-2" onclick="toggleItem('hwl-f-tenebre-2')">Glass Cannon</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-tenebre-3" onclick="toggleItem('hwl-f-tenebre-3')">XP Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-tenebre-4" onclick="toggleItem('hwl-f-tenebre-4')">Total Focus</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-tenebre-5" onclick="toggleItem('hwl-f-tenebre-5')">Weapon Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-tenebre-6" onclick="toggleItem('hwl-f-tenebre-6')">Magic Fountain+</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-tenebre-7" onclick="toggleItem('hwl-f-tenebre-7')">Food Master+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-tenebre-8" onclick="toggleItem('hwl-f-tenebre-8')">Special Fountain+</p></div>
                                </div>
                                <div class="split-row">
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-tenebre-9" onclick="toggleItem('hwl-f-tenebre-9')">Wall of water+</p></div>
                                    <div class="item-wrapper"><p class="item my-fairy" id="hwl-f-tenebre-10" onclick="toggleItem('hwl-f-tenebre-10')">Material Master+</p></div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-row row-full">
            <div class="inventory-section">
                <h2 class="section-title">Tenues</h2>
                <div class="inventory-card cyan-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/1.png" class="item" id="hwl-f-fairy-1" onclick="toggleItem('hwl-f-fairy-1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/2.png" class="item" id="hwl-f-fairy-2" onclick="toggleItem('hwl-f-fairy-2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/3.png" class="item" id="hwl-f-fairy-3" onclick="toggleItem('hwl-f-fairy-3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/4.png" class="item" id="hwl-f-fairy-4" onclick="toggleItem('hwl-f-fairy-4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/5.png" class="item" id="hwl-f-fairy-5" onclick="toggleItem('hwl-f-fairy-5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/6.png" class="item" id="hwl-f-fairy-6" onclick="toggleItem('hwl-f-fairy-6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/7.png" class="item" id="hwl-f-fairy-7" onclick="toggleItem('hwl-f-fairy-7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/8.png" class="item" id="hwl-f-fairy-8" onclick="toggleItem('hwl-f-fairy-8')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/9.png" class="item" id="hwl-f-fairy-9" onclick="toggleItem('hwl-f-fairy-9')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/10.png" class="item" id="hwl-f-fairy-10" onclick="toggleItem('hwl-f-fairy-10')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/11.png" class="item" id="hwl-f-fairy-11" onclick="toggleItem('hwl-f-fairy-11')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/12.png" class="item" id="hwl-f-fairy-12" onclick="toggleItem('hwl-f-fairy-12')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/13.png" class="item" id="hwl-f-fairy-13" onclick="toggleItem('hwl-f-fairy-13')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/14.png" class="item" id="hwl-f-fairy-14" onclick="toggleItem('hwl-f-fairy-14')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/15.png" class="item" id="hwl-f-fairy-15" onclick="toggleItem('hwl-f-fairy-15')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/16.png" class="item" id="hwl-f-fairy-16" onclick="toggleItem('hwl-f-fairy-16')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/17.png" class="item" id="hwl-f-fairy-17" onclick="toggleItem('hwl-f-fairy-17')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/18.png" class="item" id="hwl-f-fairy-18" onclick="toggleItem('hwl-f-fairy-18')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/19.png" class="item" id="hwl-f-fairy-19" onclick="toggleItem('hwl-f-fairy-19')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/20.png" class="item" id="hwl-f-fairy-20" onclick="toggleItem('hwl-f-fairy-20')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/21.png" class="item" id="hwl-f-fairy-21" onclick="toggleItem('hwl-f-fairy-21')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/22.png" class="item" id="hwl-f-fairy-22" onclick="toggleItem('hwl-f-fairy-22')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/23.png" class="item" id="hwl-f-fairy-23" onclick="toggleItem('hwl-f-fairy-23')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/24.png" class="item" id="hwl-f-fairy-24" onclick="toggleItem('hwl-f-fairy-24')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/25.png" class="item" id="hwl-f-fairy-25" onclick="toggleItem('hwl-f-fairy-25')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/26.png" class="item" id="hwl-f-fairy-26" onclick="toggleItem('hwl-f-fairy-26')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/27.png" class="item" id="hwl-f-fairy-27" onclick="toggleItem('hwl-f-fairy-27')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/28.png" class="item" id="hwl-f-fairy-28" onclick="toggleItem('hwl-f-fairy-28')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/29.png" class="item" id="hwl-f-fairy-29" onclick="toggleItem('hwl-f-fairy-29')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/30.png" class="item" id="hwl-f-fairy-30" onclick="toggleItem('hwl-f-fairy-30')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/31.png" class="item" id="hwl-f-fairy-31" onclick="toggleItem('hwl-f-fairy-31')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/32.png" class="item" id="hwl-f-fairy-32" onclick="toggleItem('hwl-f-fairy-32')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/33.png" class="item" id="hwl-f-fairy-33" onclick="toggleItem('hwl-f-fairy-33')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/34.png" class="item" id="hwl-f-fairy-34" onclick="toggleItem('hwl-f-fairy-34')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/35.png" class="item" id="hwl-f-fairy-35" onclick="toggleItem('hwl-f-fairy-35')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/36.png" class="item" id="hwl-f-fairy-36" onclick="toggleItem('hwl-f-fairy-36')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/37.png" class="item" id="hwl-f-fairy-37" onclick="toggleItem('hwl-f-fairy-37')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/38.png" class="item" id="hwl-f-fairy-38" onclick="toggleItem('hwl-f-fairy-38')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/39.png" class="item" id="hwl-f-fairy-39" onclick="toggleItem('hwl-f-fairy-39')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/40.png" class="item" id="hwl-f-fairy-40" onclick="toggleItem('hwl-f-fairy-40')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/41.png" class="item" id="hwl-f-fairy-41" onclick="toggleItem('hwl-f-fairy-41')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/42.png" class="item" id="hwl-f-fairy-42" onclick="toggleItem('hwl-f-fairy-42')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/43.png" class="item" id="hwl-f-fairy-43" onclick="toggleItem('hwl-f-fairy-43')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/44.png" class="item" id="hwl-f-fairy-44" onclick="toggleItem('hwl-f-fairy-44')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/45.png" class="item" id="hwl-f-fairy-45" onclick="toggleItem('hwl-f-fairy-45')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/46.png" class="item" id="hwl-f-fairy-46" onclick="toggleItem('hwl-f-fairy-46')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/47.png" class="item" id="hwl-f-fairy-47" onclick="toggleItem('hwl-f-fairy-47')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/48.png" class="item" id="hwl-f-fairy-48" onclick="toggleItem('hwl-f-fairy-48')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/49.png" class="item" id="hwl-f-fairy-49" onclick="toggleItem('hwl-f-fairy-49')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/50.png" class="item" id="hwl-f-fairy-50" onclick="toggleItem('hwl-f-fairy-50')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/51.png" class="item" id="hwl-f-fairy-51" onclick="toggleItem('hwl-f-fairy-51')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/52.png" class="item" id="hwl-f-fairy-52" onclick="toggleItem('hwl-f-fairy-52')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/53.png" class="item" id="hwl-f-fairy-53" onclick="toggleItem('hwl-f-fairy-53')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/54.png" class="item" id="hwl-f-fairy-54" onclick="toggleItem('hwl-f-fairy-54')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/55.png" class="item" id="hwl-f-fairy-55" onclick="toggleItem('hwl-f-fairy-55')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/56.png" class="item" id="hwl-f-fairy-56" onclick="toggleItem('hwl-f-fairy-56')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/57.png" class="item" id="hwl-f-fairy-57" onclick="toggleItem('hwl-f-fairy-57')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/58.png" class="item" id="hwl-f-fairy-58" onclick="toggleItem('hwl-f-fairy-58')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/59.png" class="item" id="hwl-f-fairy-59" onclick="toggleItem('hwl-f-fairy-59')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/60.png" class="item" id="hwl-f-fairy-60" onclick="toggleItem('hwl-f-fairy-60')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/61.png" class="item" id="hwl-f-fairy-61" onclick="toggleItem('hwl-f-fairy-61')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/62.png" class="item" id="hwl-f-fairy-62" onclick="toggleItem('hwl-f-fairy-62')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/63.png" class="item" id="hwl-f-fairy-63" onclick="toggleItem('hwl-f-fairy-63')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/64.png" class="item" id="hwl-f-fairy-64" onclick="toggleItem('hwl-f-fairy-64')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/65.png" class="item" id="hwl-f-fairy-65" onclick="toggleItem('hwl-f-fairy-65')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/66.png" class="item" id="hwl-f-fairy-66" onclick="toggleItem('hwl-f-fairy-66')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/67.png" class="item" id="hwl-f-fairy-67" onclick="toggleItem('hwl-f-fairy-67')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/68.png" class="item" id="hwl-f-fairy-68" onclick="toggleItem('hwl-f-fairy-68')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/69.png" class="item" id="hwl-f-fairy-69" onclick="toggleItem('hwl-f-fairy-69')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/70.png" class="item" id="hwl-f-fairy-70" onclick="toggleItem('hwl-f-fairy-70')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/71.png" class="item" id="hwl-f-fairy-71" onclick="toggleItem('hwl-f-fairy-71')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/72.png" class="item" id="hwl-f-fairy-72" onclick="toggleItem('hwl-f-fairy-72')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/73.png" class="item" id="hwl-f-fairy-73" onclick="toggleItem('hwl-f-fairy-73')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/74.png" class="item" id="hwl-f-fairy-74" onclick="toggleItem('hwl-f-fairy-74')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/75.png" class="item" id="hwl-f-fairy-75" onclick="toggleItem('hwl-f-fairy-75')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/76.png" class="item" id="hwl-f-fairy-76" onclick="toggleItem('hwl-f-fairy-76')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/77.png" class="item" id="hwl-f-fairy-77" onclick="toggleItem('hwl-f-fairy-77')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/78.png" class="item" id="hwl-f-fairy-78" onclick="toggleItem('hwl-f-fairy-78')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/79.png" class="item" id="hwl-f-fairy-79" onclick="toggleItem('hwl-f-fairy-79')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/80.png" class="item" id="hwl-f-fairy-80" onclick="toggleItem('hwl-f-fairy-80')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/81.png" class="item" id="hwl-f-fairy-81" onclick="toggleItem('hwl-f-fairy-81')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/82.png" class="item" id="hwl-f-fairy-82" onclick="toggleItem('hwl-f-fairy-82')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/83.png" class="item" id="hwl-f-fairy-83" onclick="toggleItem('hwl-f-fairy-83')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/84.png" class="item" id="hwl-f-fairy-84" onclick="toggleItem('hwl-f-fairy-84')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/85.png" class="item" id="hwl-f-fairy-85" onclick="toggleItem('hwl-f-fairy-85')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/86.png" class="item" id="hwl-f-fairy-86" onclick="toggleItem('hwl-f-fairy-86')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/87.png" class="item" id="hwl-f-fairy-87" onclick="toggleItem('hwl-f-fairy-87')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/88.png" class="item" id="hwl-f-fairy-88" onclick="toggleItem('hwl-f-fairy-88')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/89.png" class="item" id="hwl-f-fairy-89" onclick="toggleItem('hwl-f-fairy-89')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/90.png" class="item" id="hwl-f-fairy-90" onclick="toggleItem('hwl-f-fairy-90')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/91.png" class="item" id="hwl-f-fairy-91" onclick="toggleItem('hwl-f-fairy-91')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/92.png" class="item" id="hwl-f-fairy-92" onclick="toggleItem('hwl-f-fairy-92')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/93.png" class="item" id="hwl-f-fairy-93" onclick="toggleItem('hwl-f-fairy-93')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/94.png" class="item" id="hwl-f-fairy-94" onclick="toggleItem('hwl-f-fairy-94')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/95.png" class="item" id="hwl-f-fairy-95" onclick="toggleItem('hwl-f-fairy-95')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/96.png" class="item" id="hwl-f-fairy-96" onclick="toggleItem('hwl-f-fairy-96')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/97.png" class="item" id="hwl-f-fairy-97" onclick="toggleItem('hwl-f-fairy-97')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/98.png" class="item" id="hwl-f-fairy-98" onclick="toggleItem('hwl-f-fairy-98')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/99.png" class="item" id="hwl-f-fairy-99" onclick="toggleItem('hwl-f-fairy-99')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/100.png" class="item" id="hwl-f-fairy-100" onclick="toggleItem('hwl-f-fairy-100')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/101.png" class="item" id="hwl-f-fairy-101" onclick="toggleItem('hwl-f-fairy-101')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/102.png" class="item" id="hwl-f-fairy-102" onclick="toggleItem('hwl-f-fairy-102')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/103.png" class="item" id="hwl-f-fairy-103" onclick="toggleItem('hwl-f-fairy-103')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/104.png" class="item" id="hwl-f-fairy-104" onclick="toggleItem('hwl-f-fairy-104')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/105.png" class="item" id="hwl-f-fairy-105" onclick="toggleItem('hwl-f-fairy-105')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/106.png" class="item" id="hwl-f-fairy-106" onclick="toggleItem('hwl-f-fairy-106')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/107.png" class="item" id="hwl-f-fairy-107" onclick="toggleItem('hwl-f-fairy-107')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/108.png" class="item" id="hwl-f-fairy-108" onclick="toggleItem('hwl-f-fairy-108')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/109.png" class="item" id="hwl-f-fairy-109" onclick="toggleItem('hwl-f-fairy-109')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/110.png" class="item" id="hwl-f-fairy-110" onclick="toggleItem('hwl-f-fairy-110')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/111.png" class="item" id="hwl-f-fairy-111" onclick="toggleItem('hwl-f-fairy-111')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/112.png" class="item" id="hwl-f-fairy-112" onclick="toggleItem('hwl-f-fairy-112')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/113.png" class="item" id="hwl-f-fairy-113" onclick="toggleItem('hwl-f-fairy-113')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/114.png" class="item" id="hwl-f-fairy-114" onclick="toggleItem('hwl-f-fairy-114')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/115.png" class="item" id="hwl-f-fairy-115" onclick="toggleItem('hwl-f-fairy-115')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/116.png" class="item" id="hwl-f-fairy-116" onclick="toggleItem('hwl-f-fairy-116')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/117.png" class="item" id="hwl-f-fairy-117" onclick="toggleItem('hwl-f-fairy-117')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/118.png" class="item" id="hwl-f-fairy-118" onclick="toggleItem('hwl-f-fairy-118')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/119.png" class="item" id="hwl-f-fairy-119" onclick="toggleItem('hwl-f-fairy-119')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/120.png" class="item" id="hwl-f-fairy-120" onclick="toggleItem('hwl-f-fairy-120')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/121.png" class="item" id="hwl-f-fairy-121" onclick="toggleItem('hwl-f-fairy-121')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/122.png" class="item" id="hwl-f-fairy-122" onclick="toggleItem('hwl-f-fairy-122')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/123.png" class="item" id="hwl-f-fairy-123" onclick="toggleItem('hwl-f-fairy-123')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/124.png" class="item" id="hwl-f-fairy-124" onclick="toggleItem('hwl-f-fairy-124')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/125.png" class="item" id="hwl-f-fairy-125" onclick="toggleItem('hwl-f-fairy-125')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/126.png" class="item" id="hwl-f-fairy-126" onclick="toggleItem('hwl-f-fairy-126')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/127.png" class="item" id="hwl-f-fairy-127" onclick="toggleItem('hwl-f-fairy-127')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/128.png" class="item" id="hwl-f-fairy-128" onclick="toggleItem('hwl-f-fairy-128')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/129.png" class="item" id="hwl-f-fairy-129" onclick="toggleItem('hwl-f-fairy-129')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/130.png" class="item" id="hwl-f-fairy-130" onclick="toggleItem('hwl-f-fairy-130')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/131.png" class="item" id="hwl-f-fairy-131" onclick="toggleItem('hwl-f-fairy-131')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/132.png" class="item" id="hwl-f-fairy-132" onclick="toggleItem('hwl-f-fairy-132')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/133.png" class="item" id="hwl-f-fairy-133" onclick="toggleItem('hwl-f-fairy-133')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/134.png" class="item" id="hwl-f-fairy-134" onclick="toggleItem('hwl-f-fairy-134')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/135.png" class="item" id="hwl-f-fairy-135" onclick="toggleItem('hwl-f-fairy-135')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/136.png" class="item" id="hwl-f-fairy-136" onclick="toggleItem('hwl-f-fairy-136')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/137.png" class="item" id="hwl-f-fairy-137" onclick="toggleItem('hwl-f-fairy-137')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/138.png" class="item" id="hwl-f-fairy-138" onclick="toggleItem('hwl-f-fairy-138')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/139.png" class="item" id="hwl-f-fairy-139" onclick="toggleItem('hwl-f-fairy-139')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/140.png" class="item" id="hwl-f-fairy-140" onclick="toggleItem('hwl-f-fairy-140')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/141.png" class="item" id="hwl-f-fairy-141" onclick="toggleItem('hwl-f-fairy-141')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/142.png" class="item" id="hwl-f-fairy-142" onclick="toggleItem('hwl-f-fairy-142')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/143.png" class="item" id="hwl-f-fairy-143" onclick="toggleItem('hwl-f-fairy-143')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/144.png" class="item" id="hwl-f-fairy-144" onclick="toggleItem('hwl-f-fairy-144')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/145.png" class="item" id="hwl-f-fairy-145" onclick="toggleItem('hwl-f-fairy-145')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/146.png" class="item" id="hwl-f-fairy-146" onclick="toggleItem('hwl-f-fairy-146')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/147.png" class="item" id="hwl-f-fairy-147" onclick="toggleItem('hwl-f-fairy-147')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/148.png" class="item" id="hwl-f-fairy-148" onclick="toggleItem('hwl-f-fairy-148')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/149.png" class="item" id="hwl-f-fairy-149" onclick="toggleItem('hwl-f-fairy-149')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/150.png" class="item" id="hwl-f-fairy-150" onclick="toggleItem('hwl-f-fairy-150')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/151.png" class="item" id="hwl-f-fairy-151" onclick="toggleItem('hwl-f-fairy-151')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/152.png" class="item" id="hwl-f-fairy-152" onclick="toggleItem('hwl-f-fairy-152')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/153.png" class="item" id="hwl-f-fairy-153" onclick="toggleItem('hwl-f-fairy-153')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/154.png" class="item" id="hwl-f-fairy-154" onclick="toggleItem('hwl-f-fairy-154')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/155.png" class="item" id="hwl-f-fairy-155" onclick="toggleItem('hwl-f-fairy-155')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/156.png" class="item" id="hwl-f-fairy-156" onclick="toggleItem('hwl-f-fairy-156')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/157.png" class="item" id="hwl-f-fairy-157" onclick="toggleItem('hwl-f-fairy-157')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/158.png" class="item" id="hwl-f-fairy-158" onclick="toggleItem('hwl-f-fairy-158')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/159.png" class="item" id="hwl-f-fairy-159" onclick="toggleItem('hwl-f-fairy-159')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/160.png" class="item" id="hwl-f-fairy-160" onclick="toggleItem('hwl-f-fairy-160')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/161.png" class="item" id="hwl-f-fairy-161" onclick="toggleItem('hwl-f-fairy-161')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/162.png" class="item" id="hwl-f-fairy-162" onclick="toggleItem('hwl-f-fairy-162')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/163.png" class="item" id="hwl-f-fairy-163" onclick="toggleItem('hwl-f-fairy-163')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/164.png" class="item" id="hwl-f-fairy-164" onclick="toggleItem('hwl-f-fairy-164')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/165.png" class="item" id="hwl-f-fairy-165" onclick="toggleItem('hwl-f-fairy-165')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/166.png" class="item" id="hwl-f-fairy-166" onclick="toggleItem('hwl-f-fairy-166')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/167.png" class="item" id="hwl-f-fairy-167" onclick="toggleItem('hwl-f-fairy-167')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/168.png" class="item" id="hwl-f-fairy-168" onclick="toggleItem('hwl-f-fairy-168')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/169.png" class="item" id="hwl-f-fairy-169" onclick="toggleItem('hwl-f-fairy-169')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/170.png" class="item" id="hwl-f-fairy-170" onclick="toggleItem('hwl-f-fairy-170')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/171.png" class="item" id="hwl-f-fairy-171" onclick="toggleItem('hwl-f-fairy-171')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/172.png" class="item" id="hwl-f-fairy-172" onclick="toggleItem('hwl-f-fairy-172')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/173.png" class="item" id="hwl-f-fairy-173" onclick="toggleItem('hwl-f-fairy-173')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/174.png" class="item" id="hwl-f-fairy-174" onclick="toggleItem('hwl-f-fairy-174')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/175.png" class="item" id="hwl-f-fairy-175" onclick="toggleItem('hwl-f-fairy-175')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/176.png" class="item" id="hwl-f-fairy-176" onclick="toggleItem('hwl-f-fairy-176')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/177.png" class="item" id="hwl-f-fairy-177" onclick="toggleItem('hwl-f-fairy-177')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/178.png" class="item" id="hwl-f-fairy-178" onclick="toggleItem('hwl-f-fairy-178')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/179.png" class="item" id="hwl-f-fairy-179" onclick="toggleItem('hwl-f-fairy-179')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/180.png" class="item" id="hwl-f-fairy-180" onclick="toggleItem('hwl-f-fairy-180')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/181.png" class="item" id="hwl-f-fairy-181" onclick="toggleItem('hwl-f-fairy-181')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/182.png" class="item" id="hwl-f-fairy-182" onclick="toggleItem('hwl-f-fairy-182')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/183.png" class="item" id="hwl-f-fairy-183" onclick="toggleItem('hwl-f-fairy-183')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/184.png" class="item" id="hwl-f-fairy-184" onclick="toggleItem('hwl-f-fairy-184')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/185.png" class="item" id="hwl-f-fairy-185" onclick="toggleItem('hwl-f-fairy-185')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/186.png" class="item" id="hwl-f-fairy-186" onclick="toggleItem('hwl-f-fairy-186')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/187.png" class="item" id="hwl-f-fairy-187" onclick="toggleItem('hwl-f-fairy-187')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/HW/Fairy/188.png" class="item" id="hwl-f-fairy-188" onclick="toggleItem('hwl-f-fairy-188')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>