<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda LA DX</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="../index.html" class="back-link">← Retour</a>
        <h1 class="main-title">Zelda LA DX - ITEMS</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-2-columns">
            <div class="inventory-section">
                <h2 class="section-title">Équipement</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/sword.png" 
                                class="item" 
                                id="zladx-f-sword" 
                                data-levels="../images/ZeldaLADX/sword.png,../images/ZeldaLADX/sword2.png" 
                                onclick="toggleItem('zladx-f-sword')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/shield.png" 
                                class="item" 
                                id="zladx-f-shield" 
                                data-levels="../images/ZeldaLADX/shield.png,../images/ZeldaLADX/shield2.png" 
                                onclick="toggleItem('zladx-f-shield')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/boomerang.png" 
                                class="item" 
                                id="zladx-f-boomerang" 
                                onclick="toggleItem('zladx-f-boomerang')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/bomb.png" 
                                class="item" 
                                id="zladx-f-bomb"  
                            onclick="toggleItem('zladx-f-bomb')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/arc.png" 
                                class="item" 
                                id="zladx-f-arc"
                                onclick="toggleItem('zladx-f-arc')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/heart.png" 
                            class="item" 
                            id="zladx-f-heart"
                            data-max="12"
                            data-name="0"
                            onclick="toggleItem('zladx-f-heart')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/bracelet.png" 
                            class="item" 
                            id="zladx-f-bracelet" 
                            data-levels="../images/ZeldaLADX/bracelet.png,../images/ZeldaLADX/bracelet2.png"
                            onclick="toggleItem('zladx-f-bracelet')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/hookshot.png" 
                            class="item" 
                            id="zladx-f-hookshot" 
                            onclick="toggleItem('zladx-f-hookshot')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/magic.png" 
                            class="item" 
                            id="zladx-f-magic" 
                            onclick="toggleItem('zladx-f-magic')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/shovel.png" 
                            class="item" 
                            id="zladx-f-shovel" 
                            onclick="toggleItem('zladx-f-shovel')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/rod.png" 
                            class="item" 
                            id="zladx-f-rod" 
                            onclick="toggleItem('zladx-f-rod')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/ocarina.png" 
                            class="item" 
                            id="zladx-f-ocarina" 
                            onclick="toggleItem('zladx-f-ocarina')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/flipper.png" 
                            class="item" 
                            id="zladx-f-flipper" 
                            onclick="toggleItem('zladx-f-flipper')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/champi.png" 
                            class="item" 
                            id="zladx-f-champi" 
                            onclick="toggleItem('zladx-f-champi')">
                        </div>
                        
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/leaf.png" 
                            class="item" 
                            id="zladx-f-leaf" 
                            onclick="toggleItem('zladx-f-leaf')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/pegasus.png" 
                            class="item" 
                            id="zladx-f-pegasus" 
                            onclick="toggleItem('zladx-f-pegasus')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/full_heart.png" 
                            class="item" 
                            id="zladx-f-full_heart"
                            data-max="8"
                            data-name="0"
                            onclick="toggleItem('zladx-f-full_heart')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/medicine.png" 
                            class="item" 
                            id="zladx-f-medicine" 
                            onclick="toggleItem('zladx-f-medicine')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/marine.png" 
                            class="item" 
                            id="zladx-f-marine" 
                            onclick="toggleItem('zladx-f-marine')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/manbo.png" 
                            class="item" 
                            id="zladx-f-manbo" 
                            onclick="toggleItem('zladx-f-manbo')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/rap.png" 
                            class="item" 
                            id="zladx-f-rap" 
                            onclick="toggleItem('zladx-f-rap')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/mad_batter_bomb.png" 
                            class="item" 
                            id="zladx-f-mad_batter_bomb" 
                            onclick="toggleItem('zladx-f-mad_batter_bomb')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/mad_batter_arrow.png" 
                            class="item" 
                            id="zladx-f-mad_batter_arrow" 
                            onclick="toggleItem('zladx-f-mad_batter_arrow')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/mad_batter_magic.png" 
                            class="item" 
                            id="zladx-f-mad_batter_magic" 
                            onclick="toggleItem('zladx-f-mad_batter_magic')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/golden_leaf.png" 
                            class="item" 
                            id="zladx-f-golden_leaf"
                            data-max="5"
                            data-name="0"
                            onclick="toggleItem('zladx-f-golden_leaf')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/echange.png" 
                            class="item" 
                            id="zladx-f-echange" 
                            data-levels="../images/ZeldaLADX/echange.png,../images/ZeldaLADX/echange2.png,../images/ZeldaLADX/echange3.png,../images/ZeldaLADX/echange4.png,../images/ZeldaLADX/echange5.png,../images/ZeldaLADX/echange6.png,../images/ZeldaLADX/echange7.png,../images/ZeldaLADX/echange8.png,../images/ZeldaLADX/echange9.png,../images/ZeldaLADX/echange10.png,../images/ZeldaLADX/echange11.png,../images/ZeldaLADX/echange12.png,../images/ZeldaLADX/echange13.png,../images/ZeldaLADX/echange14.png"
                            onclick="toggleItem('zladx-f-echange')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/chomp.png" 
                            class="item" 
                            id="zladx-f-chomp" 
                            onclick="toggleItem('zladx-f-chomp')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/rooster.png" 
                            class="item" 
                            id="zladx-f-rooster" 
                            onclick="toggleItem('zladx-f-rooster')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/coquillage.png" 
                            class="item" 
                            id="zladx-f-coquillage"
                            data-max="26"
                            data-name="0"
                            onclick="toggleItem('zladx-f-coquillage')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/green.png" 
                            class="item" 
                            id="zladx-f-green"
                            data-levels="../images/ZeldaLADX/green.png,../images/ZeldaLADX/bluered.png"
                            onclick="toggleItem('zladx-f-green')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/photographer.png" 
                            class="item" 
                            id="zladx-f-photographer"
                            data-max="12"
                            data-name="0"
                            onclick="toggleItem('zladx-f-photographer')">
                            <p class="item-name">0</p>
                        </div>
                    </div>
                </div>        
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Maléfice</h2>
                <div class="inventory-card dark-card">
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/dethl.png" class="item boss-item" id="zladx-f-dethl" onclick="toggleItem('zladx-f-dethl')">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-section">
            <h2 class="section-title">Progression Map</h2>
            <div class="inventory-card blue-card"> 
                <div class="tracker-grid">

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D1</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/map.png" class="item" id="zladx-f-map1" onclick="toggleItem('zladx-f-map1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/compass.png" class="item" id="zladx-f-cp1" onclick="toggleItem('zladx-f-cp1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/bec.png" class="item" id="zladx-f-bec1" onclick="toggleItem('zladx-f-bec1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/key.png" class="item" id="zladx-f-key1" onclick="toggleItem('zladx-f-key1')" data-max="3" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/boss.png" class="item" id="zladx-f-boss1" onclick="toggleItem('zladx-f-boss1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/guitard.png" class="item" id="zladx-f-guitard" onclick="toggleItem('zladx-f-guitard')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D2</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/map.png" class="item" id="zladx-f-map2" onclick="toggleItem('zladx-f-map2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/compass.png" class="item" id="zladx-f-cp2" onclick="toggleItem('zladx-f-cp2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/bec.png" class="item" id="zladx-f-bec2" onclick="toggleItem('zladx-f-bec2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/key.png" class="item" id="zladx-f-key2" onclick="toggleItem('zladx-f-key2')" data-max="5" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/boss.png" class="item" id="zladx-f-boss2" onclick="toggleItem('zladx-f-boss2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/trompette.png" class="item" id="zladx-f-trompette" onclick="toggleItem('zladx-f-trompette')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D3</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/map.png" class="item" id="zladx-f-map3" onclick="toggleItem('zladx-f-map3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/compass.png" class="item" id="zladx-f-cp3" onclick="toggleItem('zladx-f-cp3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/bec.png" class="item" id="zladx-f-bec3" onclick="toggleItem('zladx-f-bec3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/key.png" class="item" id="zladx-f-key3" onclick="toggleItem('zladx-f-key3')" data-max="9" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/boss.png" class="item" id="zladx-f-boss3" onclick="toggleItem('zladx-f-boss3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/cloche.png" class="item" id="zladx-f-cloche" onclick="toggleItem('zladx-f-cloche')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D4</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/map.png" class="item" id="zladx-f-map4" onclick="toggleItem('zladx-f-map4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/compass.png" class="item" id="zladx-f-cp4" onclick="toggleItem('zladx-f-cp4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/bec.png" class="item" id="zladx-f-bec4" onclick="toggleItem('zladx-f-bec4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/key.png" class="item" id="zladx-f-key4" onclick="toggleItem('zladx-f-key4')" data-max="5" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/boss.png" class="item" id="zladx-f-boss4" onclick="toggleItem('zladx-f-boss4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/harp.png" class="item" id="zladx-f-harp" onclick="toggleItem('zladx-f-harp')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D5</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/map.png" class="item" id="zladx-f-map5" onclick="toggleItem('zladx-f-map5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/compass.png" class="item" id="zladx-f-cp5" onclick="toggleItem('zladx-f-cp5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/bec.png" class="item" id="zladx-f-bec5" onclick="toggleItem('zladx-f-bec5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/key.png" class="item" id="zladx-f-key5" onclick="toggleItem('zladx-f-key5')" data-max="3" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/boss.png" class="item" id="zladx-f-boss5" onclick="toggleItem('zladx-f-boss5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/xylophone.png" class="item" id="zladx-f-xylophone" onclick="toggleItem('zladx-f-xylophone')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D6</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/map.png" class="item" id="zladx-f-map6" onclick="toggleItem('zladx-f-map6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/compass.png" class="item" id="zladx-f-cp6" onclick="toggleItem('zladx-f-cp6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/bec.png" class="item" id="zladx-f-bec6" onclick="toggleItem('zladx-f-bec6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/key.png" class="item" id="zladx-f-key6" onclick="toggleItem('zladx-f-key6')" data-max="3" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/boss.png" class="item" id="zladx-f-boss6" onclick="toggleItem('zladx-f-boss6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/triangle.png" class="item" id="zladx-f-triangle" onclick="toggleItem('zladx-f-triangle')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D7</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/map.png" class="item" id="zladx-f-map7" onclick="toggleItem('zladx-f-map7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/compass.png" class="item" id="zladx-f-cp7" onclick="toggleItem('zladx-f-cp7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/bec.png" class="item" id="zladx-f-bec7" onclick="toggleItem('zladx-f-bec7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/key.png" class="item" id="zladx-f-key7" onclick="toggleItem('zladx-f-key7')" data-max="3" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/boss.png" class="item" id="zladx-f-boss7" onclick="toggleItem('zladx-f-boss7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/piano.png" class="item" id="zladx-f-piano" onclick="toggleItem('zladx-f-piano')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D8</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/map.png" class="item" id="zladx-f-map8" onclick="toggleItem('zladx-f-map8')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/compass.png" class="item" id="zladx-f-cp8" onclick="toggleItem('zladx-f-cp8')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/bec.png" class="item" id="zladx-f-bec8" onclick="toggleItem('zladx-f-bec8')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/key.png" class="item" id="zladx-f-key8" onclick="toggleItem('zladx-f-key8')" data-max="7" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/boss.png" class="item" id="zladx-f-boss8" onclick="toggleItem('zladx-f-boss8')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/tambourre.png" class="item" id="zladx-f-tambourre" onclick="toggleItem('zladx-f-tambourre')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D9</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/map.png" class="item" id="zladx-f-map9" onclick="toggleItem('zladx-f-map9')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/compass.png" class="item" id="zladx-f-cp9" onclick="toggleItem('zladx-f-cp9')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/bec.png" class="item" id="zladx-f-bec9" onclick="toggleItem('zladx-f-bec9')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/key.png" class="item" id="zladx-f-key9" onclick="toggleItem('zladx-f-key9')" data-max="3" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLADX/boss.png" class="item" id="zladx-f-boss9" onclick="toggleItem('zladx-f-boss9')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>
