<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Link's Crossbow Training</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="../index.html" class="back-link">← Retour</a>
        <h1 class="main-title">Link's Crossbow Training - ITEMS</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-section">
            <h2 class="section-title">Humbaba</h2>
            <div class="inventory-card dark-card">
                <div class="tracker-grid">
                    <div class="item-wrapper">
                        <img src="../images/ZeldaLCT/humbaba.png" class="item boss-item" id="lct-f-humbaba" onclick="toggleItem('lct-f-humbaba')">
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-section">
            <h2 class="section-title">Progression Zone</h2>
            <div class="inventory-card blue-card"> 
                <div class="tracker-grid">

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">Z1</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/bronze.png" class="item" id="lct-f-bronze1" onclick="toggleItem('lct-f-bronze1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/argent.png" class="item" id="lct-f-argent1" onclick="toggleItem('lct-f-argent1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/or.png" class="item" id="lct-f-or1" onclick="toggleItem('lct-f-or1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/platine.png" class="item" id="lct-f-platine1" onclick="toggleItem('lct-f-platine1')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">Z2</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/bronze.png" class="item" id="lct-f-bronze2" onclick="toggleItem('lct-f-bronze2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/argent.png" class="item" id="lct-f-argent2" onclick="toggleItem('lct-f-argent2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/or.png" class="item" id="lct-f-or2" onclick="toggleItem('lct-f-or2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/platine.png" class="item" id="lct-f-platine2" onclick="toggleItem('lct-f-platine2')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">Z3</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/bronze.png" class="item" id="lct-f-bronze3" onclick="toggleItem('lct-f-bronze3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/argent.png" class="item" id="lct-f-argent3" onclick="toggleItem('lct-f-argent3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/or.png" class="item" id="lct-f-or3" onclick="toggleItem('lct-f-or3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/platine.png" class="item" id="lct-f-platine3" onclick="toggleItem('lct-f-platine3')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">Z4</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/bronze.png" class="item" id="lct-f-bronze4" onclick="toggleItem('lct-f-bronze4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/argent.png" class="item" id="lct-f-argent4" onclick="toggleItem('lct-f-argent4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/or.png" class="item" id="lct-f-or4" onclick="toggleItem('lct-f-or4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/platine.png" class="item" id="lct-f-platine4" onclick="toggleItem('lct-f-platine4')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">Z5</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/bronze.png" class="item" id="lct-f-bronze5" onclick="toggleItem('lct-f-bronze5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/argent.png" class="item" id="lct-f-argent5" onclick="toggleItem('lct-f-argent5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/or.png" class="item" id="lct-f-or5" onclick="toggleItem('lct-f-or5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/platine.png" class="item" id="lct-f-platine5" onclick="toggleItem('lct-f-platine5')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">Z6</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/bronze.png" class="item" id="lct-f-bronze6" onclick="toggleItem('lct-f-bronze6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/argent.png" class="item" id="lct-f-argent6" onclick="toggleItem('lct-f-argent6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/or.png" class="item" id="lct-f-or6" onclick="toggleItem('lct-f-or6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/platine.png" class="item" id="lct-f-platine6" onclick="toggleItem('lct-f-platine6')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">Z7</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/bronze.png" class="item" id="lct-f-bronze7" onclick="toggleItem('lct-f-bronze7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/argent.png" class="item" id="lct-f-argent7" onclick="toggleItem('lct-f-argent7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/or.png" class="item" id="lct-f-or7" onclick="toggleItem('lct-f-or7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/platine.png" class="item" id="lct-f-platine7" onclick="toggleItem('lct-f-platine7')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">Z8</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/bronze.png" class="item" id="lct-f-bronze8" onclick="toggleItem('lct-f-bronze8')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/argent.png" class="item" id="lct-f-argent8" onclick="toggleItem('lct-f-argent8')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/or.png" class="item" id="lct-f-or8" onclick="toggleItem('lct-f-or8')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/platine.png" class="item" id="lct-f-platine8" onclick="toggleItem('lct-f-platine8')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">Z9</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/bronze.png" class="item" id="lct-f-bronze9" onclick="toggleItem('lct-f-bronze9')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/argent.png" class="item" id="lct-f-argent9" onclick="toggleItem('lct-f-argent9')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/or.png" class="item" id="lct-f-or9" onclick="toggleItem('lct-f-or9')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaLCT/platine.png" class="item" id="lct-f-platine9" onclick="toggleItem('lct-f-platine9')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>