<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Zelda PH - Choisir la Quête</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="../index.html" class="back-link">← Retour</a>
        <h1 class="main-title">THE LEGEND OF ZELDA PHANTOM HOURGLASS</h1>
    </header>

    <div class="quest-container main-content">
        <a href="zph-tracker.html" class="quest-card">
            <img src="../images/ZeldaPH/First-quest.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">01</span>
                <h2>Phantom Hourglass</h2>
                <p>L'aventure originale</p>
            </div>
        </a>

        <a href="zph-ship-part.html" class="quest-card">
            <img src="../images/ZeldaPH/ship-part.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">Bateau</span>
                <h2>Pièces de Bateau</h2>
                <p>La collection des pièces de bateau</p>
            </div>
        </a>
    </div>
</body>
</html>