<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Zelda TOTK NS2E - Choisir la Quête</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="../index.html" class="back-link">← Retour</a>
        <h1 class="main-title">THE LEGEND OF ZELDA TEARS OF THE KINGDOM NINTENDO SWITCH 2 EDITION</h1>
    </header>

    <div class="quest-container main-content">
        <a href="totk2-tracker.html" class="quest-card">
            <img src="../images/ZeldaTOTK/First-quest.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">01</span>
                <h2>Tears of the Kingdom Nintendo Switch 2 Edition</h2>
                <p>L'aventure originale</p>
            </div>
        </a>

        <a href="totk2-medaille.html" class="quest-card">
            <img src="../images/ZeldaTOTK/Medaille.png" class="cover-img">
            <div class="overlay"></div>
            <div class="content">
                <span class="quest-number">Médailles</span>
                <h2>Les Médailles</h2>
                <p>La collection complète</p>
            </div>
        </a>
    </div>
</body>
</html>