<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda TOTK NS2E - MÉDAILLES</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="totk2.html" class="back-link">← Retour</a>
        <h1 class="main-title">Zelda TOTK NS2E - MÉDAILLES</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-3-columns">
            <div class="inventory-section">
                <h2 class="section-title">Médailles</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/11.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-11"
                            data-levels="../images/ZeldaTOTK/Medaille/11.png,../images/ZeldaTOTK/Medaille/12.png,../images/ZeldaTOTK/Medaille/13.png,../images/ZeldaTOTK/Medaille/14.png"
                            onclick="toggleItem('ztotk2-f-m-11')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/21.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-21"
                            data-levels="../images/ZeldaTOTK/Medaille/21.png,../images/ZeldaTOTK/Medaille/22.png,../images/ZeldaTOTK/Medaille/23.png,../images/ZeldaTOTK/Medaille/24.png"
                            onclick="toggleItem('ztotk2-f-m-21')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/31.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-31"
                            data-levels="../images/ZeldaTOTK/Medaille/31.png,../images/ZeldaTOTK/Medaille/32.png,../images/ZeldaTOTK/Medaille/33.png,../images/ZeldaTOTK/Medaille/34.png"
                            onclick="toggleItem('ztotk2-f-m-31')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/41.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-41"
                            data-levels="../images/ZeldaTOTK/Medaille/41.png,../images/ZeldaTOTK/Medaille/42.png,../images/ZeldaTOTK/Medaille/43.png,../images/ZeldaTOTK/Medaille/44.png"
                            onclick="toggleItem('ztotk2-f-m-41')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/51.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-51"
                            data-levels="../images/ZeldaTOTK/Medaille/51.png,../images/ZeldaTOTK/Medaille/52.png,../images/ZeldaTOTK/Medaille/53.png,../images/ZeldaTOTK/Medaille/54.png"
                            onclick="toggleItem('ztotk2-f-m-51')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/61.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-61"
                            data-levels="../images/ZeldaTOTK/Medaille/61.png,../images/ZeldaTOTK/Medaille/62.png,../images/ZeldaTOTK/Medaille/63.png,../images/ZeldaTOTK/Medaille/64.png"
                            onclick="toggleItem('ztotk2-f-m-61')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/71.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-71"
                            data-levels="../images/ZeldaTOTK/Medaille/71.png,../images/ZeldaTOTK/Medaille/72.png,../images/ZeldaTOTK/Medaille/73.png,../images/ZeldaTOTK/Medaille/74.png"
                            onclick="toggleItem('ztotk2-f-m-71')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/81.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-81"
                            data-levels="../images/ZeldaTOTK/Medaille/81.png,../images/ZeldaTOTK/Medaille/82.png,../images/ZeldaTOTK/Medaille/83.png,../images/ZeldaTOTK/Medaille/84.png"
                            onclick="toggleItem('ztotk2-f-m-81')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/91.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-91"
                            data-levels="../images/ZeldaTOTK/Medaille/91.png,../images/ZeldaTOTK/Medaille/92.png,../images/ZeldaTOTK/Medaille/93.png,../images/ZeldaTOTK/Medaille/94.png"
                            onclick="toggleItem('ztotk2-f-m-91')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/101.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-101"
                            data-levels="../images/ZeldaTOTK/Medaille/101.png,../images/ZeldaTOTK/Medaille/102.png,../images/ZeldaTOTK/Medaille/103.png,../images/ZeldaTOTK/Medaille/104.png"
                            onclick="toggleItem('ztotk2-f-m-101')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/111.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-111"
                            data-levels="../images/ZeldaTOTK/Medaille/111.png,../images/ZeldaTOTK/Medaille/112.png,../images/ZeldaTOTK/Medaille/113.png,../images/ZeldaTOTK/Medaille/114.png"
                            onclick="toggleItem('ztotk2-f-m-111')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/121.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-121"
                            data-levels="../images/ZeldaTOTK/Medaille/121.png,../images/ZeldaTOTK/Medaille/122.png,../images/ZeldaTOTK/Medaille/123.png,../images/ZeldaTOTK/Medaille/124.png"
                            onclick="toggleItem('ztotk2-f-m-121')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/131.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-131"
                            data-levels="../images/ZeldaTOTK/Medaille/131.png,../images/ZeldaTOTK/Medaille/132.png,../images/ZeldaTOTK/Medaille/133.png,../images/ZeldaTOTK/Medaille/134.png"
                            onclick="toggleItem('ztotk2-f-m-131')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/141.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-141"
                            data-levels="../images/ZeldaTOTK/Medaille/141.png,../images/ZeldaTOTK/Medaille/142.png,../images/ZeldaTOTK/Medaille/143.png,../images/ZeldaTOTK/Medaille/144.png"
                            onclick="toggleItem('ztotk2-f-m-141')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/151.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-151"
                            data-levels="../images/ZeldaTOTK/Medaille/151.png,../images/ZeldaTOTK/Medaille/152.png,../images/ZeldaTOTK/Medaille/153.png,../images/ZeldaTOTK/Medaille/154.png"
                            onclick="toggleItem('ztotk2-f-m-151')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/161.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-161"
                            data-levels="../images/ZeldaTOTK/Medaille/161.png,../images/ZeldaTOTK/Medaille/162.png,../images/ZeldaTOTK/Medaille/163.png,../images/ZeldaTOTK/Medaille/164.png"
                            onclick="toggleItem('ztotk2-f-m-161')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/171.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-171"
                            data-levels="../images/ZeldaTOTK/Medaille/171.png,../images/ZeldaTOTK/Medaille/172.png,../images/ZeldaTOTK/Medaille/173.png,../images/ZeldaTOTK/Medaille/174.png"
                            onclick="toggleItem('ztotk2-f-m-171')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/181.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-181"
                            data-levels="../images/ZeldaTOTK/Medaille/181.png,../images/ZeldaTOTK/Medaille/182.png,../images/ZeldaTOTK/Medaille/183.png,../images/ZeldaTOTK/Medaille/184.png"
                            onclick="toggleItem('ztotk2-f-m-181')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/191.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-191"
                            data-levels="../images/ZeldaTOTK/Medaille/191.png,../images/ZeldaTOTK/Medaille/192.png,../images/ZeldaTOTK/Medaille/193.png,../images/ZeldaTOTK/Medaille/194.png"
                            onclick="toggleItem('ztotk2-f-m-191')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/201.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-201"
                            data-levels="../images/ZeldaTOTK/Medaille/201.png,../images/ZeldaTOTK/Medaille/202.png,../images/ZeldaTOTK/Medaille/203.png,../images/ZeldaTOTK/Medaille/204.png"
                            onclick="toggleItem('ztotk2-f-m-201')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/211.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-211"
                            data-levels="../images/ZeldaTOTK/Medaille/211.png,../images/ZeldaTOTK/Medaille/212.png,../images/ZeldaTOTK/Medaille/213.png,../images/ZeldaTOTK/Medaille/214.png"
                            onclick="toggleItem('ztotk2-f-m-211')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/221.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-221"
                            data-levels="../images/ZeldaTOTK/Medaille/221.png,../images/ZeldaTOTK/Medaille/222.png,../images/ZeldaTOTK/Medaille/223.png,../images/ZeldaTOTK/Medaille/224.png"
                            onclick="toggleItem('ztotk2-f-m-221')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/231.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-231"
                            data-levels="../images/ZeldaTOTK/Medaille/231.png,../images/ZeldaTOTK/Medaille/232.png,../images/ZeldaTOTK/Medaille/233.png,../images/ZeldaTOTK/Medaille/234.png"
                            onclick="toggleItem('ztotk2-f-m-231')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTOTK/Medaille/241.png" 
                            class="item gros-item" 
                            id="ztotk2-f-m-241"
                            data-levels="../images/ZeldaTOTK/Medaille/241.png,../images/ZeldaTOTK/Medaille/242.png,../images/ZeldaTOTK/Medaille/243.png,../images/ZeldaTOTK/Medaille/244.png"
                            onclick="toggleItem('ztotk2-f-m-241')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>