<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda TP</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="../index.html" class="back-link">← Retour</a>
        <h1 class="main-title">ZELDA TP - ITEMS</h1>
    </header>

      <main class="quest-container">
        <div class="inventory-row split-3-columns">
            <div class="inventory-section">
                <h2 class="section-title">Équipement</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/Sword1.png" 
                                class="item" 
                                id="ztp-f-2-Sword1" 
                                data-levels="../images/ZeldaTP/Sword1.png,../images/ZeldaTP/Sword2.png" 
                                onclick="toggleItem('ztp-f-2-Sword1')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/Sword3.png" 
                                class="item" 
                                id="ztp-f-2-Sword3" 
                                data-levels="../images/ZeldaTP/Sword3.png,../images/ZeldaTP/Sword4.png"
                                onclick="toggleItem('ztp-f-2-Sword3')">
                        </div>
                        
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/shield1.png" 
                                class="item" 
                                id="ztp-f-2-shield1" 
                                data-levels="../images/ZeldaTP/shield1.png,../images/ZeldaTP/shield2.png" 
                                onclick="toggleItem('ztp-f-2-shield1')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/shield3.png" 
                                class="item" 
                                id="ztp-f-2-shield3" 
                                onclick="toggleItem('ztp-f-2-shield3')">
                        </div>
                        
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/Tenu1.png" 
                                class="item" 
                                id="ztp-f-2-Tenu1"  
                                onclick="toggleItem('ztp-f-2-Tenu1')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/Tenu2.png" 
                                class="item" 
                                id="ztp-f-2-Tenu2" 
                                onclick="toggleItem('ztp-f-2-Tenu2')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/Tenu3.png" 
                                class="item" 
                                id="ztp-f-2-Tenu3" 
                                onclick="toggleItem('ztp-f-2-Tenu3')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/bombe.png" 
                                class="item" 
                                id="ztp-f-2-bombe"  
                                onclick="toggleItem('ztp-f-2-bombe')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/bombeeau.png" 
                                class="item" 
                                id="ztp-f-2-bombeeau" 
                                onclick="toggleItem('ztp-f-2-bombeeau')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/bombeinsecte.png" 
                                class="item" 
                                id="ztp-f-2-bombeinsecte"  
                                onclick="toggleItem('ztp-f-2-bombeinsecte')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/sacbombe1.png" 
                                class="item" 
                                id="ztp-f-2-sacbombe1"
                                data-levels="../images/ZeldaTP/sacbombe1.png,../images/ZeldaTP/sacbombe2.png" 
                                onclick="toggleItem('ztp-f-2-sacbombe1')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/sacbombe1.png" 
                                class="item" 
                                id="ztp-f-2-sacbombe2"  
                                onclick="toggleItem('ztp-f-2-sacbombe2')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/sacbombe1.png" 
                                class="item" 
                                id="ztp-f-2-sacbombe3"  
                                onclick="toggleItem('ztp-f-2-sacbombe3')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/grappin.png" 
                                class="item" 
                                id="ztp-f-2-grappin" 
                                data-levels="../images/ZeldaTP/grappin.png,../images/ZeldaTP/doublegrappin.png"
                                onclick="toggleItem('ztp-f-2-grappin')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/fragementcoeur.png" 
                            class="item" 
                            id="ztp-f-2-fragementcoeur"
                            data-max="45"
                            data-name="0"
                            onclick="toggleItem('ztp-f-2-fragementcoeur')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/full_heart.png" 
                            class="item" 
                            id="ztp-f-2-full_heart"
                            data-max="8"
                            data-name="0"
                            onclick="toggleItem('ztp-f-2-full_heart')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/skill.png" 
                            class="item" 
                            id="ztp-f-2-skill"
                            data-max="7"
                            data-name="0"
                            onclick="toggleItem('ztp-f-2-skill')">
                            <p class="item-name">0</p>
                         </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/carquois1.png" 
                                class="item" 
                                id="ztp-f-2-carquois1" 
                                data-levels="../images/ZeldaTP/carquois1.png,../images/ZeldaTP/carquois2.png,../images/ZeldaTP/carquois3.png"
                                onclick="toggleItem('ztp-f-2-carquois1')">
                            </div>
                           
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/lanterne.png" 
                                class="item" 
                                id="ztp-f-2-lanterne" 
                                data-levels="../images/ZeldaTP/lanterne.png"
                                onclick="toggleItem('ztp-f-2-lanterne')">
                            </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/bottedefer.png" 
                                class="item" 
                                id="ztp-f-2-bottedefer" 
                                data-levels="../images/ZeldaTP/bottedefer.png"
                                onclick="toggleItem('ztp-f-2-bottedefer')">
                            </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/boomerang.png" 
                                class="item" 
                                id="ztp-f-2-boomerang" 
                                data-levels="../images/ZeldaTP/boomerang.png"
                                onclick="toggleItem('ztp-f-2-boomerang')">
                            </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/arc.png" 
                                class="item" 
                                id="ztp-f-2-arc" 
                                data-levels="../images/ZeldaTP/arc.png"
                                onclick="toggleItem('ztp-f-2-arc')">
                            </div>

                            <div class="item-wrapper">
                            <img src="../images/ZeldaTP/oeilfaucon.png" 
                                class="item" 
                                id="ztp-f-2-oeilfaucon" 
                                data-levels="../images/ZeldaTP/oeilfaucon.png"
                                onclick="toggleItem('ztp-f-2-oeilfaucon')">
                            </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/canneapeche.png" 
                                class="item" 
                                id="ztp-f-2-canneapeche" 
                                data-levels="../images/ZeldaTP/canneapeche.png,../images/ZeldaTP/canneapeche2.png"
                                onclick="toggleItem('ztp-f-2-canneapeche')">
                            </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/battonanima1.png" 
                                class="item" 
                                id="ztp-f-2-battonanima" 
                                data-levels="../images/ZeldaTP/battonanima1.png,../images/ZeldaTP/battonanima.png"
                                onclick="toggleItem('ztp-f-2-battonanima')">
                            </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/boulet.png" 
                                class="item" 
                                id="ztp-f-2-boulet" 
                                data-levels="../images/ZeldaTP/boulet.png"
                                onclick="toggleItem('ztp-f-2-boulet')">
                            </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/lancepierre.png" 
                                class="item" 
                                id="ztp-f-2-lancepierre" 
                                data-levels="../images/ZeldaTP/lancepierre.png"
                                onclick="toggleItem('ztp-f-2-lancepierre')">
                            </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/bottle.png" 
                            class="item" 
                            id="ztp-f-2-bottle"
                            data-max="4"
                            data-name="0"
                            onclick="toggleItem('ztp-f-2-bottle')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/calisse.png" 
                                class="item" 
                                id="ztp-f-2-calisse" 
                                data-max="3"
                                data-name="0"
                                onclick="toggleItem('ztp-f-2-calisse')">
                                <p class="item-name">0</p>
                         </div>
                        
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/NoteLafrel.png" 
                                class="item" 
                                id="ztp-f-2-NoteLafrel" 
                                data-levels="../images/ZeldaTP/NoteLafrel.png"
                                onclick="toggleItem('ztp-f-2-NoteLafrel')">
                            </div>
                        
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/CroquisYéti.png" 
                                class="item" 
                                id="ztp-f-2-CroquisYéti" 
                                data-levels="../images/ZeldaTP/CroquisYéti.png"
                                onclick="toggleItem('ztp-f-2-CroquisYéti')">
                            </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/citrouilleordon.png" 
                                class="item" 
                                id="ztp-f-2-citrouilleordon" 
                                data-levels="../images/ZeldaTP/citrouilleordon.png,../images/ZeldaTP/frommagechevreordon.png"
                                onclick="toggleItem('ztp-f-2-citrouilleordon')">
                            </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/LettreReynald.png" 
                                class="item" 
                                id="ztp-f-2-LettreReynald" 
                                data-levels="../images/ZeldaTP/LettreReynald.png,../images/ZeldaTP/Facture.png,../images/ZeldaTP/statuedebois.png,../images/ZeldaTP/livreancien.png"
                                onclick="toggleItem('ztp-f-2-LettreReynald')">
                            </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/Lienamitié.png" 
                                class="item" 
                                id="ztp-f-2-Lienamitié" 
                                data-levels="../images/ZeldaTP/Lienamitié.png"
                                onclick="toggleItem('ztp-f-2-Lienamitié')">
                            </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/sky.png" 
                                class="item" 
                                id="ztp-f-2-sky" 
                                data-max="6"
                                data-name="0"
                                onclick="toggleItem('ztp-f-2-sky')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/frog.png" 
                                class="item" 
                                id="ztp-f-2-frog" 
                                onclick="toggleItem('ztp-f-2-frog')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/sacrubis1.png" 
                                class="item" 
                                id="ztp-f-2-sacrubis"
                                data-levels="../images/ZeldaTP/sacrubis1.png,../images/ZeldaTP/sacrubis2.png,../images/ZeldaTP/sacrubis3.png"
                                onclick="toggleItem('ztp-f-2-sacrubis')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/scent.png" 
                                class="item" 
                                id="ztp-f-2-scent" 
                                data-default-img="../images/ZeldaTP/scent.png"
                                onclick="openItemPopup(event, 'modal-scent')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/crystal.png" 
                                class="item" 
                                id="ztp-f-2-crystal" 
                                onclick="toggleItem('ztp-f-2-crystal')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/ame.png" 
                                class="item" 
                                id="ztp-f-2-ame" 
                                data-max="60"
                                data-name="0"
                                onclick="toggleItem('ztp-f-2-ame')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/key1.png" 
                                class="item" 
                                id="ztp-f-2-key11" 
                                onclick="toggleItem('ztp-f-2-key11')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/key2.png" 
                                class="item" 
                                id="ztp-f-2-key21" 
                                onclick="toggleItem('ztp-f-2-key21')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/key3.png" 
                                class="item" 
                                id="ztp-f-2-key31" 
                                onclick="toggleItem('ztp-f-2-key31')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/key4.png" 
                                class="item" 
                                id="ztp-f-2-key41" 
                                onclick="toggleItem('ztp-f-2-key41')">
                        </div>
                    </div>
                </div>        
            </div>

            <div class="inventory-column">
                <div class="inventory-section">
                    <h2 class="section-title">Poisson</h2>
                    <div class="inventory-card green-card"> 
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/fish1.png" class="item" id="ztp-f-2-fish1" onclick="toggleItem('ztp-f-2-fish1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/fish2.png" class="item" id="ztp-f-2-fish2" onclick="toggleItem('ztp-f-2-fish2')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/fish3.png" class="item" id="ztp-f-2-fish3" onclick="toggleItem('ztp-f-2-fish3')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/fish4.png" class="item" id="ztp-f-2-fish4" onclick="toggleItem('ztp-f-2-fish4')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/fish5.png" class="item" id="ztp-f-2-fish5" onclick="toggleItem('ztp-f-2-fish5')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/fish6.png" class="item" id="ztp-f-2-fish6" onclick="toggleItem('ztp-f-2-fish6')">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inventory-section">
                    <h2 class="section-title">Insecte</h2>
                    <div class="inventory-card purple-card">
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte1.png" class="item" id="ztp-f-2-insecte1" onclick="toggleItem('ztp-f-2-insecte1')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte2.png" class="item" id="ztp-f-2-insecte2" onclick="toggleItem('ztp-f-2-insecte2')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte3.png" class="item" id="ztp-f-2-insecte3" onclick="toggleItem('ztp-f-2-insecte3')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte4.png" class="item" id="ztp-f-2-insecte4" onclick="toggleItem('ztp-f-2-insecte4')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte5.png" class="item" id="ztp-f-2-insecte5" onclick="toggleItem('ztp-f-2-insecte5')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte6.png" class="item" id="ztp-f-2-insecte6" onclick="toggleItem('ztp-f-2-insecte6')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte7.png" class="item" id="ztp-f-2-insecte7" onclick="toggleItem('ztp-f-2-insecte7')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte8.png" class="item" id="ztp-f-2-insecte8" onclick="toggleItem('ztp-f-2-insecte8')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte9.png" class="item" id="ztp-f-2-insecte9" onclick="toggleItem('ztp-f-2-insecte9')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte10.png" class="item" id="ztp-f-2-insecte10" onclick="toggleItem('ztp-f-2-insecte10')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte11.png" class="item" id="ztp-f-2-insecte11" onclick="toggleItem('ztp-f-2-insecte11')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte12.png" class="item" id="ztp-f-2-insecte12" onclick="toggleItem('ztp-f-2-insecte12')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte13.png" class="item" id="ztp-f-2-insecte13" onclick="toggleItem('ztp-f-2-insecte13')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte14.png" class="item" id="ztp-f-2-insecte14" onclick="toggleItem('ztp-f-2-insecte14')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte15.png" class="item" id="ztp-f-2-insecte15" onclick="toggleItem('ztp-f-2-insecte15')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte16.png" class="item" id="ztp-f-2-insecte16" onclick="toggleItem('ztp-f-2-insecte16')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte17.png" class="item" id="ztp-f-2-insecte17" onclick="toggleItem('ztp-f-2-insecte17')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte18.png" class="item" id="ztp-f-2-insecte18" onclick="toggleItem('ztp-f-2-insecte18')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte19.png" class="item" id="ztp-f-2-insecte19" onclick="toggleItem('ztp-f-2-insecte19')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte20.png" class="item" id="ztp-f-2-insecte20" onclick="toggleItem('ztp-f-2-insecte20')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte21.png" class="item" id="ztp-f-2-insecte21" onclick="toggleItem('ztp-f-2-insecte21')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte22.png" class="item" id="ztp-f-2-insecte22" onclick="toggleItem('ztp-f-2-insecte22')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte23.png" class="item" id="ztp-f-2-insecte23" onclick="toggleItem('ztp-f-2-insecte23')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/insecte24.png" class="item" id="ztp-f-2-insecte24" onclick="toggleItem('ztp-f-2-insecte24')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-column">
                <div class="inventory-section">
                    <h2 class="section-title">Objet des ombres</h2>
                    <div class="inventory-card yellow-card"> 
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/shadow.png" class="item" id="ztp-f-2-shadow" onclick="toggleItem('ztp-f-2-shadow')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/shadow2.png" class="item" id="ztp-f-2-shadow2" onclick="toggleItem('ztp-f-2-shadow2')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/shadow3.png" class="item" id="ztp-f-2-shadow3" onclick="toggleItem('ztp-f-2-shadow3')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/mirror.png" class="item" id="ztp-f-2-mirror" data-levels="../images/ZeldaTP/mirror.png,../images/ZeldaTP/mirror2.png,../images/ZeldaTP/mirror3.png,../images/ZeldaTP/mirror4.png" onclick="toggleItem('ztp-f-2-mirror')">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inventory-section">
                    <h2 class="section-title">Ganon</h2>
                    <div class="inventory-card dark-card">
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/ZeldaTP/ganon.png" class="item boss-item" id="ztp-f-2-ganon" onclick="toggleItem('ztp-f-2-ganon')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-section">
            <h2 class="section-title">Progression Map</h2>
            <div class="inventory-card blue-card"> 
                <div class="tracker-grid">

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D1</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/map.png" class="item" id="ztp-f-2-map1" onclick="toggleItem('ztp-f-2-map1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/compass.png" class="item" id="ztp-f-2-cp1" onclick="toggleItem('ztp-f-2-cp1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/key.png" class="item" id="ztp-f-2-key1" onclick="toggleItem('ztp-f-2-key1')" data-max="4" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/boss.png" class="item" id="ztp-f-2-boss1" onclick="toggleItem('ztp-f-2-boss1')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D2</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/map.png" class="item" id="ztp-f-2-map2" onclick="toggleItem('ztp-f-2-map2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/compass.png" class="item" id="ztp-f-2-cp2" onclick="toggleItem('ztp-f-2-cp2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/key.png" class="item" id="ztp-f-2-key2" onclick="toggleItem('ztp-f-2-key2')" data-max="3" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/goron1.png" class="item" id="ztp-f-2-goron" data-levels="../images/ZeldaTP/goron1.png,../images/ZeldaTP/goron2.png,../images/ZeldaTP/goron.png" onclick="toggleItem('ztp-f-2-goron')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D3</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/map.png" class="item" id="ztp-f-2-map3" onclick="toggleItem('ztp-f-2-map3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/compass.png" class="item" id="ztp-f-2-cp3" onclick="toggleItem('ztp-f-2-cp3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/key.png" class="item" id="ztp-f-2-key3" onclick="toggleItem('ztp-f-2-key3')" data-max="3" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/boss.png" class="item" id="ztp-f-2-boss3" onclick="toggleItem('ztp-f-2-boss3')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D4</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/map.png" class="item" id="ztp-f-2-map4" onclick="toggleItem('ztp-f-2-map4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/compass.png" class="item" id="ztp-f-2-cp4" onclick="toggleItem('ztp-f-2-cp4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/key.png" class="item" id="ztp-f-2-key4" onclick="toggleItem('ztp-f-2-key4')" data-max="5" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/boss.png" class="item" id="ztp-f-2-boss4" onclick="toggleItem('ztp-f-2-boss4')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D5</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/map.png" class="item" id="ztp-f-2-map5" onclick="toggleItem('ztp-f-2-map5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/compass.png" class="item" id="ztp-f-2-cp5" onclick="toggleItem('ztp-f-2-cp5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/key.png" class="item" id="ztp-f-2-key5" onclick="toggleItem('ztp-f-2-key5')" data-max="4" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/bedroom.png" class="item" id="ztp-f-2-bedroom" onclick="toggleItem('ztp-f-2-bedroom')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D6</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/map.png" class="item" id="ztp-f-2-map6" onclick="toggleItem('ztp-f-2-map6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/compass.png" class="item" id="ztp-f-2-cp6" onclick="toggleItem('ztp-f-2-cp6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/key.png" class="item" id="ztp-f-2-key6" onclick="toggleItem('ztp-f-2-key6')" data-max="3" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/boss.png" class="item" id="ztp-f-2-boss6" onclick="toggleItem('ztp-f-2-boss6')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D7</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/map.png" class="item" id="ztp-f-2-map7" onclick="toggleItem('ztp-f-2-map7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/compass.png" class="item" id="ztp-f-2-cp7" onclick="toggleItem('ztp-f-2-cp7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/key.png" class="item" id="ztp-f-2-key7" onclick="toggleItem('ztp-f-2-key7')" data-max="1" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/boss.png" class="item" id="ztp-f-2-boss7" onclick="toggleItem('ztp-f-2-boss7')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D8</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/map.png" class="item" id="ztp-f-2-map8" onclick="toggleItem('ztp-f-2-map8')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/compass.png" class="item" id="ztp-f-2-cp8" onclick="toggleItem('ztp-f-2-cp8')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/key.png" class="item" id="ztp-f-2-key8" onclick="toggleItem('ztp-f-2-key8')" data-max="7" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D9</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/map.png" class="item" id="ztp-f-2-map9" onclick="toggleItem('ztp-f-2-map9')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/compass.png" class="item" id="ztp-f-2-cp9" onclick="toggleItem('ztp-f-2-cp9')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/key.png" class="item" id="ztp-f-2-key9" onclick="toggleItem('ztp-f-2-key9')" data-max="3" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaTP/boss.png" class="item" id="ztp-f-2-boss9" onclick="toggleItem('ztp-f-2-boss9')">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <div id="modal-scent" class="modal">
        <div class="modal-content" onclick="event.stopPropagation()">
            <h3 class="section-title">Choisir l'odeur</h3>
            <div class="tracker-grid">
                <img src="../images/ZeldaTP/scent.png" class="item active" onclick="selectPopupItem(this.src, 'modal-scent')">
                <img src="../images/ZeldaTP/scent2.png" class="item active" onclick="selectPopupItem(this.src, 'modal-scent')">
                <img src="../images/ZeldaTP/scent3.png" class="item active" onclick="selectPopupItem(this.src, 'modal-scent')">
                <img src="../images/ZeldaTP/scent4.png" class="item active" onclick="selectPopupItem(this.src, 'modal-scent')">
                <img src="../images/ZeldaTP/scent5.png" class="item active" onclick="selectPopupItem(this.src, 'modal-scent')">
            </div>
        </div>
    </div>

    <script src="../script.js"></script>
</body>
</html>