<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda EOW - Échos</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="eow.html" class="back-link">← Retour</a>
        <h1 class="main-title">Zelda EOW - Échos</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-2-columns">
            <div class="inventory-section">
                <h2 class="section-title">Échos</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e1.png" 
                            class="item" 
                            id="zeow-f-e1"
                            onclick="toggleItem('zeow-f-e1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e2.png" 
                                class="item" 
                                id="zeow-f-e2"
                                onclick="toggleItem('zeow-f-e2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e3.png" 
                                class="item" 
                                id="zeow-f-e3"
                                onclick="toggleItem('zeow-f-e3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e4.png" 
                                class="item" 
                                id="zeow-f-e4"
                                onclick="toggleItem('zeow-f-e4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e5.png" 
                                class="item" 
                                id="zeow-f-e5"
                                onclick="toggleItem('zeow-f-e5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e6.png" 
                                class="item" 
                                id="zeow-f-e6"
                                onclick="toggleItem('zeow-f-e6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e7.png" 
                                class="item" 
                                id="zeow-f-e7"
                                onclick="toggleItem('zeow-f-e7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e8.png" 
                                class="item" 
                                id="zeow-f-e8"
                                onclick="toggleItem('zeow-f-e8')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e9.png" 
                                class="item" 
                                id="zeow-f-e9"
                                onclick="toggleItem('zeow-f-e9')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e10.png" 
                                class="item" 
                                id="zeow-f-e10"
                                onclick="toggleItem('zeow-f-e10')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e11.png" 
                                class="item" 
                                id="zeow-f-e11"
                                onclick="toggleItem('zeow-f-e11')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e12.png" 
                                class="item" 
                                id="zeow-f-e12"
                                onclick="toggleItem('zeow-f-e12')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e13.png" 
                                class="item" 
                                id="zeow-f-e13"
                                onclick="toggleItem('zeow-f-e13')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e14.png" 
                                class="item" 
                                id="zeow-f-e14"
                                onclick="toggleItem('zeow-f-e14')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e15.png" 
                                class="item" 
                                id="zeow-f-e15"
                                onclick="toggleItem('zeow-f-e15')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e16.png" 
                                class="item" 
                                id="zeow-f-e16"
                                onclick="toggleItem('zeow-f-e16')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e17.png" 
                                class="item" 
                                id="zeow-f-e17"
                                onclick="toggleItem('zeow-f-e17')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e18.png" 
                                class="item" 
                                id="zeow-f-e18"
                                onclick="toggleItem('zeow-f-e18')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e19.png" 
                                class="item" 
                                id="zeow-f-e19"
                                onclick="toggleItem('zeow-f-e19')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e20.png" 
                                class="item" 
                                id="zeow-f-e20"
                                onclick="toggleItem('zeow-f-e20')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e21.png" 
                                class="item" 
                                id="zeow-f-e21"
                                onclick="toggleItem('zeow-f-e21')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e22.png" 
                                class="item" 
                                id="zeow-f-e22"
                                onclick="toggleItem('zeow-f-e22')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e23.png" 
                                class="item" 
                                id="zeow-f-e23"
                                onclick="toggleItem('zeow-f-e23')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e24.png" 
                                class="item" 
                                id="zeow-f-e24"
                                onclick="toggleItem('zeow-f-e24')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e25.png" 
                                class="item" 
                                id="zeow-f-e25"
                                onclick="toggleItem('zeow-f-e25')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e26.png" 
                                class="item" 
                                id="zeow-f-e26"
                                onclick="toggleItem('zeow-f-e26')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e27.png" 
                                class="item" 
                                id="zeow-f-e27"
                                onclick="toggleItem('zeow-f-e27')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e28.png" 
                                class="item" 
                                id="zeow-f-e28"
                                onclick="toggleItem('zeow-f-e28')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e29.png" 
                                class="item" 
                                id="zeow-f-e29"
                                onclick="toggleItem('zeow-f-e29')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e30.png" 
                                class="item" 
                                id="zeow-f-e30"
                                onclick="toggleItem('zeow-f-e30')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e31.png" 
                                class="item" 
                                id="zeow-f-e31"
                                onclick="toggleItem('zeow-f-e31')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e32.png" 
                                class="item" 
                                id="zeow-f-e32"
                                onclick="toggleItem('zeow-f-e32')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e33.png" 
                                class="item" 
                                id="zeow-f-e33"
                                onclick="toggleItem('zeow-f-e33')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e34.png" 
                                class="item" 
                                id="zeow-f-e34"
                                onclick="toggleItem('zeow-f-e34')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e35.png" 
                                class="item" 
                                id="zeow-f-e35"
                                onclick="toggleItem('zeow-f-e35')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e36.png" 
                                class="item" 
                                id="zeow-f-e36"
                                onclick="toggleItem('zeow-f-e36')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e37.png" 
                                class="item" 
                                id="zeow-f-e37"
                                onclick="toggleItem('zeow-f-e37')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e38.png" 
                                class="item" 
                                id="zeow-f-e38"
                                onclick="toggleItem('zeow-f-e38')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e39.png" 
                                class="item" 
                                id="zeow-f-e39"
                                onclick="toggleItem('zeow-f-e39')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e40.png" 
                                class="item" 
                                id="zeow-f-e40"
                                onclick="toggleItem('zeow-f-e40')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e41.png" 
                                class="item" 
                                id="zeow-f-e41"
                                onclick="toggleItem('zeow-f-e41')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e42.png" 
                                class="item" 
                                id="zeow-f-e42"
                                onclick="toggleItem('zeow-f-e42')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e43.png" 
                                class="item" 
                                id="zeow-f-e43"
                                onclick="toggleItem('zeow-f-e43')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e44.png" 
                                class="item" 
                                id="zeow-f-e44"
                                onclick="toggleItem('zeow-f-e44')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e45.png" 
                                class="item" 
                                id="zeow-f-e45"
                                onclick="toggleItem('zeow-f-e45')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e46.png" 
                                class="item" 
                                id="zeow-f-e46"
                                onclick="toggleItem('zeow-f-e46')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e47.png" 
                                class="item" 
                                id="zeow-f-e47"
                                onclick="toggleItem('zeow-f-e47')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e48.png" 
                                class="item" 
                                id="zeow-f-e48"
                                onclick="toggleItem('zeow-f-e48')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e49.png" 
                                class="item" 
                                id="zeow-f-e49"
                                onclick="toggleItem('zeow-f-e49')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e50.png" 
                                class="item" 
                                id="zeow-f-e50"
                                onclick="toggleItem('zeow-f-e50')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e51.png" 
                                class="item" 
                                id="zeow-f-e51"
                                onclick="toggleItem('zeow-f-e51')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e52.png" 
                                class="item" 
                                id="zeow-f-e52"
                                onclick="toggleItem('zeow-f-e52')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e53.png" 
                                class="item" 
                                id="zeow-f-e53"
                                onclick="toggleItem('zeow-f-e53')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e54.png" 
                                class="item" 
                                id="zeow-f-e54"
                                onclick="toggleItem('zeow-f-e54')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e55.png" 
                                class="item" 
                                id="zeow-f-e55"
                                onclick="toggleItem('zeow-f-e55')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e56.png" 
                                class="item" 
                                id="zeow-f-e56"
                                onclick="toggleItem('zeow-f-e56')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e57.png" 
                                class="item" 
                                id="zeow-f-e57"
                                onclick="toggleItem('zeow-f-e57')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e58.png" 
                                class="item" 
                                id="zeow-f-e58"
                                onclick="toggleItem('zeow-f-e58')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e59.png" 
                                class="item" 
                                id="zeow-f-e59"
                                onclick="toggleItem('zeow-f-e59')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e60.png" 
                                class="item" 
                                id="zeow-f-e60"
                                onclick="toggleItem('zeow-f-e60')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e61.png" 
                                class="item" 
                                id="zeow-f-e61"
                                onclick="toggleItem('zeow-f-e61')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e62.png" 
                                class="item" 
                                id="zeow-f-e62"
                                onclick="toggleItem('zeow-f-e62')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e63.png" 
                                class="item" 
                                id="zeow-f-e63"
                                onclick="toggleItem('zeow-f-e63')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e64.png" 
                                class="item" 
                                id="zeow-f-e64"
                                onclick="toggleItem('zeow-f-e64')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e65.png" 
                                class="item" 
                                id="zeow-f-e65"
                                onclick="toggleItem('zeow-f-e65')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e66.png" 
                                class="item" 
                                id="zeow-f-e66"
                                onclick="toggleItem('zeow-f-e66')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e67.png" 
                                class="item" 
                                id="zeow-f-e67"
                                onclick="toggleItem('zeow-f-e67')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e68.png" 
                                class="item" 
                                id="zeow-f-e68"
                                onclick="toggleItem('zeow-f-e68')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e69.png" 
                                class="item" 
                                id="zeow-f-e69"
                                onclick="toggleItem('zeow-f-e69')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e70.png" 
                                class="item" 
                                id="zeow-f-e70"
                                onclick="toggleItem('zeow-f-e70')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e71.png" 
                                class="item" 
                                id="zeow-f-e71"
                                onclick="toggleItem('zeow-f-e71')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e72.png" 
                                class="item" 
                                id="zeow-f-e72"
                                onclick="toggleItem('zeow-f-e72')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e73.png" 
                                class="item" 
                                id="zeow-f-e73"
                                onclick="toggleItem('zeow-f-e73')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e74.png" 
                                class="item" 
                                id="zeow-f-e74"
                                onclick="toggleItem('zeow-f-e74')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e75.png" 
                                class="item" 
                                id="zeow-f-e75"
                                onclick="toggleItem('zeow-f-e75')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e76.png" 
                                class="item" 
                                id="zeow-f-e76"
                                onclick="toggleItem('zeow-f-e76')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e77.png" 
                                class="item" 
                                id="zeow-f-e77"
                                onclick="toggleItem('zeow-f-e77')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e78.png" 
                                class="item" 
                                id="zeow-f-e78"
                                onclick="toggleItem('zeow-f-e78')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e79.png" 
                                class="item" 
                                id="zeow-f-e79"
                                onclick="toggleItem('zeow-f-e79')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e80.png" 
                                class="item" 
                                id="zeow-f-e80"
                                onclick="toggleItem('zeow-f-e80')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e81.png" 
                                class="item" 
                                id="zeow-f-e81"
                                onclick="toggleItem('zeow-f-e81')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e82.png" 
                                class="item" 
                                id="zeow-f-e82"
                                onclick="toggleItem('zeow-f-e82')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e83.png" 
                                class="item" 
                                id="zeow-f-e83"
                                onclick="toggleItem('zeow-f-e83')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e84.png" 
                                class="item" 
                                id="zeow-f-e84"
                                onclick="toggleItem('zeow-f-e84')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e85.png" 
                                class="item" 
                                id="zeow-f-e85"
                                onclick="toggleItem('zeow-f-e85')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e86.png" 
                                class="item" 
                                id="zeow-f-e86"
                                onclick="toggleItem('zeow-f-e86')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e87.png" 
                                class="item" 
                                id="zeow-f-e87"
                                onclick="toggleItem('zeow-f-e87')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e88.png" 
                                class="item" 
                                id="zeow-f-e88"
                                onclick="toggleItem('zeow-f-e88')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e89.png" 
                                class="item" 
                                id="zeow-f-e89"
                                onclick="toggleItem('zeow-f-e89')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e90.png" 
                                class="item" 
                                id="zeow-f-e90"
                                onclick="toggleItem('zeow-f-e90')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e91.png" 
                                class="item" 
                                id="zeow-f-e91"
                                onclick="toggleItem('zeow-f-e91')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e92.png" 
                                class="item" 
                                id="zeow-f-e92"
                                onclick="toggleItem('zeow-f-e92')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e93.png" 
                                class="item" 
                                id="zeow-f-e93"
                                onclick="toggleItem('zeow-f-e93')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e94.png" 
                                class="item" 
                                id="zeow-f-e94"
                                onclick="toggleItem('zeow-f-e94')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e95.png" 
                                class="item" 
                                id="zeow-f-e95"
                                onclick="toggleItem('zeow-f-e95')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e96.png" 
                                class="item" 
                                id="zeow-f-e96"
                                onclick="toggleItem('zeow-f-e96')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e97.png" 
                                class="item" 
                                id="zeow-f-e97"
                                onclick="toggleItem('zeow-f-e97')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e98.png" 
                                class="item" 
                                id="zeow-f-e98"
                                onclick="toggleItem('zeow-f-e98')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e99.png" 
                                class="item" 
                                id="zeow-f-e99"
                                onclick="toggleItem('zeow-f-e99')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e100.png" 
                                class="item" 
                                id="zeow-f-e100"
                                onclick="toggleItem('zeow-f-e100')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e101.png" 
                                class="item" 
                                id="zeow-f-e101"
                                onclick="toggleItem('zeow-f-e101')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e102.png" 
                                class="item" 
                                id="zeow-f-e102"
                                onclick="toggleItem('zeow-f-e102')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e103.png" 
                                class="item" 
                                id="zeow-f-e103"
                                onclick="toggleItem('zeow-f-e103')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e104.png" 
                                class="item" 
                                id="zeow-f-e104"
                                onclick="toggleItem('zeow-f-e104')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e105.png" 
                                class="item" 
                                id="zeow-f-e105"
                                onclick="toggleItem('zeow-f-e105')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e106.png" 
                                class="item" 
                                id="zeow-f-e106"
                                onclick="toggleItem('zeow-f-e106')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e107.png" 
                                class="item" 
                                id="zeow-f-e107"
                                onclick="toggleItem('zeow-f-e107')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e108.png" 
                                class="item" 
                                id="zeow-f-e108"
                                onclick="toggleItem('zeow-f-e108')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e109.png" 
                                class="item" 
                                id="zeow-f-e109"
                                onclick="toggleItem('zeow-f-e109')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e110.png" 
                                class="item" 
                                id="zeow-f-e110"
                                onclick="toggleItem('zeow-f-e110')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e111.png" 
                                class="item" 
                                id="zeow-f-e111"
                                onclick="toggleItem('zeow-f-e111')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e112.png" 
                                class="item" 
                                id="zeow-f-e112"
                                onclick="toggleItem('zeow-f-e112')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e113.png" 
                                class="item" 
                                id="zeow-f-e113"
                                onclick="toggleItem('zeow-f-e113')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e114.png" 
                                class="item" 
                                id="zeow-f-e114"
                                onclick="toggleItem('zeow-f-e114')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e115.png" 
                                class="item" 
                                id="zeow-f-e115"
                                onclick="toggleItem('zeow-f-e115')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e116.png" 
                                class="item" 
                                id="zeow-f-e116"
                                onclick="toggleItem('zeow-f-e116')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e117.png" 
                                class="item" 
                                id="zeow-f-e117"
                                onclick="toggleItem('zeow-f-e117')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e118.png" 
                                class="item" 
                                id="zeow-f-e118"
                                onclick="toggleItem('zeow-f-e118')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e119.png" 
                                class="item" 
                                id="zeow-f-e119"
                                onclick="toggleItem('zeow-f-e119')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e120.png" 
                                class="item" 
                                id="zeow-f-e120"
                                onclick="toggleItem('zeow-f-e120')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e121.png" 
                                class="item" 
                                id="zeow-f-e121"
                                onclick="toggleItem('zeow-f-e121')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e122.png" 
                                class="item" 
                                id="zeow-f-e122"
                                onclick="toggleItem('zeow-f-e122')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e123.png" 
                                class="item" 
                                id="zeow-f-e123"
                                onclick="toggleItem('zeow-f-e123')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e124.png" 
                                class="item" 
                                id="zeow-f-e124"
                                onclick="toggleItem('zeow-f-e124')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e125.png" 
                                class="item" 
                                id="zeow-f-e125"
                                onclick="toggleItem('zeow-f-e125')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e126.png" 
                                class="item" 
                                id="zeow-f-e126"
                                onclick="toggleItem('zeow-f-e126')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Echoes/e127.png" 
                                class="item" 
                                id="zeow-f-e127"
                                onclick="toggleItem('zeow-f-e127')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>