<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda II Second Quest</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="zeldaII.html" class="back-link">← Retour</a>
        <h1 class="main-title">SECOND QUEST - ITEMS</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-2-columns">
            <div class="inventory-section">
                <h2 class="section-title">Équipement</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/sword.png" 
                                class="item" 
                                id="zII-f-2-sword" 
                                onclick="toggleItem('zII-f-2-sword')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/shield.png" 
                                class="item" 
                                id="zII-f-2-shield" 
                                onclick="toggleItem('zII-f-2-shield')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/boots.png" 
                                class="item" 
                                id="zII-f-2-boots" 
                                onclick="toggleItem('zII-f-2-boots')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/bougie.png" 
                                class="item" 
                                id="zII-f-2-bougie"  
                            onclick="toggleItem('zII-f-2-bougie')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/cross.png" 
                                class="item" 
                                id="zII-f-2-cross" 
                                onclick="toggleItem('zII-f-2-cross')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/child.png" 
                                class="item" 
                                id="zII-f-2-child"
                                onclick="toggleItem('zII-f-2-child')">
                            </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/down.png" 
                            class="item" 
                            id="zII-f-2-down" 
                            onclick="toggleItem('zII-f-2-down')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/fairy.png" 
                                class="item" 
                                id="zII-f-2-fairy" 
                                onclick="toggleItem('zII-f-2-fairy')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/fire.png" 
                            class="item" 
                            id="zII-f-2-fire"
                            onclick="toggleItem('zII-f-2-fire')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/flute.png" 
                            class="item" 
                            id="zII-f-2-flute" 
                            onclick="toggleItem('zII-f-2-flute')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/glove.png" 
                            class="item" 
                            id="zII-f-2-glove" 
                            onclick="toggleItem('zII-f-2-glove')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/hammer.png" 
                            class="item" 
                            id="zII-f-2-hammer" 
                            onclick="toggleItem('zII-f-2-hammer')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/jump.png" 
                            class="item" 
                            id="zII-f-2-jump" 
                            onclick="toggleItem('zII-f-2-jump')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/life.png" 
                            class="item" 
                            id="zII-f-2-life" 
                            onclick="toggleItem('zII-f-2-life')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/magicKey.png" 
                            class="item" 
                            id="zII-f-2-magicKey" 
                            onclick="toggleItem('zII-f-2-magicKey')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/potion.png" 
                            class="item" 
                            id="zII-f-2-potion" 
                            onclick="toggleItem('zII-f-2-potion')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/raft.png" 
                            class="item" 
                            id="zII-f-2-raft" 
                            onclick="toggleItem('zII-f-2-raft')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/reflect.png" 
                            class="item" 
                            id="zII-f-2-reflect" 
                            onclick="toggleItem('zII-f-2-reflect')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/thunder.png" 
                            class="item" 
                            id="zII-f-2-thunder" 
                            onclick="toggleItem('zII-f-2-thunder')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/trophy.png" 
                            class="item" 
                            id="zII-f-2-trophy" 
                            onclick="toggleItem('zII-f-2-trophy')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/up.png" 
                            class="item" 
                            id="zII-f-2-up" 
                            onclick="toggleItem('zII-f-2-up')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/spell.png" 
                            class="item" 
                            id="zII-f-2-spell" 
                            onclick="toggleItem('zII-f-2-spell')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/heart.png" 
                            class="item" 
                            id="zII-f-2-heart" 
                            data-max="4"
                            data-name="0"
                            onclick="toggleItem('zII-f-2-heart')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/magic.png" 
                            class="item" 
                            id="zII-f-2-magic"
                            data-max="4"
                            data-name="0"
                            onclick="toggleItem('zII-f-2-magic')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/link.png" 
                            class="item" 
                            id="zII-f-2-link"
                            data-max="5"
                            data-name="0"
                            onclick="toggleItem('zII-f-2-link')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/lvl8.png" 
                            class="item" 
                            id="zII-f-2-lvl8"
                            data-max="3"
                            data-name="0"
                            onclick="toggleItem('zII-f-2-lvl8')">
                            <p class="item-name">0</p>
                        </div>
                    </div>
                </div>        
            </div>

            <div class="inventory-section">
                <h2 class="section-title">Dark Link</h2>
                <div class="inventory-card dark-card">
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/dark.png" class="item boss-item" id="zII-f-2-dark" onclick="toggleItem('zII-f-2-dark')">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-section">
            <h2 class="section-title">Progression Map</h2>
            <div class="inventory-card blue-card"> 
                <div class="tracker-grid">

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D1</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/key.png" class="item" id="zII-f-2-key1" onclick="toggleItem('zII-f-2-key1')" data-max="3" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/crystal.png" class="item" id="zII-f-2-crystal1" onclick="toggleItem('zII-f-2-crystal1')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D2</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/key.png" class="item" id="zII-f-2-key2" onclick="toggleItem('zII-f-2-key2')" data-max="4" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/crystal.png" class="item" id="zII-f-2-crystal2" onclick="toggleItem('zII-f-2-crystal2')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D3</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/key.png" class="item" id="zII-f-2-key3" onclick="toggleItem('zII-f-2-key3')" data-max="4" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/crystal.png" class="item" id="zII-f-2-crystal3" onclick="toggleItem('zII-f-2-crystal3')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D4</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/key.png" class="item" id="zII-f-2-key4" onclick="toggleItem('zII-f-2-key4')" data-max="5" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/crystal.png" class="item" id="zII-f-2-crystal4" onclick="toggleItem('zII-f-2-crystal4')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D5</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/key.png" class="item" id="zII-f-2-key5" onclick="toggleItem('zII-f-2-key5')" data-max="5" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/crystal.png" class="item" id="zII-f-2-crystal5" onclick="toggleItem('zII-f-2-crystal5')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D6</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/key.png" class="item" id="zII-f-2-key6" onclick="toggleItem('zII-f-2-key6')" data-max="5" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/crystal.png" class="item" id="zII-f-2-crystal6" onclick="toggleItem('zII-f-2-crystal6')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D7</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaII/Triforce.png" class="item" id="zII-f-2-triforce" onclick="toggleItem('zII-f-2-triforce')">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>