<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda OOS Ring Collection</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="oos.html" class="back-link">← Retour</a>
        <h1 class="main-title">RING - COLLECTION</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-3-columns">
            <div class="inventory-section">
                <h2 class="section-title">Anneaux</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/Rings/1.png" 
                                class="item" 
                                id="zoos-f-1-ring" 
                                onclick="toggleItem('zoos-f-1-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/2.png" 
                                class="item" 
                                id="zoos-f-2-ring" 
                                onclick="toggleItem('zoos-f-2-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/3.png" 
                                class="item" 
                                id="zoos-f-3-ring" 
                                onclick="toggleItem('zoos-f-3-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/4.png" 
                                class="item" 
                                id="zoos-f-4-ring" 
                                onclick="toggleItem('zoos-f-4-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/5.png" 
                                class="item" 
                                id="zoos-f-5-ring" 
                                onclick="toggleItem('zoos-f-5-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/6.png" 
                                class="item" 
                                id="zoos-f-6-ring" 
                                onclick="toggleItem('zoos-f-6-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/7.png" 
                                class="item" 
                                id="zoos-f-7-ring" 
                                onclick="toggleItem('zoos-f-7-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/8.png" 
                                class="item" 
                                id="zoos-f-8-ring" 
                                onclick="toggleItem('zoos-f-8-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/9.png" 
                                class="item" 
                                id="zoos-f-9-ring" 
                                onclick="toggleItem('zoos-f-9-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/10.png" 
                                class="item" 
                                id="zoos-f-10-ring" 
                                onclick="toggleItem('zoos-f-10-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/11.png" 
                                class="item" 
                                id="zoos-f-11-ring" 
                                onclick="toggleItem('zoos-f-11-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/12.png" 
                                class="item" 
                                id="zoos-f-12-ring" 
                                onclick="toggleItem('zoos-f-12-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/13.png" 
                                class="item" 
                                id="zoos-f-13-ring" 
                                onclick="toggleItem('zoos-f-13-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/14.png" 
                                class="item" 
                                id="zoos-f-14-ring" 
                                onclick="toggleItem('zoos-f-14-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/15.png" 
                                class="item" 
                                id="zoos-f-15-ring" 
                                onclick="toggleItem('zoos-f-15-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/16.png" 
                                class="item" 
                                id="zoos-f-16-ring" 
                                onclick="toggleItem('zoos-f-16-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/17.png" 
                                class="item" 
                                id="zoos-f-17-ring" 
                                onclick="toggleItem('zoos-f-17-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/18.png" 
                                class="item" 
                                id="zoos-f-18-ring" 
                                onclick="toggleItem('zoos-f-18-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/19.png" 
                                class="item" 
                                id="zoos-f-19-ring" 
                                onclick="toggleItem('zoos-f-19-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/20.png" 
                                class="item" 
                                id="zoos-f-20-ring" 
                                onclick="toggleItem('zoos-f-20-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/21.png" 
                                class="item" 
                                id="zoos-f-21-ring" 
                                onclick="toggleItem('zoos-f-21-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/22.png" 
                                class="item" 
                                id="zoos-f-22-ring" 
                                onclick="toggleItem('zoos-f-22-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/23.png" 
                                class="item" 
                                id="zoos-f-23-ring" 
                                onclick="toggleItem('zoos-f-23-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/24.png" 
                                class="item" 
                                id="zoos-f-24-ring" 
                                onclick="toggleItem('zoos-f-24-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/25.png" 
                                class="item" 
                                id="zoos-f-25-ring" 
                                onclick="toggleItem('zoos-f-25-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/26.png" 
                                class="item" 
                                id="zoos-f-26-ring" 
                                onclick="toggleItem('zoos-f-26-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/27.png" 
                                class="item" 
                                id="zoos-f-27-ring" 
                                onclick="toggleItem('zoos-f-27-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/28.png" 
                                class="item" 
                                id="zoos-f-28-ring" 
                                onclick="toggleItem('zoos-f-28-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/29.png" 
                                class="item" 
                                id="zoos-f-29-ring" 
                                onclick="toggleItem('zoos-f-29-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/30.png" 
                                class="item" 
                                id="zoos-f-30-ring" 
                                onclick="toggleItem('zoos-f-30-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/31.png" 
                                class="item" 
                                id="zoos-f-31-ring" 
                                onclick="toggleItem('zoos-f-31-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/32.png" 
                                class="item" 
                                id="zoos-f-32-ring" 
                                onclick="toggleItem('zoos-f-32-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/33.png" 
                                class="item" 
                                id="zoos-f-33-ring" 
                                onclick="toggleItem('zoos-f-33-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/34.png" 
                                class="item" 
                                id="zoos-f-34-ring" 
                                onclick="toggleItem('zoos-f-34-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/35.png" 
                                class="item" 
                                id="zoos-f-35-ring" 
                                onclick="toggleItem('zoos-f-35-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/36.png" 
                                class="item" 
                                id="zoos-f-36-ring" 
                                onclick="toggleItem('zoos-f-36-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/37.png" 
                                class="item" 
                                id="zoos-f-37-ring" 
                                onclick="toggleItem('zoos-f-37-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/38.png" 
                                class="item" 
                                id="zoos-f-38-ring" 
                                onclick="toggleItem('zoos-f-38-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/39.png" 
                                class="item" 
                                id="zoos-f-39-ring" 
                                onclick="toggleItem('zoos-f-39-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/40.png" 
                                class="item" 
                                id="zoos-f-40-ring" 
                                onclick="toggleItem('zoos-f-40-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/41.png" 
                                class="item" 
                                id="zoos-f-41-ring" 
                                onclick="toggleItem('zoos-f-41-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/42.png" 
                                class="item" 
                                id="zoos-f-42-ring" 
                                onclick="toggleItem('zoos-f-42-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/43.png" 
                                class="item" 
                                id="zoos-f-43-ring" 
                                onclick="toggleItem('zoos-f-43-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/44.png" 
                                class="item" 
                                id="zoos-f-44-ring" 
                                onclick="toggleItem('zoos-f-44-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/45.png" 
                                class="item" 
                                id="zoos-f-45-ring" 
                                onclick="toggleItem('zoos-f-45-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/46.png" 
                                class="item" 
                                id="zoos-f-46-ring" 
                                onclick="toggleItem('zoos-f-46-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/47.png" 
                                class="item" 
                                id="zoos-f-47-ring" 
                                onclick="toggleItem('zoos-f-47-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/48.png" 
                                class="item" 
                                id="zoos-f-48-ring" 
                                onclick="toggleItem('zoos-f-48-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/49.png" 
                                class="item" 
                                id="zoos-f-49-ring" 
                                onclick="toggleItem('zoos-f-49-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/50.png" 
                                class="item" 
                                id="zoos-f-50-ring" 
                                onclick="toggleItem('zoos-f-50-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/51.png" 
                                class="item" 
                                id="zoos-f-51-ring" 
                                onclick="toggleItem('zoos-f-51-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/52.png" 
                                class="item" 
                                id="zoos-f-52-ring" 
                                onclick="toggleItem('zoos-f-52-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/53.png" 
                                class="item" 
                                id="zoos-f-53-ring" 
                                onclick="toggleItem('zoos-f-53-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/54.png" 
                                class="item" 
                                id="zoos-f-54-ring" 
                                onclick="toggleItem('zoos-f-54-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/55.png" 
                                class="item" 
                                id="zoos-f-55-ring" 
                                onclick="toggleItem('zoos-f-55-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/56.png" 
                                class="item" 
                                id="zoos-f-56-ring" 
                                onclick="toggleItem('zoos-f-56-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/57.png" 
                                class="item" 
                                id="zoos-f-57-ring" 
                                onclick="toggleItem('zoos-f-57-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/58.png" 
                                class="item" 
                                id="zoos-f-58-ring" 
                                onclick="toggleItem('zoos-f-58-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/59.png" 
                                class="item" 
                                id="zoos-f-59-ring" 
                                onclick="toggleItem('zoos-f-59-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/60.png" 
                                class="item" 
                                id="zoos-f-60-ring" 
                                onclick="toggleItem('zoos-f-60-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/61.png" 
                                class="item" 
                                id="zoos-f-61-ring" 
                                onclick="toggleItem('zoos-f-61-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/62.png" 
                                class="item" 
                                id="zoos-f-62-ring" 
                                onclick="toggleItem('zoos-f-62-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/63.png" 
                                class="item" 
                                id="zoos-f-63-ring" 
                                onclick="toggleItem('zoos-f-63-ring')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Rings/64.png" 
                                class="item" 
                                id="zoos-f-64-ring" 
                                onclick="toggleItem('zoos-f-64-ring')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>