<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda PH Pièces de Bateau Collection</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="ph.html" class="back-link">← Retour</a>
        <h1 class="main-title">PIÈCES DE BATEAU - COLLECTION</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-3-columns">
            <div class="inventory-section">
                <h2 class="section-title">Pièces de Bateau</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/Ship/1.png" 
                                class="item" 
                                id="zph-f-1-ship" 
                                onclick="toggleItem('zph-f-1-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/2.png" 
                                class="item" 
                                id="zph-f-2-ship" 
                                onclick="toggleItem('zph-f-2-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/3.png" 
                                class="item" 
                                id="zph-f-3-ship" 
                                onclick="toggleItem('zph-f-3-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/4.png" 
                                class="item" 
                                id="zph-f-4-ship" 
                                onclick="toggleItem('zph-f-4-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/5.png" 
                                class="item" 
                                id="zph-f-5-ship" 
                                onclick="toggleItem('zph-f-5-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/6.png" 
                                class="item" 
                                id="zph-f-6-ship" 
                                onclick="toggleItem('zph-f-6-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/7.png" 
                                class="item" 
                                id="zph-f-7-ship" 
                                onclick="toggleItem('zph-f-7-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/8.png" 
                                class="item" 
                                id="zph-f-8-ship" 
                                onclick="toggleItem('zph-f-8-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/9.png" 
                                class="item" 
                                id="zph-f-9-ship" 
                                onclick="toggleItem('zph-f-9-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/10.png" 
                                class="item" 
                                id="zph-f-10-ship" 
                                onclick="toggleItem('zph-f-10-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/11.png" 
                                class="item" 
                                id="zph-f-11-ship" 
                                onclick="toggleItem('zph-f-11-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/12.png" 
                                class="item" 
                                id="zph-f-12-ship" 
                                onclick="toggleItem('zph-f-12-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/13.png" 
                                class="item" 
                                id="zph-f-13-ship" 
                                onclick="toggleItem('zph-f-13-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/14.png" 
                                class="item" 
                                id="zph-f-14-ship" 
                                onclick="toggleItem('zph-f-14-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/15.png" 
                                class="item" 
                                id="zph-f-15-ship" 
                                onclick="toggleItem('zph-f-15-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/16.png" 
                                class="item" 
                                id="zph-f-16-ship" 
                                onclick="toggleItem('zph-f-16-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/17.png" 
                                class="item" 
                                id="zph-f-17-ship" 
                                onclick="toggleItem('zph-f-17-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/18.png" 
                                class="item" 
                                id="zph-f-18-ship" 
                                onclick="toggleItem('zph-f-18-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/19.png" 
                                class="item" 
                                id="zph-f-19-ship" 
                                onclick="toggleItem('zph-f-19-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/20.png" 
                                class="item" 
                                id="zph-f-20-ship" 
                                onclick="toggleItem('zph-f-20-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/21.png" 
                                class="item" 
                                id="zph-f-21-ship" 
                                onclick="toggleItem('zph-f-21-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/22.png" 
                                class="item" 
                                id="zph-f-22-ship" 
                                onclick="toggleItem('zph-f-22-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/23.png" 
                                class="item" 
                                id="zph-f-23-ship" 
                                onclick="toggleItem('zph-f-23-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/24.png" 
                                class="item" 
                                id="zph-f-24-ship" 
                                onclick="toggleItem('zph-f-24-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/25.png" 
                                class="item" 
                                id="zph-f-25-ship" 
                                onclick="toggleItem('zph-f-25-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/26.png" 
                                class="item" 
                                id="zph-f-26-ship" 
                                onclick="toggleItem('zph-f-26-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/27.png" 
                                class="item" 
                                id="zph-f-27-ship" 
                                onclick="toggleItem('zph-f-27-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/28.png" 
                                class="item" 
                                id="zph-f-28-ship" 
                                onclick="toggleItem('zph-f-28-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/29.png" 
                                class="item" 
                                id="zph-f-29-ship" 
                                onclick="toggleItem('zph-f-29-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/30.png" 
                                class="item" 
                                id="zph-f-30-ship" 
                                onclick="toggleItem('zph-f-30-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/31.png" 
                                class="item" 
                                id="zph-f-31-ship" 
                                onclick="toggleItem('zph-f-31-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/32.png" 
                                class="item" 
                                id="zph-f-32-ship" 
                                onclick="toggleItem('zph-f-32-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/33.png" 
                                class="item" 
                                id="zph-f-33-ship" 
                                onclick="toggleItem('zph-f-33-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/34.png" 
                                class="item" 
                                id="zph-f-34-ship" 
                                onclick="toggleItem('zph-f-34-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/35.png" 
                                class="item" 
                                id="zph-f-35-ship" 
                                onclick="toggleItem('zph-f-35-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/36.png" 
                                class="item" 
                                id="zph-f-36-ship" 
                                onclick="toggleItem('zph-f-36-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/37.png" 
                                class="item" 
                                id="zph-f-37-ship" 
                                onclick="toggleItem('zph-f-37-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/38.png" 
                                class="item" 
                                id="zph-f-38-ship" 
                                onclick="toggleItem('zph-f-38-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/39.png" 
                                class="item" 
                                id="zph-f-39-ship" 
                                onclick="toggleItem('zph-f-39-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/40.png" 
                                class="item" 
                                id="zph-f-40-ship" 
                                onclick="toggleItem('zph-f-40-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/41.png" 
                                class="item" 
                                id="zph-f-41-ship" 
                                onclick="toggleItem('zph-f-41-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/42.png" 
                                class="item" 
                                id="zph-f-42-ship" 
                                onclick="toggleItem('zph-f-42-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/43.png" 
                                class="item" 
                                id="zph-f-43-ship" 
                                onclick="toggleItem('zph-f-43-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/44.png" 
                                class="item" 
                                id="zph-f-44-ship" 
                                onclick="toggleItem('zph-f-44-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/45.png" 
                                class="item" 
                                id="zph-f-45-ship" 
                                onclick="toggleItem('zph-f-45-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/46.png" 
                                class="item" 
                                id="zph-f-46-ship" 
                                onclick="toggleItem('zph-f-46-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/47.png" 
                                class="item" 
                                id="zph-f-47-ship" 
                                onclick="toggleItem('zph-f-47-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/48.png" 
                                class="item" 
                                id="zph-f-48-ship" 
                                onclick="toggleItem('zph-f-48-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/49.png" 
                                class="item" 
                                id="zph-f-49-ship" 
                                onclick="toggleItem('zph-f-49-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/50.png" 
                                class="item" 
                                id="zph-f-50-ship" 
                                onclick="toggleItem('zph-f-50-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/51.png" 
                                class="item" 
                                id="zph-f-51-ship" 
                                onclick="toggleItem('zph-f-51-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/52.png" 
                                class="item" 
                                id="zph-f-52-ship" 
                                onclick="toggleItem('zph-f-52-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/53.png" 
                                class="item" 
                                id="zph-f-53-ship" 
                                onclick="toggleItem('zph-f-53-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/54.png" 
                                class="item" 
                                id="zph-f-54-ship" 
                                onclick="toggleItem('zph-f-54-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/55.png" 
                                class="item" 
                                id="zph-f-55-ship" 
                                onclick="toggleItem('zph-f-55-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/56.png" 
                                class="item" 
                                id="zph-f-56-ship" 
                                onclick="toggleItem('zph-f-56-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/57.png" 
                                class="item" 
                                id="zph-f-57-ship" 
                                onclick="toggleItem('zph-f-57-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/58.png" 
                                class="item" 
                                id="zph-f-58-ship" 
                                onclick="toggleItem('zph-f-58-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/59.png" 
                                class="item" 
                                id="zph-f-59-ship" 
                                onclick="toggleItem('zph-f-59-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/60.png" 
                                class="item" 
                                id="zph-f-60-ship" 
                                onclick="toggleItem('zph-f-60-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/61.png" 
                                class="item" 
                                id="zph-f-61-ship" 
                                onclick="toggleItem('zph-f-61-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/62.png" 
                                class="item" 
                                id="zph-f-62-ship" 
                                onclick="toggleItem('zph-f-62-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/63.png" 
                                class="item" 
                                id="zph-f-63-ship" 
                                onclick="toggleItem('zph-f-63-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/64.png" 
                                class="item" 
                                id="zph-f-64-ship" 
                                onclick="toggleItem('zph-f-64-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/65.png" 
                                class="item" 
                                id="zph-f-65-ship" 
                                onclick="toggleItem('zph-f-65-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/66.png" 
                                class="item" 
                                id="zph-f-66-ship" 
                                onclick="toggleItem('zph-f-66-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/67.png" 
                                class="item" 
                                id="zph-f-67-ship" 
                                onclick="toggleItem('zph-f-67-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/68.png" 
                                class="item" 
                                id="zph-f-68-ship" 
                                onclick="toggleItem('zph-f-68-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/69.png" 
                                class="item" 
                                id="zph-f-69-ship" 
                                onclick="toggleItem('zph-f-69-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/70.png" 
                                class="item" 
                                id="zph-f-70-ship" 
                                onclick="toggleItem('zph-f-70-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/71.png" 
                                class="item" 
                                id="zph-f-71-ship" 
                                onclick="toggleItem('zph-f-71-ship')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Ship/72.png" class="item" id="zph-f-72-ship" onclick="toggleItem('zph-f-72-ship')">
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>