<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda SS</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="ss.html" class="back-link">← Retour</a>
        <h1 class="main-title">Zelda SS - ITEMS</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-3-columns">
            <div class="inventory-section">
                <h2 class="section-title">Équipement</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/sword.png" 
                            class="item" 
                            id="zss-f-2-sword"
                            data-levels="../images/ZeldaSS/sword.png,../images/ZeldaSS/sword2.png,../images/ZeldaSS/sword3.png,../images/ZeldaSS/sword4.png,../images/ZeldaSS/sword5.png,../images/ZeldaSS/sword6.png"
                            onclick="toggleItem('zss-f-2-sword')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/shield1.png" 
                            class="item" 
                            id="zss-f-2-shield1"
                            data-levels="../images/ZeldaSS/shield1.png,../images/ZeldaSS/shield12.png,../images/ZeldaSS/shield13.png"
                            onclick="toggleItem('zss-f-2-shield1')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/shield2.png" 
                            class="item" 
                            id="zss-f-2-shield2"
                            data-levels="../images/ZeldaSS/shield2.png,../images/ZeldaSS/shield22.png,../images/ZeldaSS/shield23.png"
                            onclick="toggleItem('zss-f-2-shield2')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/shield3.png" 
                            class="item" 
                            id="zss-f-2-shield3"
                            data-levels="../images/ZeldaSS/shield3.png,../images/ZeldaSS/shield32.png,../images/ZeldaSS/shield33.png"
                            onclick="toggleItem('zss-f-2-shield3')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/shield4.png" 
                            class="item" 
                            id="zss-f-2-shield4"
                            onclick="toggleItem('zss-f-2-shield4')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/slingshot.png" 
                            class="item" 
                            id="zss-f-2-slingshot"
                            data-levels="../images/ZeldaSS/slingshot.png,../images/ZeldaSS/slingshot2.png"
                            onclick="toggleItem('zss-f-2-slingshot')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/beetle.png" 
                            class="item" 
                            id="zss-f-2-beetle"
                            data-levels="../images/ZeldaSS/beetle.png,../images/ZeldaSS/beetle2.png,../images/ZeldaSS/beetle3.png,../images/ZeldaSS/beetle4.png"
                            onclick="toggleItem('zss-f-2-beetle')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/bomb.png" 
                            class="item" 
                            id="zss-f-2-bomb"
                            onclick="toggleItem('zss-f-2-bomb')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/gust.png" 
                            class="item" 
                            id="zss-f-2-gust"
                            onclick="toggleItem('zss-f-2-gust')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/whip.png" 
                            class="item" 
                            id="zss-f-2-whip"
                            onclick="toggleItem('zss-f-2-whip')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/clawshot.png" 
                            class="item" 
                            id="zss-f-2-clawshot"
                            onclick="toggleItem('zss-f-2-clawshot')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/bow.png" 
                            class="item" 
                            id="zss-f-2-bow"
                            data-levels="../images/ZeldaSS/bow.png,../images/ZeldaSS/bow2.png,../images/ZeldaSS/bow3.png"
                            onclick="toggleItem('zss-f-2-bow')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/net.png" 
                            class="item" 
                            id="zss-f-2-net"
                            data-levels="../images/ZeldaSS/net.png,../images/ZeldaSS/net2.png"
                            onclick="toggleItem('zss-f-2-net')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/emerald.png" 
                            class="item" 
                            id="zss-f-2-emerald"
                            onclick="toggleItem('zss-f-2-emerald')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/ruby.png" 
                            class="item" 
                            id="zss-f-2-ruby"
                            onclick="toggleItem('zss-f-2-ruby')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/amber.png" 
                            class="item" 
                            id="zss-f-2-amber"
                            onclick="toggleItem('zss-f-2-amber')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/adventure_pouch.png" 
                            class="item" 
                            id="zss-f-2-adventure-pouch"
                            onclick="toggleItem('zss-f-2-adventure-pouch')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/pouch.png" 
                            class="item" 
                            id="zss-f-2-pouch"
                            data-max="4"
                            data-name="0"
                            onclick="toggleItem('zss-f-2-pouch')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/bird.png" 
                            class="item" 
                            id="zss-f-2-bird"
                            onclick="toggleItem('zss-f-2-bird')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/bottle.png" 
                            class="item" 
                            id="zss-f-2-bottle"
                            data-max="5"
                            data-name="0"
                            onclick="toggleItem('zss-f-2-bottle')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/scale.png" 
                            class="item" 
                            id="zss-f-2-scale"
                            onclick="toggleItem('zss-f-2-scale')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/fireshield.png" 
                            class="item" 
                            id="zss-f-2-fireshield"
                            onclick="toggleItem('zss-f-2-fireshield')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/trials.png" 
                            class="item" 
                            id="zss-f-2-trials"
                            onclick="toggleItem('zss-f-2-trials')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/sea.png" 
                            class="item" 
                            id="zss-f-2-sea"
                            onclick="toggleItem('zss-f-2-sea')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/sailcloth.png" 
                            class="item" 
                            id="zss-f-2-sailcloth"
                            onclick="toggleItem('zss-f-2-sailcloth')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/letter.png" 
                            class="item" 
                            id="zss-f-2-letter"
                            onclick="toggleItem('zss-f-2-letter')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/rattle.png" 
                            class="item" 
                            id="zss-f-2-rattle"
                            onclick="toggleItem('zss-f-2-rattle')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/beedle.png" 
                            class="item" 
                            id="zss-f-2-beedle"
                            onclick="toggleItem('zss-f-2-beedle')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/gratitude.png" 
                            class="item" 
                            id="zss-f-2-gratitude"
                            data-max="80"
                            data-name="0"
                            onclick="toggleItem('zss-f-2-gratitude')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/harp.png" 
                            class="item" 
                            id="zss-f-2-harp"
                            onclick="toggleItem('zss-f-2-harp')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/ballad.png" 
                            class="item" 
                            id="zss-f-2-ballad"
                            onclick="toggleItem('zss-f-2-ballad')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/courage.png" 
                            class="item" 
                            id="zss-f-2-courage"
                            onclick="toggleItem('zss-f-2-courage')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/wisdom.png" 
                            class="item" 
                            id="zss-f-2-wisdom"
                            onclick="toggleItem('zss-f-2-wisdom')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/power.png" 
                            class="item" 
                            id="zss-f-2-power"
                            onclick="toggleItem('zss-f-2-power')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/hero.png" 
                            class="item" 
                            id="zss-f-2-hero"
                            data-levels="../images/ZeldaSS/hero.png,../images/ZeldaSS/hero2.png,../images/ZeldaSS/hero3.png,../images/ZeldaSS/hero4.png"
                            onclick="toggleItem('zss-f-2-hero')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/life.png" 
                            class="item" 
                            id="zss-f-2-life"
                            data-levels="../images/ZeldaSS/life.png,../images/ZeldaSS/life2.png,../images/ZeldaSS/life3.png"
                            onclick="toggleItem('zss-f-2-life')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/seed.png" 
                            class="item" 
                            id="zss-f-2-seed"
                            data-levels="../images/ZeldaSS/seed.png,../images/ZeldaSS/seed2.png,../images/ZeldaSS/seed3.png"
                            onclick="toggleItem('zss-f-2-seed')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/bomb_bag.png" 
                            class="item" 
                            id="zss-f-2-bomb_bag"
                            data-levels="../images/ZeldaSS/bomb_bag.png,../images/ZeldaSS/bomb_bag2.png,../images/ZeldaSS/bomb_bag3.png"
                            onclick="toggleItem('zss-f-2-bomb_bag')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/quiver.png" 
                            class="item" 
                            id="zss-f-2-quiver"
                            data-levels="../images/ZeldaSS/quiver.png,../images/ZeldaSS/quiver2.png,../images/ZeldaSS/quiver3.png"
                            onclick="toggleItem('zss-f-2-quiver')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/heart_piece.png" 
                            class="item" 
                            id="zss-f-2-heart_piece"
                            data-max="24"
                            data-name="0"
                            onclick="toggleItem('zss-f-2-heart_piece')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/full_heart.png" 
                            class="item" 
                            id="zss-f-2-full_heart"
                            data-max="6"
                            data-name="0"
                            onclick="toggleItem('zss-f-2-full_heart')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/goddess.png" 
                            class="item" 
                            id="zss-f-2-goddess"
                            data-max="27"
                            data-name="0"
                            onclick="toggleItem('zss-f-2-goddess')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/extra_wallet.png" 
                            class="item" 
                            id="zss-f-2-extra_wallet"
                            data-max="3"
                            data-name="0"
                            onclick="toggleItem('zss-f-2-extra_wallet')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/wallet.png" 
                            class="item" 
                            id="zss-f-2-wallet"
                            data-levels="../images/ZeldaSS/wallet.png,../images/ZeldaSS/wallet2.png,../images/ZeldaSS/wallet3.png,../images/ZeldaSS/wallet4.png,../images/ZeldaSS/wallet5.png"
                            onclick="toggleItem('zss-f-2-wallet')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/mitts.png" 
                            class="item" 
                            id="zss-f-2-mitts"
                            data-levels="../images/ZeldaSS/mitts.png,../images/ZeldaSS/mitts2.png"
                            onclick="toggleItem('zss-f-2-mitts')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/triforce.png" 
                            class="item" 
                            id="zss-f-2-triforce"
                            data-levels="../images/ZeldaSS/triforce.png,../images/ZeldaSS/triforce2.png,../images/ZeldaSS/triforce3.png"
                            onclick="toggleItem('zss-f-2-triforce')">
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-column">
                <div class="inventory-section">
                    <h2 class="section-title">Insectes</h2>
                    <div class="inventory-card green-card"> 
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/bug_crasshopper.png" class="item" id="zss-f-2-bug_crasshopper" onclick="toggleItem('zss-f-2-bug_crasshopper')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/bug_rhino.png" class="item" id="zss-f-2-bug_rhino" onclick="toggleItem('zss-f-2-bug_rhino')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/bug_hornet.png" class="item" id="zss-f-2-bug_hornet" onclick="toggleItem('zss-f-2-bug_hornet')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/bug_mantis.png" class="item" id="zss-f-2-bug_mantis" onclick="toggleItem('zss-f-2-bug_mantis')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/bug_ladybug.png" class="item" id="zss-f-2-bug_ladybug" onclick="toggleItem('zss-f-2-bug_ladybug')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/bug_butterfly.png" class="item" id="zss-f-2-bug_butterfly" onclick="toggleItem('zss-f-2-bug_butterfly')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/bug_ant.png" class="item" id="zss-f-2-bug_ant" onclick="toggleItem('zss-f-2-bug_ant')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/bug_cicada.png" class="item" id="zss-f-2-bug_cicada" onclick="toggleItem('zss-f-2-bug_cicada')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/bug_dragonfly.png" class="item" id="zss-f-2-bug_dragonfly" onclick="toggleItem('zss-f-2-bug_dragonfly')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/bug_roller.png" class="item" id="zss-f-2-bug_roller" onclick="toggleItem('zss-f-2-bug_roller')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/bug_stag.png" class="item" id="zss-f-2-bug_stag" onclick="toggleItem('zss-f-2-bug_stag')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/bug_firefly.png" class="item" id="zss-f-2-bug_firefly" onclick="toggleItem('zss-f-2-bug_firefly')">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inventory-section">
                    <h2 class="section-title">Trésores</h2>
                    <div class="inventory-card purple-card"> 
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_larvae.png" class="item" id="zss-f-2-treasure_larvae" onclick="toggleItem('zss-f-2-treasure_larvae')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_bird.png" class="item" id="zss-f-2-treasure_bird" onclick="toggleItem('zss-f-2-treasure_bird')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_tumbleweed.png" class="item" id="zss-f-2-treasure_tumbleweed" onclick="toggleItem('zss-f-2-treasure_tumbleweed')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_lizard.png" class="item" id="zss-f-2-treasure_lizard" onclick="toggleItem('zss-f-2-treasure_lizard')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_ore.png" class="item" id="zss-f-2-treasure_ore" onclick="toggleItem('zss-f-2-treasure_ore')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_flower.png" class="item" id="zss-f-2-treasure_flower" onclick="toggleItem('zss-f-2-treasure_flower')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_amber.png" class="item" id="zss-f-2-treasure_amber" onclick="toggleItem('zss-f-2-treasure_amber')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_dusk.png" class="item" id="zss-f-2-treasure_dusk" onclick="toggleItem('zss-f-2-treasure_dusk')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_jelly.png" class="item" id="zss-f-2-treasure_jelly" onclick="toggleItem('zss-f-2-treasure_jelly')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_claw.png" class="item" id="zss-f-2-treasure_claw" onclick="toggleItem('zss-f-2-treasure_claw')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_horn.png" class="item" id="zss-f-2-treasure_horn" onclick="toggleItem('zss-f-2-treasure_horn')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_skull.png" class="item" id="zss-f-2-treasure_skull" onclick="toggleItem('zss-f-2-treasure_skull')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_evil.png" class="item" id="zss-f-2-treasure_evil" onclick="toggleItem('zss-f-2-treasure_evil')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_blue.png" class="item" id="zss-f-2-treasure_blue" onclick="toggleItem('zss-f-2-treasure_blue')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_golden.png" class="item" id="zss-f-2-treasure_golden" onclick="toggleItem('zss-f-2-treasure_golden')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure_goddess.png" class="item" id="zss-f-2-treasure_goddess" onclick="toggleItem('zss-f-2-treasure_goddess')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-column">
                <div class="inventory-section">
                    <h2 class="section-title">Potions & Bonus</h2>
                    <div class="inventory-card blue-card"> 
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/heart++.png" 
                                class="item" 
                                id="zss-f-2-heart++"
                                onclick="toggleItem('zss-f-2-heart++')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/stamina+.png" 
                                class="item" 
                                id="zss-f-2-stamina+"
                                onclick="toggleItem('zss-f-2-stamina+')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/air+.png" 
                                class="item" 
                                id="zss-f-2-air+"
                                onclick="toggleItem('zss-f-2-air+')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/revitalizing++.png" 
                                class="item" 
                                id="zss-f-2-revitalizing++"
                                onclick="toggleItem('zss-f-2-revitalizing++')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/guardian+.png" 
                                class="item" 
                                id="zss-f-2-guardian+"
                                onclick="toggleItem('zss-f-2-guardian+')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/bug.png" 
                                class="item" 
                                id="zss-f-2-bug"
                                onclick="toggleItem('zss-f-2-bug')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/cursed.png" 
                                class="item" 
                                id="zss-f-2-cursed"
                                onclick="toggleItem('zss-f-2-cursed')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/heart.png" 
                                class="item" 
                                id="zss-f-2-heart"
                                data-max="2"
                                data-name="0"
                                onclick="toggleItem('zss-f-2-heart')">
                                <p class="item-name">0</p>
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/life_medal.png" 
                                class="item" 
                                id="zss-f-2-life_medal"
                                data-max="2"
                                data-name="0"
                                onclick="toggleItem('zss-f-2-life_medal')">
                                <p class="item-name">0</p>
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/rupee.png" 
                                class="item" 
                                id="zss-f-2-rupee"
                                data-max="2"
                                data-name="0"
                                onclick="toggleItem('zss-f-2-rupee')">
                                <p class="item-name">0</p>
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasure.png" 
                                class="item" 
                                id="zss-f-2-treasure"
                                onclick="toggleItem('zss-f-2-treasure')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/potion.png" 
                                class="item" 
                                id="zss-f-2-potion"
                                onclick="toggleItem('zss-f-2-potion')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/cubes.png" 
                                class="item" 
                                id="zss-f-2-cubes"
                                onclick="toggleItem('zss-f-2-cubes')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/crystals.png" 
                                class="item" 
                                id="zss-f-2-crystals"
                                onclick="toggleItem('zss-f-2-crystals')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/hearts.png" 
                                class="item" 
                                id="zss-f-2-hearts"
                                onclick="toggleItem('zss-f-2-hearts')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/rupees.png" 
                                class="item" 
                                id="zss-f-2-rupees"
                                onclick="toggleItem('zss-f-2-rupees')">
                            </div>

                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/treasures.png" 
                                class="item" 
                                id="zss-f-2-treasures"
                                onclick="toggleItem('zss-f-2-treasures')">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inventory-section">
                    <h2 class="section-title">Avatar du Néant</h2>
                    <div class="inventory-card dark-card">
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/ZeldaSS/avatar.png" class="item boss-item" id="zss-f-2-avatar" onclick="toggleItem('zss-f-2-avatar')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-section">
            <h2 class="section-title">Progression Map</h2>
            <div class="inventory-card red-card"> 
                <div class="tracker-grid">

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D1</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/map.png" class="item" id="zss-f-2-map1" onclick="toggleItem('zss-f-2-map1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/key.png" class="item" id="zss-f-2-key1" data-max="1" data-name="0" onclick="toggleItem('zss-f-2-key1')"><p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/boss1.png" class="item" id="zss-f-2-boss1" onclick="toggleItem('zss-f-2-boss1')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D2</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/map.png" class="item" id="zss-f-2-map2" onclick="toggleItem('zss-f-2-map2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/earth.png" class="item" id="zss-f-2-earth" data-max="5" data-name="0" onclick="toggleItem('zss-f-2-earth')"><p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/boss2.png" class="item" id="zss-f-2-boss2" onclick="toggleItem('zss-f-2-boss2')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D3</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/map.png" class="item" id="zss-f-2-map3" onclick="toggleItem('zss-f-2-map3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/key.png" class="item" id="zss-f-2-key3" data-max="1" data-name="0" onclick="toggleItem('zss-f-2-key3')"><p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/boss3.png" class="item" id="zss-f-2-boss3" onclick="toggleItem('zss-f-2-boss3')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D4</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/map.png" class="item" id="zss-f-2-map4" onclick="toggleItem('zss-f-2-map4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/key.png" class="item" id="zss-f-2-key4" data-max="2" data-name="0" onclick="toggleItem('zss-f-2-key4')"><p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/boss4.png" class="item" id="zss-f-2-boss4" onclick="toggleItem('zss-f-2-boss4')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D5</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/map.png" class="item" id="zss-f-2-map5" onclick="toggleItem('zss-f-2-map5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/key.png" class="item" id="zss-f-2-key5" data-max="2" data-name="0" onclick="toggleItem('zss-f-2-key5')"><p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/boss5.png" class="item" id="zss-f-2-boss5" onclick="toggleItem('zss-f-2-boss5')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D6</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/map.png" class="item" id="zss-f-2-map6" onclick="toggleItem('zss-f-2-map6')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/key.png" class="item" id="zss-f-2-key6" data-max="3" data-name="0" onclick="toggleItem('zss-f-2-key6')"><p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/boss6.png" class="item" id="zss-f-2-boss6" onclick="toggleItem('zss-f-2-boss6')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D7</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/map.png" class="item" id="zss-f-2-map7" onclick="toggleItem('zss-f-2-map7')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/key.png" class="item" id="zss-f-2-key7" data-max="1" data-name="0" onclick="toggleItem('zss-f-2-key7')"><p class="item-name">0</p>
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">Cave</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaSS/key.png" class="item" id="zss-f-2-key8" data-max="1" data-name="0" onclick="toggleItem('zss-f-2-key8')"><p class="item-name">0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>