<!--
Nom du Projet : [https://faudatv.github.io/Tracker-Zelda/]
Auteur : [FaudaTV]
GitHub : https://github.com/FaudaTV
Licence : GNU AGPLv3
Note : Les images Nintendo sont la propriété de Nintendo.
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda TMC Figurines Tendo2 Collection</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="tmc.html" class="back-link">← Retour</a>
        <h1 class="main-title">FIGURINES Tendo - COLLECTION</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-2-columns">
            <div class="inventory-section">
                <h2 class="section-title">Figurines Tendo</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/1.png" 
                                class="item" 
                                id="ztmc-f-1-Tendo2" 
                                onclick="toggleItem('ztmc-f-1-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/2.png" 
                                class="item" 
                                id="ztmc-f-2-Tendo2" 
                                onclick="toggleItem('ztmc-f-2-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/3.png" 
                                class="item" 
                                id="ztmc-f-3-Tendo2" 
                                onclick="toggleItem('ztmc-f-3-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/4.png" 
                                class="item" 
                                id="ztmc-f-4-Tendo2" 
                                onclick="toggleItem('ztmc-f-4-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/5.png" 
                                class="item" 
                                id="ztmc-f-5-Tendo2" 
                                onclick="toggleItem('ztmc-f-5-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/6.png" 
                                class="item" 
                                id="ztmc-f-6-Tendo2" 
                                onclick="toggleItem('ztmc-f-6-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/7.png" 
                                class="item" 
                                id="ztmc-f-7-Tendo2" 
                                onclick="toggleItem('ztmc-f-7-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/8.png" 
                                class="item" 
                                id="ztmc-f-8-Tendo2" 
                                onclick="toggleItem('ztmc-f-8-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/9.png" 
                                class="item" 
                                id="ztmc-f-9-Tendo2" 
                                onclick="toggleItem('ztmc-f-9-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/10.png" 
                                class="item" 
                                id="ztmc-f-10-Tendo2" 
                                onclick="toggleItem('ztmc-f-10-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/11.png" 
                                class="item" 
                                id="ztmc-f-11-Tendo2" 
                                onclick="toggleItem('ztmc-f-11-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/12.png" 
                                class="item" 
                                id="ztmc-f-12-Tendo2" 
                                onclick="toggleItem('ztmc-f-12-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/13.png" 
                                class="item" 
                                id="ztmc-f-13-Tendo2" 
                                onclick="toggleItem('ztmc-f-13-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/14.png" 
                                class="item" 
                                id="ztmc-f-14-Tendo2" 
                                onclick="toggleItem('ztmc-f-14-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/15.png" 
                                class="item" 
                                id="ztmc-f-15-Tendo2" 
                                onclick="toggleItem('ztmc-f-15-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/16.png" 
                                class="item" 
                                id="ztmc-f-16-Tendo2" 
                                onclick="toggleItem('ztmc-f-16-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/17.png" 
                                class="item" 
                                id="ztmc-f-17-Tendo2" 
                                onclick="toggleItem('ztmc-f-17-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/18.png" 
                                class="item" 
                                id="ztmc-f-18-Tendo2" 
                                onclick="toggleItem('ztmc-f-18-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/19.png" 
                                class="item" 
                                id="ztmc-f-19-Tendo2" 
                                onclick="toggleItem('ztmc-f-19-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/20.png" 
                                class="item" 
                                id="ztmc-f-20-Tendo2" 
                                onclick="toggleItem('ztmc-f-20-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/21.png" 
                                class="item" 
                                id="ztmc-f-21-Tendo2" 
                                onclick="toggleItem('ztmc-f-21-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/22.png" 
                                class="item" 
                                id="ztmc-f-22-Tendo2" 
                                onclick="toggleItem('ztmc-f-22-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/23.png" 
                                class="item" 
                                id="ztmc-f-23-Tendo2" 
                                onclick="toggleItem('ztmc-f-23-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/24.png" 
                                class="item" 
                                id="ztmc-f-24-Tendo2" 
                                onclick="toggleItem('ztmc-f-24-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/25.png" 
                                class="item" 
                                id="ztmc-f-25-Tendo2" 
                                onclick="toggleItem('ztmc-f-25-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/26.png" 
                                class="item" 
                                id="ztmc-f-26-Tendo2" 
                                onclick="toggleItem('ztmc-f-26-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/27.png" 
                                class="item" 
                                id="ztmc-f-27-Tendo2" 
                                onclick="toggleItem('ztmc-f-27-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/28.png" 
                                class="item" 
                                id="ztmc-f-28-Tendo2" 
                                onclick="toggleItem('ztmc-f-28-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/29.png" 
                                class="item" 
                                id="ztmc-f-29-Tendo2" 
                                onclick="toggleItem('ztmc-f-29-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/30.png" 
                                class="item" 
                                id="ztmc-f-30-Tendo2" 
                                onclick="toggleItem('ztmc-f-30-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/31.png" 
                                class="item" 
                                id="ztmc-f-31-Tendo2" 
                                onclick="toggleItem('ztmc-f-31-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/32.png" 
                                class="item" 
                                id="ztmc-f-32-Tendo2" 
                                onclick="toggleItem('ztmc-f-32-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/33.png" 
                                class="item" 
                                id="ztmc-f-33-Tendo2" 
                                onclick="toggleItem('ztmc-f-33-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/34.png" 
                                class="item" 
                                id="ztmc-f-34-Tendo2" 
                                onclick="toggleItem('ztmc-f-34-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/35.png" 
                                class="item" 
                                id="ztmc-f-35-Tendo2" 
                                onclick="toggleItem('ztmc-f-35-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/36.png" 
                                class="item" 
                                id="ztmc-f-36-Tendo2" 
                                onclick="toggleItem('ztmc-f-36-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/37.png" 
                                class="item" 
                                id="ztmc-f-37-Tendo2" 
                                onclick="toggleItem('ztmc-f-37-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/38.png" 
                                class="item" 
                                id="ztmc-f-38-Tendo2" 
                                onclick="toggleItem('ztmc-f-38-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/39.png" 
                                class="item" 
                                id="ztmc-f-39-Tendo2" 
                                onclick="toggleItem('ztmc-f-39-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/40.png" 
                                class="item" 
                                id="ztmc-f-40-Tendo2" 
                                onclick="toggleItem('ztmc-f-40-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/41.png" 
                                class="item" 
                                id="ztmc-f-41-Tendo2" 
                                onclick="toggleItem('ztmc-f-41-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/42.png" 
                                class="item" 
                                id="ztmc-f-42-Tendo2" 
                                onclick="toggleItem('ztmc-f-42-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/43.png" 
                                class="item" 
                                id="ztmc-f-43-Tendo2" 
                                onclick="toggleItem('ztmc-f-43-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/44.png" 
                                class="item" 
                                id="ztmc-f-44-Tendo2" 
                                onclick="toggleItem('ztmc-f-44-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/45.png" 
                                class="item" 
                                id="ztmc-f-45-Tendo2" 
                                onclick="toggleItem('ztmc-f-45-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/46.png" 
                                class="item" 
                                id="ztmc-f-46-Tendo2" 
                                onclick="toggleItem('ztmc-f-46-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/47.png" 
                                class="item" 
                                id="ztmc-f-47-Tendo2" 
                                onclick="toggleItem('ztmc-f-47-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/48.png" 
                                class="item" 
                                id="ztmc-f-48-Tendo2" 
                                onclick="toggleItem('ztmc-f-48-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/49.png" 
                                class="item" 
                                id="ztmc-f-49-Tendo2" 
                                onclick="toggleItem('ztmc-f-49-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/50.png" 
                                class="item" 
                                id="ztmc-f-50-Tendo2" 
                                onclick="toggleItem('ztmc-f-50-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/51.png" 
                                class="item" 
                                id="ztmc-f-51-Tendo2" 
                                onclick="toggleItem('ztmc-f-51-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/52.png" 
                                class="item" 
                                id="ztmc-f-52-Tendo2" 
                                onclick="toggleItem('ztmc-f-52-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/53.png" 
                                class="item" 
                                id="ztmc-f-53-Tendo2" 
                                onclick="toggleItem('ztmc-f-53-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/54.png" 
                                class="item" 
                                id="ztmc-f-54-Tendo2" 
                                onclick="toggleItem('ztmc-f-54-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/55.png" 
                                class="item" 
                                id="ztmc-f-55-Tendo2" 
                                onclick="toggleItem('ztmc-f-55-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/56.png" 
                                class="item" 
                                id="ztmc-f-56-Tendo2" 
                                onclick="toggleItem('ztmc-f-56-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/57.png" 
                                class="item" 
                                id="ztmc-f-57-Tendo2" 
                                onclick="toggleItem('ztmc-f-57-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/58.png" 
                                class="item" 
                                id="ztmc-f-58-Tendo2" 
                                onclick="toggleItem('ztmc-f-58-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/59.png" 
                                class="item" 
                                id="ztmc-f-59-Tendo2" 
                                onclick="toggleItem('ztmc-f-59-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/60.png" 
                                class="item" 
                                id="ztmc-f-60-Tendo2" 
                                onclick="toggleItem('ztmc-f-60-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/61.png" 
                                class="item" 
                                id="ztmc-f-61-Tendo2" 
                                onclick="toggleItem('ztmc-f-61-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/62.png" 
                                class="item" 
                                id="ztmc-f-62-Tendo2" 
                                onclick="toggleItem('ztmc-f-62-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/63.png" 
                                class="item" 
                                id="ztmc-f-63-Tendo2" 
                                onclick="toggleItem('ztmc-f-63-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/64.png" 
                                class="item" 
                                id="ztmc-f-64-Tendo2" 
                                onclick="toggleItem('ztmc-f-64-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/65.png" 
                                class="item" 
                                id="ztmc-f-65-Tendo2" 
                                onclick="toggleItem('ztmc-f-65-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/66.png" 
                                class="item" 
                                id="ztmc-f-66-Tendo2" 
                                onclick="toggleItem('ztmc-f-66-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/67.png" 
                                class="item" 
                                id="ztmc-f-67-Tendo2" 
                                onclick="toggleItem('ztmc-f-67-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/68.png" 
                                class="item" 
                                id="ztmc-f-68-Tendo2" 
                                onclick="toggleItem('ztmc-f-68-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/69.png" 
                                class="item" 
                                id="ztmc-f-69-Tendo2" 
                                onclick="toggleItem('ztmc-f-69-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/70.png" 
                                class="item" 
                                id="ztmc-f-70-Tendo2" 
                                onclick="toggleItem('ztmc-f-70-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/71.png" 
                                class="item" 
                                id="ztmc-f-71-Tendo2" 
                                onclick="toggleItem('ztmc-f-71-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/72.png" class="item" id="ztmc-f-72-Tendo2" onclick="toggleItem('ztmc-f-72-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/73.png" class="item" id="ztmc-f-73-Tendo2" onclick="toggleItem('ztmc-f-73-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/74.png" class="item" id="ztmc-f-74-Tendo2" onclick="toggleItem('ztmc-f-74-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/75.png" class="item" id="ztmc-f-75-Tendo2" onclick="toggleItem('ztmc-f-75-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/76.png" class="item" id="ztmc-f-76-Tendo2" onclick="toggleItem('ztmc-f-76-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/77.png" class="item" id="ztmc-f-77-Tendo2" onclick="toggleItem('ztmc-f-77-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/78.png" class="item" id="ztmc-f-78-Tendo2" onclick="toggleItem('ztmc-f-78-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/79.png" class="item" id="ztmc-f-79-Tendo2" onclick="toggleItem('ztmc-f-79-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/80.png" class="item" id="ztmc-f-80-Tendo2" onclick="toggleItem('ztmc-f-80-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/81.png" class="item" id="ztmc-f-81-Tendo2" onclick="toggleItem('ztmc-f-81-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/82.png" class="item" id="ztmc-f-82-Tendo2" onclick="toggleItem('ztmc-f-82-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/83.png" class="item" id="ztmc-f-83-Tendo2" onclick="toggleItem('ztmc-f-83-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/84.png" class="item" id="ztmc-f-84-Tendo2" onclick="toggleItem('ztmc-f-84-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/85.png" class="item" id="ztmc-f-85-Tendo2" onclick="toggleItem('ztmc-f-85-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/86.png" class="item" id="ztmc-f-86-Tendo2" onclick="toggleItem('ztmc-f-86-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/87.png" class="item" id="ztmc-f-87-Tendo2" onclick="toggleItem('ztmc-f-87-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/88.png" class="item" id="ztmc-f-88-Tendo2" onclick="toggleItem('ztmc-f-88-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/89.png" class="item" id="ztmc-f-89-Tendo2" onclick="toggleItem('ztmc-f-89-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/90.png" class="item" id="ztmc-f-90-Tendo2" onclick="toggleItem('ztmc-f-90-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/91.png" class="item" id="ztmc-f-91-Tendo2" onclick="toggleItem('ztmc-f-91-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/92.png" class="item" id="ztmc-f-92-Tendo2" onclick="toggleItem('ztmc-f-92-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/93.png" class="item" id="ztmc-f-93-Tendo2" onclick="toggleItem('ztmc-f-93-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/94.png" class="item" id="ztmc-f-94-Tendo2" onclick="toggleItem('ztmc-f-94-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/95.png" class="item" id="ztmc-f-95-Tendo2" onclick="toggleItem('ztmc-f-95-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/96.png" class="item" id="ztmc-f-96-Tendo2" onclick="toggleItem('ztmc-f-96-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/97.png" class="item" id="ztmc-f-97-Tendo2" onclick="toggleItem('ztmc-f-97-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/98.png" class="item" id="ztmc-f-98-Tendo2" onclick="toggleItem('ztmc-f-98-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/99.png" class="item" id="ztmc-f-99-Tendo2" onclick="toggleItem('ztmc-f-99-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/100.png" class="item" id="ztmc-f-100-Tendo2" onclick="toggleItem('ztmc-f-100-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/101.png" class="item" id="ztmc-f-101-Tendo2" onclick="toggleItem('ztmc-f-101-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/102.png" class="item" id="ztmc-f-102-Tendo2" onclick="toggleItem('ztmc-f-102-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/103.png" class="item" id="ztmc-f-103-Tendo2" onclick="toggleItem('ztmc-f-103-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/104.png" class="item" id="ztmc-f-104-Tendo2" onclick="toggleItem('ztmc-f-104-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/105.png" class="item" id="ztmc-f-105-Tendo2" onclick="toggleItem('ztmc-f-105-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/106.png" class="item" id="ztmc-f-106-Tendo2" onclick="toggleItem('ztmc-f-106-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/107.png" class="item" id="ztmc-f-107-Tendo2" onclick="toggleItem('ztmc-f-107-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/108.png" class="item" id="ztmc-f-108-Tendo2" onclick="toggleItem('ztmc-f-108-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/109.png" class="item" id="ztmc-f-109-Tendo2" onclick="toggleItem('ztmc-f-109-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/110.png" class="item" id="ztmc-f-110-Tendo2" onclick="toggleItem('ztmc-f-110-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/111.png" class="item" id="ztmc-f-111-Tendo2" onclick="toggleItem('ztmc-f-111-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/112.png" class="item" id="ztmc-f-112-Tendo2" onclick="toggleItem('ztmc-f-112-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/113.png" class="item" id="ztmc-f-113-Tendo2" onclick="toggleItem('ztmc-f-113-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/114.png" class="item" id="ztmc-f-114-Tendo2" onclick="toggleItem('ztmc-f-114-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/115.png" class="item" id="ztmc-f-115-Tendo2" onclick="toggleItem('ztmc-f-115-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/116.png" class="item" id="ztmc-f-116-Tendo2" onclick="toggleItem('ztmc-f-116-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/117.png" class="item" id="ztmc-f-117-Tendo2" onclick="toggleItem('ztmc-f-117-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/118.png" class="item" id="ztmc-f-118-Tendo2" onclick="toggleItem('ztmc-f-118-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/119.png" class="item" id="ztmc-f-119-Tendo2" onclick="toggleItem('ztmc-f-119-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/120.png" class="item" id="ztmc-f-120-Tendo2" onclick="toggleItem('ztmc-f-120-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/121.png" class="item" id="ztmc-f-121-Tendo2" onclick="toggleItem('ztmc-f-121-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/122.png" class="item" id="ztmc-f-122-Tendo2" onclick="toggleItem('ztmc-f-122-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/123.png" class="item" id="ztmc-f-123-Tendo2" onclick="toggleItem('ztmc-f-123-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/124.png" class="item" id="ztmc-f-124-Tendo2" onclick="toggleItem('ztmc-f-124-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/125.png" class="item" id="ztmc-f-125-Tendo2" onclick="toggleItem('ztmc-f-125-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/126.png" class="item" id="ztmc-f-126-Tendo2" onclick="toggleItem('ztmc-f-126-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/127.png" class="item" id="ztmc-f-127-Tendo2" onclick="toggleItem('ztmc-f-127-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/128.png" class="item" id="ztmc-f-128-Tendo2" onclick="toggleItem('ztmc-f-128-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/129.png" class="item" id="ztmc-f-129-Tendo2" onclick="toggleItem('ztmc-f-129-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/130.png" class="item" id="ztmc-f-130-Tendo2" onclick="toggleItem('ztmc-f-130-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/131.png" class="item" id="ztmc-f-131-Tendo2" onclick="toggleItem('ztmc-f-131-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/132.png" class="item" id="ztmc-f-132-Tendo2" onclick="toggleItem('ztmc-f-132-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/133.png" class="item" id="ztmc-f-133-Tendo2" onclick="toggleItem('ztmc-f-133-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/134.png" class="item" id="ztmc-f-134-Tendo2" onclick="toggleItem('ztmc-f-134-Tendo2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/135.png" class="item" id="ztmc-f-135-Tendo2" onclick="toggleItem('ztmc-f-135-Tendo2')">
                        </div>  
                        <div class="item-wrapper">
                            <img src="../images/Tendo2/136.png" class="item" id="ztmc-f-136-Tendo2" onclick="toggleItem('ztmc-f-136-Tendo2')">
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>