<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda TWW First Quest</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="tww.html" class="back-link">← Retour</a>
        <h1 class="main-title">FIRST QUEST - ITEMS</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-3-columns">
            <div class="inventory-section">
                <h2 class="section-title">Équipement</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/sword.png" 
                            class="item" 
                            id="ztww-f-sword" 
                            data-levels="../images/ZeldaWW/sword.png,../images/ZeldaWW/sword2.png,../images/ZeldaWW/sword3.png,../images/ZeldaWW/sword4.png" 
                            onclick="toggleItem('ztww-f-sword')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/shield.png" 
                            class="item" 
                            id="ztww-f-shield" 
                            data-levels="../images/ZeldaWW/shield.png,../images/ZeldaWW/shield2.png" 
                            onclick="toggleItem('ztww-f-shield')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/arc.png" 
                            class="item" 
                            id="ztww-f-arc"  
                            onclick="toggleItem('ztww-f-arc')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/arrows.png" 
                            class="item" 
                            id="ztww-f-arrows"  
                            onclick="toggleItem('ztww-f-arrows')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/arrow_light.png" 
                            class="item" 
                            id="ztww-f-arrow_light"  
                            onclick="toggleItem('ztww-f-arrow_light')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/bait.png" 
                            class="item" 
                            id="ztww-f-bait"  
                            onclick="toggleItem('ztww-f-bait')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/beedle.png" 
                            class="item" 
                            id="ztww-f-beedle"
                            data-levels="../images/ZeldaWW/beedle.png,../images/ZeldaWW/beedle2.png"
                            onclick="toggleItem('ztww-f-beedle')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/blue.png" 
                            class="item" 
                            id="ztww-f-blue"
                            data-max="23"
                            data-name="0" 
                            onclick="toggleItem('ztww-f-blue')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/bomb.png" 
                            class="item" 
                            id="ztww-f-bomb"  
                            onclick="toggleItem('ztww-f-bomb')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/bomb_bag2.png" 
                            class="item" 
                            id="ztww-f-bomb_bag"
                            data-levels="../images/ZeldaWW/bomb_bag2.png,../images/ZeldaWW/bomb_bag3.png"
                            onclick="toggleItem('ztww-f-bomb_bag')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/boomerang.png" 
                            class="item" 
                            id="ztww-f-boomerang"  
                            onclick="toggleItem('ztww-f-boomerang')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/boots.png" 
                            class="item" 
                            id="ztww-f-boots"  
                            onclick="toggleItem('ztww-f-boots')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/bottle.png" 
                            class="item" 
                            id="ztww-f-bottle"
                            data-max="4"
                            data-name="0"
                            onclick="toggleItem('ztww-f-bottle')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/bracelets.png" 
                            class="item" 
                            id="ztww-f-bracelets"  
                            onclick="toggleItem('ztww-f-bracelets')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/cabana.png" 
                            class="item" 
                            id="ztww-f-cabana"  
                            onclick="toggleItem('ztww-f-cabana')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/deku.png" 
                            class="item" 
                            id="ztww-f-deku"  
                            onclick="toggleItem('ztww-f-deku')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/delivery.png" 
                            class="item" 
                            id="ztww-f-delivery"  
                            onclick="toggleItem('ztww-f-delivery')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/echange.png" 
                            class="item" 
                            id="ztww-f-echange"
                            data-levels="../images/ZeldaWW/echange.png,../images/ZeldaWW/echange2.png,../images/ZeldaWW/echange3.png,../images/ZeldaWW/echange4.png,../images/ZeldaWW/echange5.png,../images/ZeldaWW/echange6.png,../images/ZeldaWW/echange7.png,../images/ZeldaWW/echange8.png,../images/ZeldaWW/echange9.png,../images/ZeldaWW/echange10.png,../images/ZeldaWW/echange11.png,../images/ZeldaWW/echange12.png"
                            onclick="toggleItem('ztww-f-echange')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/fishman.png" 
                            class="item" 
                            id="ztww-f-fishman"
                            data-max="49"
                            data-name="0"
                            onclick="toggleItem('ztww-f-fishman')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/full_heart.png" 
                            class="item" 
                            id="ztww-f-full_heart"
                            data-max="6"
                            data-name="0"
                            onclick="toggleItem('ztww-f-full_heart')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/grandma.png" 
                            class="item" 
                            id="ztww-f-grandma"  
                            onclick="toggleItem('ztww-f-grandma')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/grappling.png" 
                            class="item" 
                            id="ztww-f-grappling"  
                            onclick="toggleItem('ztww-f-grappling')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/hammer.png" 
                            class="item" 
                            id="ztww-f-hammer"  
                            onclick="toggleItem('ztww-f-hammer')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/heart.png" 
                            class="item" 
                            id="ztww-f-heart"
                            data-max="44"
                            data-name="0"
                            onclick="toggleItem('ztww-f-heart')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/hero.png" 
                            class="item" 
                            id="ztww-f-hero"  
                            onclick="toggleItem('ztww-f-hero')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/hookshot.png" 
                            class="item" 
                            id="ztww-f-hookshot"  
                            onclick="toggleItem('ztww-f-hookshot')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/hurricane.png" 
                            class="item" 
                            id="ztww-f-hurricane"  
                            onclick="toggleItem('ztww-f-hurricane')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/joy.png" 
                            class="item" 
                            id="ztww-f-joy"
                            data-max="99"
                            data-name="0"
                            onclick="toggleItem('ztww-f-joy')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/magic.png" 
                            class="item" 
                            id="ztww-f-magic"  
                            onclick="toggleItem('ztww-f-magic')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/magic_metter.png" 
                            class="item" 
                            id="ztww-f-magic_metter"  
                            onclick="toggleItem('ztww-f-magic_metter')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/octo.png" 
                            class="item" 
                            id="ztww-f-octo"
                            data-max="6"
                            data-name="0"
                            onclick="toggleItem('ztww-f-octo')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/picto.png" 
                            class="item" 
                            id="ztww-f-picto"
                            data-levels="../images/ZeldaWW/picto.png,../images/ZeldaWW/picto2.png"
                            onclick="toggleItem('ztww-f-picto')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/pirate.png" 
                            class="item" 
                            id="ztww-f-pirate"  
                            onclick="toggleItem('ztww-f-pirate')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/puzzle.png" 
                            class="item" 
                            id="ztww-f-puzzle"
                            data-max="16"
                            data-name="0"
                            onclick="toggleItem('ztww-f-puzzle')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/quiver2.png" 
                            class="item" 
                            id="ztww-f-quiver"
                            data-levels="../images/ZeldaWW/quiver2.png,../images/ZeldaWW/quiver3.png"
                            onclick="toggleItem('ztww-f-quiver')">
                        </div>
                        
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/sail.png" 
                            class="item" 
                            id="ztww-f-sail"  
                            onclick="toggleItem('ztww-f-sail')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/spoils.png" 
                            class="item" 
                            id="ztww-f-spoils"  
                            onclick="toggleItem('ztww-f-spoils')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/telescope.png" 
                            class="item" 
                            id="ztww-f-telescope"  
                            onclick="toggleItem('ztww-f-telescope')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/tingle_statue.png" 
                            class="item" 
                            id="ztww-f-tingle_statue"
                            data-max="5"
                            data-name="0"
                            onclick="toggleItem('ztww-f-tingle_statue')">
                            <p class="item-name">0</p>
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/tingle_tuner.png" 
                            class="item" 
                            id="ztww-f-tingle_tuner"  
                            onclick="toggleItem('ztww-f-tingle_tuner')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/wallet2.png" 
                            class="item" 
                            id="ztww-f-wallet"
                            data-levels="../images/ZeldaWW/wallet2.png,../images/ZeldaWW/wallet3.png"
                            onclick="toggleItem('ztww-f-wallet')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/wind_waker.png" 
                            class="item" 
                            id="ztww-f-wind_waker"  
                            onclick="toggleItem('ztww-f-wind_waker')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/mom_letter.png" 
                            class="item" 
                            id="ztww-f-mom_letter"  
                            onclick="toggleItem('ztww-f-mom_letter')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/father_letter.png" 
                            class="item" 
                            id="ztww-f-father_letter"  
                            onclick="toggleItem('ztww-f-father_letter')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/maggie_letter.png" 
                            class="item" 
                            id="ztww-f-maggie_letter"  
                            onclick="toggleItem('ztww-f-maggie_letter')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/moblin_letter.png" 
                            class="item" 
                            id="ztww-f-moblin_letter"  
                            onclick="toggleItem('ztww-f-moblin_letter')">
                        </div>

                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/echange.png" 
                            class="item" 
                            id="ztww-f-plants"
                            data-max="39"
                            data-name="0"
                            onclick="toggleItem('ztww-f-plants')">
                            <p class="item-name">0</p>
                        </div>
                    </div>
                </div>        
            </div>

            <div class="inventory-column">
                <div class="inventory-section">
                    <h2 class="section-title">Son</h2>
                    <div class="inventory-card purple-card"> 
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/musique_wind.png" class="item" id="ztww-f-musique_wind" onclick="toggleItem('ztww-f-musique_wind')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/musique_gales.png" class="item" id="ztww-f-musique_gales" onclick="toggleItem('ztww-f-musique_gales')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/musique_melody.png" class="item" id="ztww-f-musique_melody" onclick="toggleItem('ztww-f-musique_melody')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/musique_earth.png" class="item" id="ztww-f-musique_earth" onclick="toggleItem('ztww-f-musique_earth')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/musique_aria.png" class="item" id="ztww-f-musique_aria" onclick="toggleItem('ztww-f-musique_aria')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/musique_passing.png" class="item" id="ztww-f-musique_passing" onclick="toggleItem('ztww-f-musique_passing')">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inventory-section">
                    <h2 class="section-title">Reliques des Déesses</h2>
                    <div class="inventory-card red-card"> 
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/din.png" class="item" id="ztww-f-din" onclick="toggleItem('ztww-f-din')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/farore.png" class="item" id="ztww-f-farore" onclick="toggleItem('ztww-f-farore')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/nayru.png" class="item" id="ztww-f-nayru" onclick="toggleItem('ztww-f-nayru')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/triforce.png" class="item" id="ztww-f-triforce" onclick="toggleItem('ztww-f-triforce')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/triforce2.png" class="item" id="ztww-f-triforce2" onclick="toggleItem('ztww-f-triforce2')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/triforce3.png" class="item" id="ztww-f-triforce3" onclick="toggleItem('ztww-f-triforce3')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/triforce4.png" class="item" id="ztww-f-triforce4" onclick="toggleItem('ztww-f-triforce4')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/triforce5.png" class="item" id="ztww-f-triforce5" onclick="toggleItem('ztww-f-triforce5')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/triforce6.png" class="item" id="ztww-f-triforce6" onclick="toggleItem('ztww-f-triforce6')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/triforce7.png" class="item" id="ztww-f-triforce7" onclick="toggleItem('ztww-f-triforce7')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/triforce8.png" class="item" id="ztww-f-triforce8" onclick="toggleItem('ztww-f-triforce8')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-column">
                <div class="inventory-section">
                    <h2 class="section-title">Carte</h2>
                    <div class="inventory-card green-card">
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/tingle_shart.png" class="item" id="ztww-f-tingle_shart" onclick="toggleItem('ztww-f-tingle_shart')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/in-credible.png" class="item" id="ztww-f-in-credible" onclick="toggleItem('ztww-f-in-credible')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/triforce_chart.png" class="item" id="ztww-f-triforce_chart" data-max="8" data-name="0" onclick="toggleItem('ztww-f-triforce_chart')"><p class="item-name">0</p>
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/ghost.png" class="item" id="ztww-f-ghost" onclick="toggleItem('ztww-f-ghost')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/treasure.png" class="item" id="ztww-f-treasure" data-max="61" data-name="0" onclick="toggleItem('ztww-f-treasure')"><p class="item-name">0</p>
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/beedle_chart.png" class="item" id="ztww-f-beedle_chart" onclick="toggleItem('ztww-f-beedle_chart')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/octo_chart.png" class="item" id="ztww-f-octo_chart" onclick="toggleItem('ztww-f-octo_chart')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/fairy_chart.png" class="item" id="ztww-f-fairy_chart" onclick="toggleItem('ztww-f-fairy_chart')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/heart_chart.png" class="item" id="ztww-f-heart_chart" onclick="toggleItem('ztww-f-heart_chart')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/island_chart.png" class="item" id="ztww-f-island_chart" onclick="toggleItem('ztww-f-island_chart')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/cave_chart.png" class="item" id="ztww-f-cave_chart" onclick="toggleItem('ztww-f-cave_chart')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/light_chart.png" class="item" id="ztww-f-light_chart" onclick="toggleItem('ztww-f-light_chart')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/plateform_chart.png" class="item" id="ztww-f-plateform_chart" onclick="toggleItem('ztww-f-plateform_chart')">
                            </div>
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/submarine_chart.png" class="item" id="ztww-f-submarine_chart" onclick="toggleItem('ztww-f-submarine_chart')">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inventory-section">
                    <h2 class="section-title">Ganondorf</h2>
                    <div class="inventory-card dark-card">
                        <div class="tracker-grid">
                            <div class="item-wrapper">
                                <img src="../images/ZeldaWW/ganondorf.png" class="item boss-item" id="ztww-f-ganondorf" onclick="toggleItem('ztww-f-ganondorf')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-section">
            <h2 class="section-title">Progression Map</h2>
            <div class="inventory-card blue-card"> 
                <div class="tracker-grid">

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">FM</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/map.png" class="item" id="ztww-f-map1" onclick="toggleItem('ztww-f-map1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/compass.png" class="item" id="ztww-f-cp1" onclick="toggleItem('ztww-f-cp1')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D1</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/map.png" class="item" id="ztww-f-map1" onclick="toggleItem('ztww-f-map1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/compass.png" class="item" id="ztww-f-cp1" onclick="toggleItem('ztww-f-cp1')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/key.png" class="item" id="ztww-f-key1" onclick="toggleItem('ztww-f-key1')" data-max="4" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/boss.png" class="item" id="ztww-f-boss1" onclick="toggleItem('ztww-f-boss1')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D2</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/map.png" class="item" id="ztww-f-map2" onclick="toggleItem('ztww-f-map2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/compass.png" class="item" id="ztww-f-cp2" onclick="toggleItem('ztww-f-cp2')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/key.png" class="item" id="ztww-f-key2" onclick="toggleItem('ztww-f-key2')" data-max="2" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/boss.png" class="item" id="ztww-f-boss2" onclick="toggleItem('ztww-f-boss2')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D3</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/map.png" class="item" id="ztww-f-map3" onclick="toggleItem('ztww-f-map3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/compass.png" class="item" id="ztww-f-cp3" onclick="toggleItem('ztww-f-cp3')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/key.png" class="item" id="ztww-f-key3" onclick="toggleItem('ztww-f-key3')" data-max="2" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/boss.png" class="item" id="ztww-f-boss3" onclick="toggleItem('ztww-f-boss3')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D4</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/map.png" class="item" id="ztww-f-map4" onclick="toggleItem('ztww-f-map4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/compass.png" class="item" id="ztww-f-cp4" onclick="toggleItem('ztww-f-cp4')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/key.png" class="item" id="ztww-f-key4" onclick="toggleItem('ztww-f-key4')" data-max="3" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/boss.png" class="item" id="ztww-f-boss4" onclick="toggleItem('ztww-f-boss4')">
                        </div>
                    </div>

                    <div class="dungeon-column">
                        <h3 class="dungeon-title">D5</h3>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/map.png" class="item" id="ztww-f-map5" onclick="toggleItem('ztww-f-map5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/compass.png" class="item" id="ztww-f-cp5" onclick="toggleItem('ztww-f-cp5')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/key.png" class="item" id="ztww-f-key5" onclick="toggleItem('ztww-f-key5')" data-max="2" data-name="0">
                            <p class="item-name">0</p>
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/ZeldaWW/boss.png" class="item" id="ztww-f-boss5" onclick="toggleItem('ztww-f-boss5')">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>