<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tracker - Zelda TWW Figurines Tendo Collection</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="zelda-bg">
    <header>
        <a href="tww.html" class="back-link">← Retour</a>
        <h1 class="main-title">FIGURINES TENDO - COLLECTION</h1>
    </header>

    <main class="quest-container">
        <div class="inventory-row split-2-columns">
            <div class="inventory-section">
                <h2 class="section-title">Figurines Tendo</h2>
                <div class="inventory-card base-card"> 
                    <div class="tracker-grid">
                        <div class="item-wrapper">
                            <img src="../images/Tendo/1.png" 
                                class="item" 
                                id="ztww-f-1-tendo" 
                                onclick="toggleItem('ztww-f-1-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/2.png" 
                                class="item" 
                                id="ztww-f-2-tendo" 
                                onclick="toggleItem('ztww-f-2-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/3.png" 
                                class="item" 
                                id="ztww-f-3-tendo" 
                                onclick="toggleItem('ztww-f-3-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/4.png" 
                                class="item" 
                                id="ztww-f-4-tendo" 
                                onclick="toggleItem('ztww-f-4-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/5.png" 
                                class="item" 
                                id="ztww-f-5-tendo" 
                                onclick="toggleItem('ztww-f-5-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/6.png" 
                                class="item" 
                                id="ztww-f-6-tendo" 
                                onclick="toggleItem('ztww-f-6-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/7.png" 
                                class="item" 
                                id="ztww-f-7-tendo" 
                                onclick="toggleItem('ztww-f-7-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/8.png" 
                                class="item" 
                                id="ztww-f-8-tendo" 
                                onclick="toggleItem('ztww-f-8-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/9.png" 
                                class="item" 
                                id="ztww-f-9-tendo" 
                                onclick="toggleItem('ztww-f-9-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/10.png" 
                                class="item" 
                                id="ztww-f-10-tendo" 
                                onclick="toggleItem('ztww-f-10-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/11.png" 
                                class="item" 
                                id="ztww-f-11-tendo" 
                                onclick="toggleItem('ztww-f-11-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/12.png" 
                                class="item" 
                                id="ztww-f-12-tendo" 
                                onclick="toggleItem('ztww-f-12-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/13.png" 
                                class="item" 
                                id="ztww-f-13-tendo" 
                                onclick="toggleItem('ztww-f-13-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/14.png" 
                                class="item" 
                                id="ztww-f-14-tendo" 
                                onclick="toggleItem('ztww-f-14-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/15.png" 
                                class="item" 
                                id="ztww-f-15-tendo" 
                                onclick="toggleItem('ztww-f-15-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/16.png" 
                                class="item" 
                                id="ztww-f-16-tendo" 
                                onclick="toggleItem('ztww-f-16-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/17.png" 
                                class="item" 
                                id="ztww-f-17-tendo" 
                                onclick="toggleItem('ztww-f-17-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/18.png" 
                                class="item" 
                                id="ztww-f-18-tendo" 
                                onclick="toggleItem('ztww-f-18-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/19.png" 
                                class="item" 
                                id="ztww-f-19-tendo" 
                                onclick="toggleItem('ztww-f-19-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/20.png" 
                                class="item" 
                                id="ztww-f-20-tendo" 
                                onclick="toggleItem('ztww-f-20-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/21.png" 
                                class="item" 
                                id="ztww-f-21-tendo" 
                                onclick="toggleItem('ztww-f-21-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/22.png" 
                                class="item" 
                                id="ztww-f-22-tendo" 
                                onclick="toggleItem('ztww-f-22-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/23.png" 
                                class="item" 
                                id="ztww-f-23-tendo" 
                                onclick="toggleItem('ztww-f-23-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/24.png" 
                                class="item" 
                                id="ztww-f-24-tendo" 
                                onclick="toggleItem('ztww-f-24-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/25.png" 
                                class="item" 
                                id="ztww-f-25-tendo" 
                                onclick="toggleItem('ztww-f-25-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/26.png" 
                                class="item" 
                                id="ztww-f-26-tendo" 
                                onclick="toggleItem('ztww-f-26-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/27.png" 
                                class="item" 
                                id="ztww-f-27-tendo" 
                                onclick="toggleItem('ztww-f-27-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/28.png" 
                                class="item" 
                                id="ztww-f-28-tendo" 
                                onclick="toggleItem('ztww-f-28-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/29.png" 
                                class="item" 
                                id="ztww-f-29-tendo" 
                                onclick="toggleItem('ztww-f-29-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/30.png" 
                                class="item" 
                                id="ztww-f-30-tendo" 
                                onclick="toggleItem('ztww-f-30-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/31.png" 
                                class="item" 
                                id="ztww-f-31-tendo" 
                                onclick="toggleItem('ztww-f-31-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/32.png" 
                                class="item" 
                                id="ztww-f-32-tendo" 
                                onclick="toggleItem('ztww-f-32-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/33.png" 
                                class="item" 
                                id="ztww-f-33-tendo" 
                                onclick="toggleItem('ztww-f-33-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/34.png" 
                                class="item" 
                                id="ztww-f-34-tendo" 
                                onclick="toggleItem('ztww-f-34-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/35.png" 
                                class="item" 
                                id="ztww-f-35-tendo" 
                                onclick="toggleItem('ztww-f-35-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/36.png" 
                                class="item" 
                                id="ztww-f-36-tendo" 
                                onclick="toggleItem('ztww-f-36-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/37.png" 
                                class="item" 
                                id="ztww-f-37-tendo" 
                                onclick="toggleItem('ztww-f-37-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/38.png" 
                                class="item" 
                                id="ztww-f-38-tendo" 
                                onclick="toggleItem('ztww-f-38-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/39.png" 
                                class="item" 
                                id="ztww-f-39-tendo" 
                                onclick="toggleItem('ztww-f-39-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/40.png" 
                                class="item" 
                                id="ztww-f-40-tendo" 
                                onclick="toggleItem('ztww-f-40-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/41.png" 
                                class="item" 
                                id="ztww-f-41-tendo" 
                                onclick="toggleItem('ztww-f-41-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/42.png" 
                                class="item" 
                                id="ztww-f-42-tendo" 
                                onclick="toggleItem('ztww-f-42-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/43.png" 
                                class="item" 
                                id="ztww-f-43-tendo" 
                                onclick="toggleItem('ztww-f-43-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/44.png" 
                                class="item" 
                                id="ztww-f-44-tendo" 
                                onclick="toggleItem('ztww-f-44-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/45.png" 
                                class="item" 
                                id="ztww-f-45-tendo" 
                                onclick="toggleItem('ztww-f-45-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/46.png" 
                                class="item" 
                                id="ztww-f-46-tendo" 
                                onclick="toggleItem('ztww-f-46-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/47.png" 
                                class="item" 
                                id="ztww-f-47-tendo" 
                                onclick="toggleItem('ztww-f-47-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/48.png" 
                                class="item" 
                                id="ztww-f-48-tendo" 
                                onclick="toggleItem('ztww-f-48-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/49.png" 
                                class="item" 
                                id="ztww-f-49-tendo" 
                                onclick="toggleItem('ztww-f-49-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/50.png" 
                                class="item" 
                                id="ztww-f-50-tendo" 
                                onclick="toggleItem('ztww-f-50-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/51.png" 
                                class="item" 
                                id="ztww-f-51-tendo" 
                                onclick="toggleItem('ztww-f-51-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/52.png" 
                                class="item" 
                                id="ztww-f-52-tendo" 
                                onclick="toggleItem('ztww-f-52-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/53.png" 
                                class="item" 
                                id="ztww-f-53-tendo" 
                                onclick="toggleItem('ztww-f-53-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/54.png" 
                                class="item" 
                                id="ztww-f-54-tendo" 
                                onclick="toggleItem('ztww-f-54-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/55.png" 
                                class="item" 
                                id="ztww-f-55-tendo" 
                                onclick="toggleItem('ztww-f-55-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/56.png" 
                                class="item" 
                                id="ztww-f-56-tendo" 
                                onclick="toggleItem('ztww-f-56-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/57.png" 
                                class="item" 
                                id="ztww-f-57-tendo" 
                                onclick="toggleItem('ztww-f-57-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/58.png" 
                                class="item" 
                                id="ztww-f-58-tendo" 
                                onclick="toggleItem('ztww-f-58-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/59.png" 
                                class="item" 
                                id="ztww-f-59-tendo" 
                                onclick="toggleItem('ztww-f-59-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/60.png" 
                                class="item" 
                                id="ztww-f-60-tendo" 
                                onclick="toggleItem('ztww-f-60-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/61.png" 
                                class="item" 
                                id="ztww-f-61-tendo" 
                                onclick="toggleItem('ztww-f-61-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/62.png" 
                                class="item" 
                                id="ztww-f-62-tendo" 
                                onclick="toggleItem('ztww-f-62-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/63.png" 
                                class="item" 
                                id="ztww-f-63-tendo" 
                                onclick="toggleItem('ztww-f-63-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/64.png" 
                                class="item" 
                                id="ztww-f-64-tendo" 
                                onclick="toggleItem('ztww-f-64-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/65.png" 
                                class="item" 
                                id="ztww-f-65-tendo" 
                                onclick="toggleItem('ztww-f-65-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/66.png" 
                                class="item" 
                                id="ztww-f-66-tendo" 
                                onclick="toggleItem('ztww-f-66-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/67.png" 
                                class="item" 
                                id="ztww-f-67-tendo" 
                                onclick="toggleItem('ztww-f-67-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/68.png" 
                                class="item" 
                                id="ztww-f-68-tendo" 
                                onclick="toggleItem('ztww-f-68-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/69.png" 
                                class="item" 
                                id="ztww-f-69-tendo" 
                                onclick="toggleItem('ztww-f-69-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/70.png" 
                                class="item" 
                                id="ztww-f-70-tendo" 
                                onclick="toggleItem('ztww-f-70-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/71.png" 
                                class="item" 
                                id="ztww-f-71-tendo" 
                                onclick="toggleItem('ztww-f-71-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/72.png" class="item" id="ztww-f-72-tendo" onclick="toggleItem('ztww-f-72-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/73.png" class="item" id="ztww-f-73-tendo" onclick="toggleItem('ztww-f-73-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/74.png" class="item" id="ztww-f-74-tendo" onclick="toggleItem('ztww-f-74-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/75.png" class="item" id="ztww-f-75-tendo" onclick="toggleItem('ztww-f-75-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/76.png" class="item" id="ztww-f-76-tendo" onclick="toggleItem('ztww-f-76-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/77.png" class="item" id="ztww-f-77-tendo" onclick="toggleItem('ztww-f-77-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/78.png" class="item" id="ztww-f-78-tendo" onclick="toggleItem('ztww-f-78-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/79.png" class="item" id="ztww-f-79-tendo" onclick="toggleItem('ztww-f-79-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/80.png" class="item" id="ztww-f-80-tendo" onclick="toggleItem('ztww-f-80-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/81.png" class="item" id="ztww-f-81-tendo" onclick="toggleItem('ztww-f-81-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/82.png" class="item" id="ztww-f-82-tendo" onclick="toggleItem('ztww-f-82-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/83.png" class="item" id="ztww-f-83-tendo" onclick="toggleItem('ztww-f-83-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/84.png" class="item" id="ztww-f-84-tendo" onclick="toggleItem('ztww-f-84-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/85.png" class="item" id="ztww-f-85-tendo" onclick="toggleItem('ztww-f-85-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/86.png" class="item" id="ztww-f-86-tendo" onclick="toggleItem('ztww-f-86-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/87.png" class="item" id="ztww-f-87-tendo" onclick="toggleItem('ztww-f-87-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/88.png" class="item" id="ztww-f-88-tendo" onclick="toggleItem('ztww-f-88-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/89.png" class="item" id="ztww-f-89-tendo" onclick="toggleItem('ztww-f-89-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/90.png" class="item" id="ztww-f-90-tendo" onclick="toggleItem('ztww-f-90-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/91.png" class="item" id="ztww-f-91-tendo" onclick="toggleItem('ztww-f-91-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/92.png" class="item" id="ztww-f-92-tendo" onclick="toggleItem('ztww-f-92-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/93.png" class="item" id="ztww-f-93-tendo" onclick="toggleItem('ztww-f-93-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/94.png" class="item" id="ztww-f-94-tendo" onclick="toggleItem('ztww-f-94-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/95.png" class="item" id="ztww-f-95-tendo" onclick="toggleItem('ztww-f-95-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/96.png" class="item" id="ztww-f-96-tendo" onclick="toggleItem('ztww-f-96-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/97.png" class="item" id="ztww-f-97-tendo" onclick="toggleItem('ztww-f-97-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/98.png" class="item" id="ztww-f-98-tendo" onclick="toggleItem('ztww-f-98-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/99.png" class="item" id="ztww-f-99-tendo" onclick="toggleItem('ztww-f-99-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/100.png" class="item" id="ztww-f-100-tendo" onclick="toggleItem('ztww-f-100-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/101.png" class="item" id="ztww-f-101-tendo" onclick="toggleItem('ztww-f-101-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/102.png" class="item" id="ztww-f-102-tendo" onclick="toggleItem('ztww-f-102-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/103.png" class="item" id="ztww-f-103-tendo" onclick="toggleItem('ztww-f-103-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/104.png" class="item" id="ztww-f-104-tendo" onclick="toggleItem('ztww-f-104-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/105.png" class="item" id="ztww-f-105-tendo" onclick="toggleItem('ztww-f-105-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/106.png" class="item" id="ztww-f-106-tendo" onclick="toggleItem('ztww-f-106-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/107.png" class="item" id="ztww-f-107-tendo" onclick="toggleItem('ztww-f-107-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/108.png" class="item" id="ztww-f-108-tendo" onclick="toggleItem('ztww-f-108-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/109.png" class="item" id="ztww-f-109-tendo" onclick="toggleItem('ztww-f-109-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/110.png" class="item" id="ztww-f-110-tendo" onclick="toggleItem('ztww-f-110-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/111.png" class="item" id="ztww-f-111-tendo" onclick="toggleItem('ztww-f-111-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/112.png" class="item" id="ztww-f-112-tendo" onclick="toggleItem('ztww-f-112-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/113.png" class="item" id="ztww-f-113-tendo" onclick="toggleItem('ztww-f-113-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/114.png" class="item" id="ztww-f-114-tendo" onclick="toggleItem('ztww-f-114-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/115.png" class="item" id="ztww-f-115-tendo" onclick="toggleItem('ztww-f-115-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/116.png" class="item" id="ztww-f-116-tendo" onclick="toggleItem('ztww-f-116-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/117.png" class="item" id="ztww-f-117-tendo" onclick="toggleItem('ztww-f-117-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/118.png" class="item" id="ztww-f-118-tendo" onclick="toggleItem('ztww-f-118-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/119.png" class="item" id="ztww-f-119-tendo" onclick="toggleItem('ztww-f-119-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/120.png" class="item" id="ztww-f-120-tendo" onclick="toggleItem('ztww-f-120-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/121.png" class="item" id="ztww-f-121-tendo" onclick="toggleItem('ztww-f-121-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/122.png" class="item" id="ztww-f-122-tendo" onclick="toggleItem('ztww-f-122-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/123.png" class="item" id="ztww-f-123-tendo" onclick="toggleItem('ztww-f-123-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/124.png" class="item" id="ztww-f-124-tendo" onclick="toggleItem('ztww-f-124-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/125.png" class="item" id="ztww-f-125-tendo" onclick="toggleItem('ztww-f-125-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/126.png" class="item" id="ztww-f-126-tendo" onclick="toggleItem('ztww-f-126-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/127.png" class="item" id="ztww-f-127-tendo" onclick="toggleItem('ztww-f-127-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/128.png" class="item" id="ztww-f-128-tendo" onclick="toggleItem('ztww-f-128-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/129.png" class="item" id="ztww-f-129-tendo" onclick="toggleItem('ztww-f-129-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/130.png" class="item" id="ztww-f-130-tendo" onclick="toggleItem('ztww-f-130-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/131.png" class="item" id="ztww-f-131-tendo" onclick="toggleItem('ztww-f-131-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/132.png" class="item" id="ztww-f-132-tendo" onclick="toggleItem('ztww-f-132-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/133.png" class="item" id="ztww-f-133-tendo" onclick="toggleItem('ztww-f-133-tendo')">
                        </div>
                        <div class="item-wrapper">
                            <img src="../images/Tendo/134.png" class="item" id="ztww-f-134-tendo" onclick="toggleItem('ztww-f-134-tendo')">
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../script.js"></script>
</body>
</html>